@using System.Web
@model FrontEnd.Modules.ContentBox.Models.ContentBoxViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Box</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!--<link href="/ContentBox/assets/minimalist-blocks/content.css" rel="stylesheet" type="text/css" />-->
    <link href="/ContentBox/box/box-flex.css" rel="stylesheet" type="text/css">
    <link href="/ContentBox/assets/scripts/glide/css/glide.core.css" rel="stylesheet" type="text/css">
    <link href="/ContentBox/assets/scripts/glide/css/glide.theme.css" rel="stylesheet" type="text/css">
    <link href="/ContentBox/assets/scripts/navbar/navbar.css" rel="stylesheet" type="text/css">
    <link href="/ContentBox/contentbox/contentbox.css" rel="stylesheet" type="text/css">
    <link href="/ContentBox/contentbuilder/contentbuilder.css" rel="stylesheet" type="text/css">
    <link href="@(Model.ApiRoot)templates/css-for-html-editors?encryptedUserId=@HttpUtility.UrlEncode(Model.UserId)&subDomain=@HttpUtility.UrlEncode(Model.SubDomain)" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" v-cloak>
        <div id="ContentBoxWrapper" class="wrapper is-wrapper">
        </div>
    </div>

<script id="vue-config" type="application/json">
    {
        "apiBase": "@Model.Settings.ApiBaseUrl",
        "apiRoot": "@Model.ApiRoot",
        "subDomain": "@Model.SubDomain" ,
        "isTestEnvironment": @Model.IsTestEnvironment.ToString().ToLowerInvariant(),
        "wiser1BaseUrl": "@Model.Wiser1BaseUrl",
        "loadPartnerStyle": @Model.LoadPartnerStyle.ToString().ToLowerInvariant(),
        "apiClientId": "@Model.Settings.ApiClientId",
        "apiClientSecret": "@Model.Settings.ApiClientSecret",
        "trackJsToken": "@Model.Settings.TrackJsToken",
        "markerIoToken": "@Model.Settings.MarkerIoToken",
        "wiserItemId": @Model.WiserItemId,
        "propertyName": "@Model.PropertyName",
        "languageCode": "@Model.LanguageCode",
        "encryptedUserId": "@Html.Raw(Model.UserId)"
    }
    </script>
    <script type="module" src="/ContentBox/contentbox/lang/en.js"></script>
    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="contentbox.js"></webpack-script>
    <webpack-script file-name="ContentBox.js"></webpack-script>
</body>
</html>
