@model FrontEnd.Modules.Base.Models.BaseModuleViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd

<!DOCTYPE html>
<html>
<head runat="server">
    <title>Wiser 3 - Import</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />

    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    <style>
        #wiser, #import-upload {
            display: none;
        }
    </style>
</head>
<body data-wiser-api-root="@Model.ApiRoot"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken">
    <div id="wiser">
        <div id="window" class="import-module" style="margin: 0 auto; padding: 0;">
            <div class="pane-content">
                <div id="mainLoader" class="fullscreen-loader loading">
                    <div class="loader-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div id="ImportHtml"></div>
            </div>

            <!-- WINDOW - ALERT -->
            <div id="import-upload" class="x-window alert-window">
                <div class="item clear">
                    <p>De import is klaargezet. Zodra deze gereed is, ontvangt u bericht.</p>
                    <button id="closeButton" class="k-primary button rightButton">OK</button>
                </div>
            </div>
        </div>
    </div>

    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="Processing.js"></webpack-script>
    <webpack-script file-name="kendo-ui.js"></webpack-script>
    <webpack-script file-name="Import.js"></webpack-script>
</body>
</html>
