@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div>
    <div class="formview compact" id="ImportContainer">
        <div class="item" id="EmailAddressContainer">
            <h4><label for="UserEmailAddress">@Localizer["E-mail address"]</label></h4>
            <input name="email" type="email" class="k-input" id="UserEmailAddress" />
            <div class="form-hint"><span>@Localizer["We couldn't find an email address in your account. Please enter an email address so we can notify you when the import is completed."]</span></div>
            <div class="clear clear15"></div>
        </div>

        <div class="item">
            <h4><label for="ImportName">@Localizer["Name"]</label></h4>
            <input name="name" type="text" class="k-input" id="ImportName" />
            <div class="form-hint"><span>@Localizer["Enter a name for this import so that you can recognize this import later."]</span></div>
            <div class="clear clear15"></div>
        </div>

        <div class="item">
            <h4><label for="DateTime">@Localizer["Start date and time"]</label></h4>
            <input name="datetime" type="date" class="k-input datetimepicker" id="StartDateTime" />
            <div class="form-hint"><span>@Localizer["Choose a time when the import should be started. If no value is entered, or a moment in the past, the import will be started as soon as possible."] <br /> <strong>@Localizer["Attention:"]</strong> @Localizer["Choose a time when there are not many users, for example at night, because importing data is a heavy process."]</span></div>
            <div class="clear clear15"></div>
        </div>

        <div class="item">
            <h4><label>@Localizer["Data file or URL"]</label></h4>
            <input name="fileUpload" class="fileUpload" type="file" />
            <div class="form-hint"><span>@Localizer["Select a data file... (max. 25 MB)"]</span></div>
            <div class="clear clear15"></div>
        </div>
        <div class="item">
            <h4 class="tooltip-left">
                <label>@Localizer["Images"]</label>
                <span class="info-link">
                    <ins class="icon-info-full"></ins>
                    <span class="info-tooltip">
                        <span>@Localizer["The value of the field in the data file that should import the image must contain the name of the image as it is contained in the ZIP file, for example &quot;product.jpg&quot;. The images in the ZIP file must not be in a folder."]</span>
                    </span>
                </span>
            </h4>
            <input name="imgUpload" class="imgUpload" type="file" />
            <div class="form-hint"><span>@Localizer["Select a ZIP file with images... (max. 400 MB)"]</span></div>
            <div class="clear clear15"></div>
        </div>
        <div class="item">
            <h4 class="tooltip">
                <label>@Localizer["Import properties"]</label>
                <span class="info-link">
                    <ins class="icon-info-full"></ins>
                    <span class="info-tooltip">
                        <span>
                            @Localizer["Choose in the column &quot;Import to&quot; the entity type of the items in the import file. This will automatically be filled in all other rows. At specification name, a choice will have to be made for each property to be imported. Only rows with a check mark are included in the import."]
                        </span>
                    </span>
                </span>
            </h4>
            <div id="importGrid" class="grid"></div>
        </div>

        <div class="item">
            <h4 class="tooltip">
                <label>@Localizer["Import links"]</label>
                <span class="info-link">
                    <ins class="icon-info-full"></ins>
                    <span class="info-tooltip tooltip-wide">
                        <span>
                            @Localizer["Here you can set how the imported items should be linked. The value of the field that will create a link must be the numerical value of an item, i.e. the item ID. Link type what kind of link it will be. The column &quot;Value is the target item&quot; means that the imported item is linked to that item, instead of the item from that link being linked to the imported item. Only rows with a check mark are included in the import."]
                        </span>
                    </span>
                </span>
            </h4>
            <div id="importLinksGrid" class="grid"></div>
        </div>

        <div class="item hidden" id="importLinkDetailsContainer">
            <h4 class="tooltip">
                <label>@Localizer["Import link properties"]</label>
                <span class="info-link">
                    <ins class="icon-info-full"></ins>
                    <span class="info-tooltip">
                        <span>@Localizer["Choose in the column &quot;Linktype&quot; the link type of the items in the import file. This allows values to be filled that are stored with a link between 2 items. In Wiser, these fields can always be found on the 'Fields from link' tab. At specification name, a choice will have to be made for each property to be imported. Only rows with a check mark are included in the import."]</span>
                    </span>
                </span>
            </h4>
            <div id="importLinkDetailsGrid" class="grid"></div>
        </div>

        <!-- FIXED FOOTER -->
        <footer class="fixed">
            <div class="actions">
                <button id="startImportButton" class="k-primary button rightButton">@Localizer["Prepare import"]</button>
            </div>
        </footer>
    </div>
</div>