@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FrontEnd.Modules.Base.Models.BaseModuleViewModel
@inject FrontEnd.Core.Interfaces.IWebPackService WebPackService

<!DOCTYPE html>
<html>

<head runat="server">
    <title>@Localizer["Wiser 3 - Import/Export"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />

    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    <style>
        #wiser, #tabstrip, #import-upload {
            display: none;
        }
    </style>
</head>
<body data-wiser-api-root="@Model.ApiRoot"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken">
    <div id="wiser">
        <div id="window" class="import-module" style="margin: 0 auto; padding: 0;">
            <div class="pane-content">
                <div id="mainLoader" class="fullscreen-loader loading">
                    <div class="loader-icon">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <!-- TABS -->
                <div id="tabstrip">
                    <ul>
                        <li class="k-state-active">@Localizer["Import"]</li>
                        <li>@Localizer["Export"]</li>
                        <li>@Localizer["Delete items/"]</li>
                        <li>@Localizer["Delete links"]</li>
                    </ul>

                    <div id="ImportHtml"></div>

                    <div id="ExportHtml"></div>

                    <div id="DeleteItemsHtml">
                        <div>
                            <div class="formview compact" id="DeleteItemsContainer">
                                <div class="item">
                                    <h4 class="tooltip">
                                        <label>@Localizer["Delete items/"]</label>
                                        <span class="info-link">
                                            <ins class="icon-info-full"></ins>
                                            <span class="info-tooltip">
                                                <span>
                                                    @Localizer["Delete easily multiple items within Wiser."]
                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                </div>

                                <div class="item">
                                    <div>
                                        <input type="radio" name="DeleteItemsType" id="DeleteItemsFile" class="noForm rToggle" value="datafile" checked="checked" />
                                        <header>
                                            <label for="DeleteItemsFile" class="radio rToggle"><span>@Localizer["File"]</span></label>
                                        </header>
                                        <div>
                                            <div class="item">
                                                <h4>
                                                    <label>@Localizer["Data file"]</label>
                                                </h4>
                                                <input name="fileUpload" class="fileUpload removeItemsFileUpload" type="file" />
                                                <div class="form-hint"><span>@Localizer["Select a data file... (max. 25 MB)"]</span></div>
                                                <div class="clear clear15"></div>
                                            </div>

                                            <div class="item">
                                                <h4 class="tooltip-left">
                                                    <label>@Localizer["Entity"]</label>
                                                    <span class="info-link">
                                                        <ins class="icon-info-full"></ins>
                                                        <span class="info-tooltip">
                                                            <span>
                                                                @Localizer["Choose the entity of the items to be deleted."]
                                                            </span>
                                                        </span>
                                                    </span>
                                                </h4>
                                                <div id="EntityTypesContainer">
                                                    <select class="combo-select" placeholder="@Localizer["Make your choice..."]">
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <h4 class="tooltip-left">
                                                    <label>@Localizer["Match against"]</label>
                                                    <span class="info-link">
                                                        <ins class="icon-info-full"></ins>
                                                        <span class="info-tooltip">
                                                            <span>
                                                                @Localizer["Choose the property of the value which should match the supplied data."]
                                                            </span>
                                                        </span>
                                                    </span>
                                                </h4>
                                                <div id="EntityPropertiesContainer">
                                                    <select class="combo-select" placeholder="@Localizer["Make your choice..."]">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <input type="radio" name="DeleteItemsType" id="DeleteItemsDataSelector" class="noForm rToggle" value="dataselector" />
                                        <header>
                                            <label for="DeleteItemsDataSelector" class="radio rToggle"><span>@Localizer["Selection"]</span></label>
                                        </header>
                                        <div>
                                            <div class="item">
                                                <h4 class="tooltip-left">
                                                    <label>@Localizer["Data selector"]</label>
                                                    <span class="info-link">
                                                        <ins class="icon-info-full"></ins>
                                                        <span class="info-tooltip">
                                                            <span>
                                                                @Localizer["Use the Data selector to select which items should be deleted."]
                                                            </span>
                                                        </span>
                                                    </span>
                                                </h4>
                                            </div>
                                            <div id="dataSelectorContainer">
                                                <iframe id="dataSelectorIframe" src="/Modules/DataSelector?embedded=true&amp;embedoptions=no-save-button"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <footer class="fixed">
                                    <div class="actions">
                                        <button id="deleteItemsButton" class="k-primary button rightButton">@Localizer["Start actions"]</button>
                                    </div>
                                </footer>

                            </div>
                        </div>
                    </div>

                    <div id="DeleteConnectionsHtml">
                        <div>
                            <div class="formview compact" id="DeleteConnectionsContainer">
                                <div class="item">
                                    <h4 class="tooltip">
                                        <label>@Localizer["Verwijderen koppelingen"]</label>
                                        <span class="info-link">
                                            <ins class="icon-info-full"></ins>
                                            <span class="info-tooltip">
                                                <span>
                                                    @Localizer["Delete easily multiple items within Wiser."]
                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                </div>

                                <div class="item">
                                    <h4>
                                        <label>@Localizer["Data file"]</label>
                                    </h4>
                                    <input name="fileUpload" class="fileUpload removeConnectionsFileUpload" type="file" />
                                    <div class="form-hint"><span>@Localizer["Select a data file... (max. 25 MB)"]</span></div>
                                    <div class="clear clear15"></div>
                                </div>

                                <div class="item singleColumnItem">
                                    <h4 class="tooltip-left">
                                        <label>@Localizer["Link type/"]</label>
                                        <span class="info-link">
                                            <ins class="icon-info-full"></ins>
                                            <span class="info-tooltip">
                                                <span>
                                                    @Localizer["Choose the link type which is linked and you want to delete. The supplied file can contain the IDs of both the origin and the destination."]
                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                    <select id="deleteConnectionsLinkCombobox" class="combo-select" placeholder="@Localizer["Make your choice..."]">
                                    </select>
                                </div>

                                <div class="item multipleColumnsItem">
                                    <h4 class="tooltip">
                                        <label>@Localizer["Match columns"]</label>
                                        <span class="info-link">
                                            <ins class="icon-info-full"></ins>
                                            <span class="info-tooltip tooltip-wide">
                                                <span>
                                                    @Localizer["Choose the entities between which links should be removed and choose the properties of values which should match the supplied data."]
                                                </span>
                                            </span>
                                        </span>
                                    </h4>
                                    <div id="DeleteConnectionsGrid" class="grid"></div>
                                </div>

                                <footer class="fixed clear">
                                    <div class="actions">
                                        <button id="deleteConnectionsButton" class="k-primary button rightButton">@Localizer["Start actions"]</button>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- WINDOW - ALERT -->
            <div id="import-upload" class="x-window alert-window">
                <div class="item clear">
                    <p>@Localizer["The import is prepared. You will be notified as soon as it is completed."]</p>
                    <button id="closeButton" class="k-primary button rightButton">@Localizer["OK"]</button>
                </div>
            </div>
        </div>
    </div>

    <script src="@await WebPackService.GetManifestFileAsync("Utils.js")"></script>
    <script src="@await WebPackService.GetManifestFileAsync("Base.js")"></script>
    <script src="@await WebPackService.GetManifestFileAsync("ImportExport.js")"></script>
    <script src="@await WebPackService.GetManifestFileAsync("Import.js")"></script>
    <script src="@await WebPackService.GetManifestFileAsync("Export.js")"></script>
</body>
</html>