@using GeeksCoreLibrary.Modules.Templates.Enums
@model Api.Modules.Templates.Models.Template.LinkedTemplatesModel
<div class="item" style="width: 50%;">
    <span class="handler">&nbsp;</span>
    <h4><label for="css-templates">Gekoppelde (S)CSS templates</label></h4>
    <ul id="scss-checklist" class="checkboxlist ">
        @foreach (var linkedTemplate in @Model.LinkedSccsTemplates)
        {
            <li>
                <label class="checkbox">
                    <input type="checkbox" value="1" checked="checked" data-template="@linkedTemplate.TemplateId">
                    <span>ParentName >> @linkedTemplate.TemplateName (SCSS)</span>
                </label>
            </li>
        }
        @foreach (var linkOption in @Model.LinkOptionsTemplates)
        {
            if (linkOption.LinkType == TemplateTypes.Scss)
            {
                <li>
                    <label class="checkbox">
                        <input type="checkbox" value="1" data-template="@linkOption.TemplateId">
                        <span>ParentName >> @linkOption.TemplateName (SCSS)</span>
                    </label>
                </li>
            }
        }
    </ul>
</div>

<div class="item" style="width: 50%;">
    <span class="handler">&nbsp;</span>
    <h4><label for="js-templates">Gekoppelde JS templates</label></h4>
    <ul id="js-checklist" class="checkboxlist ">
        @foreach (var linkedTemplate in @Model.LinkedJavascript)
        {
            <li>
                <label class="checkbox">
                    <input type="checkbox" value="1" checked="checked" data-template="@linkedTemplate.TemplateId">
                    <span>ParentName >> @linkedTemplate.TemplateName (JS)</span>
                </label>
            </li>
        }
        @foreach (var linkOption in @Model.LinkOptionsTemplates)
        {
            if (linkOption.LinkType == TemplateTypes.Js)
            {
                <li>
                    <label class="checkbox">
                        <input type="checkbox" value="1" data-template="@linkOption.TemplateId">
                        <span>ParentName >> @linkOption.TemplateName (JS)</span>
                    </label>
                </li>
            }
        }
    </ul>
</div>