@model Api.Modules.Templates.Models.Template.TemplateDataModel
@{
    var versionList = Model.PublishedEnvironments.GetVersionList();
}

<div id="published-environments" class="item version-block" style="width: 100%">
    <h4><label>Versie @Model.Version . Laatst gewijzigd door @Model.ChangedBy op @Model.ChangedOn</label></h4>

    <div class="formview full">
        <div class="item version-live">
            <div class="flex-container">
                <select class="combo-select" placeholder="Maak uw keuze...">
                    @foreach (int version in versionList)
                    {
                        if (version == Model.PublishedEnvironments.GetLive())
                        {
                            <option value="@version" selected>@version</option>
                        }
                        else
                        {
                            <option value="@version">@version</option>
                        }
                    }
                </select>

                <button id="deployLive" class="k-primary">Deploy naar live</button>
            </div>
        </div>

        <div class="item version-accept">
            <div class="flex-container">
                <select class="combo-select" placeholder="Maak uw keuze...">
                    @foreach (int version in versionList)
                    {
                        if (version == Model.PublishedEnvironments.GetAcceptance())
                        {
                            <option value="@version" selected>@version</option>
                        }
                        else
                        {
                            <option value="@version">@version</option>
                        }
                    }
                </select>

                <button id="deployAccept" class="k-primary">Deploy naar acceptatie</button>
            </div>
        </div>

        <div class="item version-test">
            <div class="flex-container">
                <select class="combo-select" placeholder="Maak uw keuze...">
                    @foreach (int version in versionList)
                    {
                        if (version == Model.PublishedEnvironments.GetTest())
                        {
                            <option value="@version" selected>@version</option>
                        }
                        else
                        {
                            <option value="@version">@version</option>
                        }
                    }
                </select>

                <button id="deployTest" class="k-primary">Deploy naar test</button>
            </div>
        </div>
    </div>
</div>
