@{
    var versionList = Model.PublishedEnvironments.VersionList;
}
@model Api.Modules.Templates.Models.Template.TemplateSettingsModel
<div id="published-environments" class="item version-block" style="width: 100%">
    <h4><label>@Model.Name (@Model.TemplateId). Versie @Model.Version. Laatst gewijzigd door '@Model.ChangedBy' op @Model.ChangedOn</label></h4>

    <div class="formview full">
        <div class="item version-live">
            <div class="flex-container">
                <select class="combo-select">
                    <option value="0">Geen</option>
                    @foreach (var version in versionList)
                    {
                        <!option value="@version" @(version == Model.PublishedEnvironments.LiveVersion ? "selected" : "")>@version</!option>
                    }
                </select>

                <button id="deployLive" class="k-primary">Deploy naar live</button>
            </div>
        </div>

        <div class="item version-accept">
            <div class="flex-container">
                <select class="combo-select">
                    <option value="0">Geen</option>
                    @foreach (var version in versionList)
                    {
                        <!option value="@version" @(version == Model.PublishedEnvironments.AcceptVersion ? "selected" : "")>@version</!option>
                    }
                </select>

                <button id="deployAccept" class="k-primary">Deploy naar acceptatie</button>
            </div>
        </div>

        <div class="item version-test">
            <div class="flex-container">
                <select class="combo-select">
                    <option value="0">Geen</option>
                    @foreach (var version in versionList)
                    {
                        <!option value="@version" @(version == Model.PublishedEnvironments.TestVersion ? "selected" : "")>@version</!option>
                    }
                </select>

                <button id="deployTest" class="k-primary">Deploy naar test</button>
            </div>
        </div>
    </div>
</div>