@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var versionList = Model.PublishedEnvironments.VersionList;
}
@model Api.Modules.Templates.Models.Template.TemplateSettingsModel
<div id="published-environments" class="item version-block" style="width: 100%">
    <h4><label>@Model.Name (@Model.TemplateId). Versie @Model.Version. Laatst gewijzigd door '@Model.ChangedBy' op @Model.ChangedOn</label></h4>

    <div class="formview full">
        <div class="item version-live">
            <div class="flex-container">
                <select class="combo-select">
                    @foreach (var version in versionList)
                    {
                        <!option value="@version" @(version == Model.PublishedEnvironments.LiveVersion ? "selected" : "")>@version</!option>
                    }
                </select>

                <button id="deployLive" class="k-primary">@Localizer["Deploy to live"]</button>
            </div>
        </div>

        <div class="item version-accept">
            <div class="flex-container">
                <select class="combo-select">
                    @foreach (var version in versionList)
                    {
                        <!option value="@version" @(version == Model.PublishedEnvironments.AcceptVersion ? "selected" : "")>@version</!option>
                    }
                </select>

                <button id="deployAccept" class="k-primary">@Localizer["Deploy to acceptance"]</button>
            </div>
        </div>

        <div class="item version-test">
            <div class="flex-container">
                <select class="combo-select">
                    @foreach (var version in versionList)
                    {
                        <!option value="@version" @(version == Model.PublishedEnvironments.TestVersion ? "selected" : "")>@version</!option>
                    }
                </select>

                <button id="deployTest" class="k-primary">@Localizer["Deploy to test"]</button>
            </div>
        </div>

        <div class="item version-actions">
            <button id="saveAndDeployToTestButton" class="k-primary saveButton">@Localizer["Save &amp; deploy to test environment"]</button>
            <button id="saveButton" class="k-primary saveButton">@Localizer["Save"]</button>
        </div>
    </div>
        
    <div class="formview full">
        <div class="item branch-container">
            <div class="flex-container">
                <select id="branchesDropDown"></select>

                <button id="deployToBranchButton" class="k-primary">@Localizer["Deploy to selected branch"]</button>
            </div>
        </div>
    </div>
</div>
