@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FrontEnd.Core.Models.BaseViewModel
@inject FrontEnd.Core.Interfaces.IWebPackService WebPackService

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>@Localizer["Wiser 3 - Communication"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    <style>
        #fullForm {
            display:  none;
        }
    </style>
</head>
<body data-module-id="706"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-track-js-token="@Model.Settings.TrackJsToken">
<form id="fullForm">
    <div id="CreateNewCommunicationSettingsContainer">
        <h2>@Localizer["Create a new communication"]</h2>
        <p>@Localizer["Create a new automatic communication message. Determine recipients and the content of the e-mail and/or text messages."]</p>
        <button class="btn btn-primary" id="CreateNewCommunicationSettingsButton">@Localizer["Create new one"]</button>
    </div>
    <div id="OpenCommunicationSettingsContainer">
        <h2>@Localizer["Open existing communication"]</h2>
        <p>@Localizer["Choose one of the existing communications to open and edit."]</p>
        <select id="CommunicationSettingsDropDown"></select>
        <button class="btn btn-primary" id="OpenCommunicationSettingsButton">@Localizer["Open"]</button>
    </div>
</form>

<div id="mainLoader" class="fullscreen-loader loading">
    <div class="loader-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<script src="@await WebPackService.GetManifestFileAsync("Utils.js")"></script>
<script src="@await WebPackService.GetManifestFileAsync("Base.js")"></script>
<script src="@await WebPackService.GetManifestFileAsync("CommunicationIndex.js")"></script>
</body>
</html>