@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FrontEnd.Modules.Communication.Models.CommunicationSettingsViewModel
@inject FrontEnd.Core.Interfaces.IWebPackService WebPackService

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>@Localizer["Wiser 3 - Communication"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    <style>
        #fullForm {
            display:  none;
        }
    </style>
</head>
<body data-module-id="706"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-track-js-token="@Model.Settings.TrackJsToken"
      data-settings-id="@Model.SettingsId"
      data-settings-name="@Model.SettingsName">
<form id="fullForm">
<header id="MainHeader">
    <div class="left" id="NameContainer">
        <span id="CurrentName"></span>
        <input type="text" id="EditNameField" class="textField k-input hidden" maxlength="50" autocomplete="off"/>
        <a id="EditNameButton" title="@Localizer["Edit Name"]" href="#"><span class="icon-pencil"></span></a>
                <a id="DeleteButton" title="@Localizer["Delete communication"]" href="#"><span class="icon-delete"></span></a>
    </div>
    <div class="right" id="ButtonContainer">
        <button id="SaveButton" class="k-primary">@Localizer["Saving Changes"]</button>
    </div>
</header>
<div id="tabStrip">
<ul>
    <li class="k-state-active">
        @Localizer["Receivers"]
    </li>
    <li>
        @Localizer["Data"]
    </li>
    <li>
        @Localizer["Content"]
    </li>
    <li>
        @Localizer["Send pattern"]
    </li>
</ul>
<div class="formview full" id="ReceiverContainer">
    <div class="item">
        <div id="StaticValuesForReceiversContainer">
            <input type="radio" name="receiverType" id="StaticReceiver" class="noForm rToggle" value="static"/>
            <header>
                <label for="StaticReceiver" class="radio rToggle"><span>@Localizer["One or more fixed receivers"]</span></label>
            </header>
            <div>
                <textarea id="StaticReceiverInput" name="staticReceiver"></textarea>
            </div>
        </div>

        <div id="DataSelectorForReceiversContainer">
            <input type="radio" name="receiverType" id="DataSelectorForReceiver" class="noForm rToggle" value="dataSelector"/>
            <header>
                <label for="DataSelectorForReceiver" class="radio rToggle"><span>@Localizer["Select the receivers via a data selector."]</span></label>
            </header>
            <div>
                <select id="DataSelectorForReceiverDropDown" name="dataSelectorForReceiver" class="kendo-dropdown-list">
                </select>
            </div>
        </div>

        <div id="QueryForReceiversContainer">
            <input type="radio" name="receiverType" id="QueryForReceivers" class="noForm rToggle" value="query"/>
            <header>
                <label for="QueryForReceivers" class="radio rToggle"><span>@Localizer["Select the receivers via a preset query."]</span></label>
            </header>
            <div>
                <select id="QueryForReceiversDropDown" name="query" class="kendo-dropdown-list">
                </select>
            </div>
        </div>
    </div>
</div>
<div class="formview full" id="DataContainer">
    <div class="item">
        <p>@Localizer["Here a data selector or query can be chosen for use in the content of the communication. This data selector or query is performed per receiver and must therefore only retrieve data for that receiver. This is completely optional."]</p>
        <div id="DataSelectorForContentContainer">
            <input type="radio" name="contentDataType" id="DataSelectorForContent" class="noForm rToggle" value="dataSelector"/>
            <header>
                <label for="DataSelectorForContent" class="radio rToggle"><span>@Localizer["Select a data selector"]</span></label>
            </header>
            <div>
                <select id="DataSelectorForContentDropDown" name="dataSelectorForContent" class="kendo-dropdown-list">
                </select>
            </div>
        </div>

        <div id="QueryContainer">
            <input type="radio" name="contentDataType" id="QueryForContent" class="noForm rToggle" value="query"/>
            <header>
                <label for="QueryForContent" class="radio rToggle"><span>@Localizer["Select a query"]</span></label>
            </header>
            <div>
                <select id="QueryForContentDropDown" name="query" class="kendo-dropdown-list">
                </select>
            </div>
        </div>
    </div>
</div>
<div class="formview full" id="ContentContainer">
    <div class="formview full compact">
        <div class="item">
            <input type="checkbox" id="MailToggle" class="noForm cToggle"/>
            <header>
                            <label for="MailToggle" class="checkbox cToggle"><span>@Localizer["E-mail"]</span></label>
            </header>
            <div>
                <div class="item">
                    <h4><label for="MailTemplateDropDown">@Localizer["Template"]</label></h4>
                    <select id="MailTemplateDropDown" class="drop-down-list">
                    </select>
                </div>

                <div class="item" id="LanguageDropDownContainer">
                    <h4><label for="LanguageDropDown">@Localizer["Language"]</label></h4>
                    <select id="LanguageDropDown" class="drop-down-list">
                    </select>
                </div>

                <div class="item">
                    <h4><label for="MailSubject">@Localizer["Subject"]</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <input type="text" id="MailSubject" class="textField k-input" maxlength="100" autocomplete="off"/>
                    </span>
                </div>

                <div class="item">
                    <h4><label for="EmailSelector">E-mailadres selector</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <input type="text" id="EmailSelector" class="textField k-input" maxlength="100" autocomplete="nope"/>
                    </span>
                    <p class="form-hint">@Localizer["This can be used to indicate where the e-mail address of the reseivers is exactly in the results of the query or data selector. This can be left blank if fixed reseivers are entered. If, for example, there is an 'email address' field in the data selector, then the value 'email address' can be entered here. If the e-mail address is on a deeper level, this can also be done by by separating with points, for example"] "{customer.email}".</p>
                </div>                               

                <div class="item">
                    <h4><label for="MailBodyEditor">@Localizer["Email content"]</label></h4>
                    <textarea id="MailBodyEditor" class="editor" rows="10" cols="30"></textarea>
                                <p class="form-hint">@Localizer["If you select a mail template and a language (if you have multilingual in Wiser) above, that template will automatically be filled here."]</p>
                </div>
            </div>
        </div>
        <div class="item">
            <input type="checkbox" id="SmsToggle" class="noForm cToggle"/>
            <header>
                <label for="SmsToggle" class="checkbox cToggle"><span>@Localizer["SMS"]</span></label>
            </header>
            <div>
                <div class="item">
                    <h4><label for="PhoneNumberSelector">@Localizer["Phone number selector"]</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <input type="text" id="PhoneNumberSelector" class="textField k-input" maxlength="100" autocomplete="nope"/>
                    </span>
                        <p class="form-hint">@Localizer["This can be used to indicate where the telephone number of the recipients is exactly in the results of the query or data selector. This can be left blank if fixed recipients are entered. If, for example, there is a field 'telephone number' in the data selector, then the value '{telephone number}' can be entered here. If the phone number is on a deeper level, you can also separate it with dots, for example '{customer.phone}'."]</p>
                </div>

                <div class="item">
                    <h4><label for="SmsMessage">@Localizer["Content SMS"]</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea id="SmsMessage" class="k-textbox" placeholder="@Localizer["The SMS message to be sent"]" data-limit="160"></textarea>
                        <span>@Localizer["0 / 160"]</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="formview full" id="WhenContainer">
    <div class="formview full compact padding-8">
        <div class="item">
            <h4><label>@Localizer["Send on"]</label></h4>
            <div class="inline">
                <div>
                    <input type="radio" name="sendMoment" id="Direct" class="noForm rToggle" value="Direct" checked="checked"/>
                    <header>
                        <label for="Direct" class="radio rToggle"><span>@Localizer["Direct"]</span></label>
                    </header>
                </div>

                <div>
                    <input type="radio" name="sendMoment" id="Fixed" class="noForm rToggle" value="Fixed"/>
                    <header>
                        <label for="Fixed" class="radio rToggle"><span>@Localizer["Fixed time"]</span></label>
                    </header>
                    <div>
                        <input id="FixedDateTimePicker" class="datetimepicker" autocomplete="off"/>
                    </div>
                </div>

                <div>
                    <input type="radio" name="sendMoment" id="Recurring" class="noForm rToggle" value="Recurring"/>
                    <header>
                        <label for="Recurring" class="radio rToggle"><span>@Localizer["Recurring"]</span></label>
                    </header>
                    <div>
                        <div>
                            <h4 class="margin-top-20"><label for="RecurringDateRangePicker">@Localizer["Recurring date"]</label></h4>
                            <span class="inline">
                                <div id="RecurringDateRangePicker" class="daterangepicker"></div>
                            </span>
                        </div>
                        <div>
                            <h4><label for="RecurringTimePicker">@Localizer["Send time"]</label></h4>
                            <span class="inline">
                                <input id="RecurringTimePicker" class="timepicker" />
                            </span>
                        </div>
                        <div>
                            <h4><label for="RecurringPeriodValueField">@Localizer["Each"]</label></h4>
                            <span class="inline w-10">
                                <input type="number" id="RecurringPeriodValueField" class="numeric half-width" value="1"/>
                            </span>
                            <span class="inline w-75">
                                <select id="RecurringPeriodTypeDropDown" class="combo-select half-width">
                                    <option value="Week" selected>@Localizer["week/weeks"]</option>
                                    <option value="Month">@Localizer["month/months"]</option>
                                </select>
                            </span>
                        </div>
                        <div id="RecurringWeeklyContainer">
                            <h4><label>@Localizer["On"]</label></h4>
                            <span class="inline">
                                <label class="checkbox"><input type="checkbox" name="recurringWeekDay" value="1"/> <span>@Localizer["monday"]</span></label>
                                <label class="checkbox"><input type="checkbox" name="recurringWeekDay" value="2"/> <span>@Localizer["tuesday"]</span></label>
                                <label class="checkbox"><input type="checkbox" name="recurringWeekDay" value="4"/> <span>@Localizer["wednesday"]</span></label>
                                <label class="checkbox"><input type="checkbox" name="recurringWeekDay" value="8"/> <span>@Localizer["thursday"]</span></label>
                                <label class="checkbox"><input type="checkbox" name="recurringWeekDay" value="16"/> <span>@Localizer["friday"]</span></label>
                                <label class="checkbox"><input type="checkbox" name="recurringWeekDay" value="32"/> <span>@Localizer["saturday"]</span></label>
                                <label class="checkbox"><input type="checkbox" name="recurringWeekDay" value="64"/> <span>@Localizer["sunday"]</span></label>
                            </span>
                        </div>
                        <div id="RecurringMonthlyContainer" class="hidden">
                            <h4><label for="RecurringDayOfMonth">@Localizer["Day of the month"]</label></h4>
                            <span class="inline w-10">
                                <input type="number" id="RecurringDayOfMonth" class="numeric half-width" value="1"/>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</form>

<div id="mainLoader" class="fullscreen-loader loading">
    <div class="loader-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<script src="@WebPackService.GetManifestFileAsync("Utils.js")"></script>
<script src="@WebPackService.GetManifestFileAsync("Base.js")"></script>
<script src="@WebPackService.GetManifestFileAsync("CommunicationSettings.js")"></script>
</body>
</html>