@model FrontEnd.Modules.Base.Models.BaseModuleViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <title>Wiser 3 - Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />

    <script>
        window.wiserVersion = "@Model.WiserVersion";
    </script>
    <style>
        #fullForm {
            display:  none;
        }
    </style>
</head>
<body class="@Model.BodyCssClass"
      data-module-id="706"
      data-wiser-api-root="@Model.ApiRoot"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken">
    <form id="fullForm">
        <div id="wiser">
            <div id="window" class="dashboard" style="margin: 0 auto; padding: 0;">
                <header>
                    <div class="formview full">
                        <div class="item drop-down">
                            <div class="flex-container">
                                <label>Filter periode</label>
                                <select id="periodFilter" class="drop-down-list" placeholder="Maak uw keuze..." data-role="dropdownlist">
                                    <option value="all" selected="selected">Geen filter</option>
                                    <option value="currentMonth">Huidige maand</option>
                                    <option value="lastMonth">Vorige maand</option>
                                    <option value="currentYear">Dit jaar</option>
                                    <option value="lastYear">Vorig jaar</option>
                                    <option value="custom">Selecteer periode</option>
                                </select>
                            </div>
                        </div>
                        <div class="item">
                            <div class="flex-container">
                                <div id="periodPicker" class="daterangepicker" title="daterangepicker"></div>
                            </div>
                        </div>
                        <div class="item drop-down">
                            <div class="flex-container">
                                <label>Branche</label>
                                <select id="branchesSelect" class="drop-down-list" placeholder="Maak uw keuze..." data-role="dropdownlist">
                                    <option value="0">Actieve branch</option>
                                    <option value="-1">Alle branches</option>
                                </select>
                            </div>
                        </div>

                        <div class="item actions">
                            <button type="button"><ins class="icon-reset" title="Reset" id="refreshDataButton"></ins></button>

                            <ul id="mainEditMenu" class="editMenu">
                                <li>
                                    <ins class="icon-quickmenu"></ins>
                                    <ul id="editSub" class="editSub">
                                        <li>
                                            <label>
                                                <input type="checkbox" id="dataChartCheckbox" class="hidden" data-toggle-tile="dataChart" />
                                                <span>Data</span>
                                                <ins class="icon-check"></ins>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" id="usersChartCheckbox" class="hidden" data-toggle-tile="usersChart" />
                                                <span>Gebruikers</span>
                                                <ins class="icon-check"></ins>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" id="updateLogCheckbox" class="hidden" data-toggle-tile="updateLog" />
                                                <span>Update log</span>
                                                <ins class="icon-check"></ins>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" id="servicesCheckbox" class="hidden" data-toggle-tile="services" />
                                                <span>Services</span>
                                                <ins class="icon-check"></ins>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" id="entityDataCheckbox" class="hidden" data-toggle-tile="entityData" />
                                                <span>Entiteiten</span>
                                                <ins class="icon-check"></ins>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" id="taskAlertsCheckbox" class="hidden" data-toggle-tile="taskAlerts" />
                                                <span>Agenderingen</span>
                                                <ins class="icon-check"></ins>
                                            </label>
                                        </li>
                                        <li>
                                            <label>
                                                <input type="checkbox" id="dataSelectorCheckbox" class="hidden" data-toggle-tile="dataSelector" />
                                                <span>Dataselector</span>
                                                <ins class="icon-check"></ins>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </header>

                <main>
                    <div id="tiles"></div>

                    <!-- container text templates -->
                    <script id="update-log" type="text/x-kendo-template">
                        <a class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button"><span class="k-button-icon k-icon k-i-close"></span></a>
                        <div class="tile-content" data-tile="updateLog">
                            <div class="log-item">
                                <h4>Versie 3.4.28 - 19 augustus 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Branches: Bestanden die geüpload worden op een branch worden nu voortaan ook opgeslagen in de hoofd database.</span></li>
                                    <li><ins class="icon-check"></ins><span>Branches: Entiteiten lijst wordt vanaf nu opgehaald vanaf de branche database in plaats van de hoofd database zodat nieuwe entiteiten geselecteerd kunnen worden.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Het verslepen van "virtuele" templates is nu niet meer mogelijk.</span></li>
                                    <li><ins class="icon-check"></ins><span>Adminmodule: Bij het maken van nieuwe entiteiten die een dedicated table krijgen worden nu voortaan ook automatisch de juiste link tables aangemaakt, inclusief triggers.</span></li>
                                    <li><ins class="icon-check"></ins><span>Vertaalmodule: Vertaalmodule kan weer geopend worden.</span></li>
                                    <li><ins class="icon-check"></ins><span>Styled output: Nieuwe endpoint voor het ophalen van styled output regels op basis van naam.</span></li>
                                    <li><ins class="icon-check"></ins><span>Algemeen: Triggers voor item details bijgewerkt zodat er meer velden gelogd worden in de historie.</span></li>
                                    <li><ins class="icon-check"></ins><span>Algemeen: Lege groepen en tabs in item vensters worden nu verborgen.</span></li>
                                    <li><ins class="icon-check"></ins><span>Algemeen: Diverse libraries zijn bijgewerkt naar een nieuwere versie.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.27 - 5 augustus 2024</h4>
                                <ul>
									<li><ins class="icon-check"></ins><span>Branches: verbetering id mapping .</span></li>
									<li><ins class="icon-check"></ins><span>Branches: items kunnen nu ook main aangemaakt worden vanaf branch .</span></li>
									<li><ins class="icon-check"></ins><span>Branches: items kunnen nu ook main aangemaakt worden vanaf branch .</span></li>
									<li><ins class="icon-check"></ins><span>Branches: locking toegeveogd voor wiser tabellen .</span></li>
									<li><ins class="icon-check"></ins><span>Algemeen: logging voor request en response bodies uitegezet ivm groote logs.</span></li>
									<li><ins class="icon-check"></ins><span>Algemeen: tif en tiff ondersteuning.</span></li>
									<li><ins class="icon-check"></ins><span>Algemeen: tif en tiff ondersteuning.</span></li>
									<li><ins class="icon-check"></ins><span>Algemeen: bugfix voor endpoints zonder properties maken.</span></li>
									<li><ins class="icon-check"></ins><span>Algemeen: compile issue opgelost ivm .net 8.</span></li>
									<li><ins class="icon-check"></ins><span>StyledOutput: caching toeveogd aan styled out service.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.26 - 22 juli 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Foutmelding bij Swagger opgelost</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.25 - 9 juli 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Algemeen: Probleem opgelost dat er veel lege regels werden toegevoegd aan de nieuwe logtabel.</span></li>
                                    <li><ins class="icon-check"></ins><span>Algemeen: Probleem opgelost dat de historie van items soms niet geopend kon worden.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.24 - 8 juli 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Algemeen: Voortaan worden alle verzoeken naar de Wiser API gelogd in de database.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatemodule: Probleem opgelost dat dropdowns van sommige opties in componenten niet goed meer werkten.</span></li>
                                    <li><ins class="icon-check"></ins><span>Branches: Wat algemene verbeteringen aan branches gedaan.</span></li>
                                </ul>
                            </div>
							<div class="log-item">
                                <h4>Versie 3.4.23 - 24 juni 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost dat HTML-editors altijd alle knoppen hadden van alle tools, ook al waren ze uitgeschakeld.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Knop toegevoegd om alle content van een template te zien in de historie-tab.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.22 - 10 juni 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Fout bij opslaan SCSS templates opgelost.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Fout dat sommige opties in Dynamische Content onterecht grijs blijven opgelost.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.21 - 28 mei 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Verbeteringen doorgevoerd in styled output API.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.20 - 27 mei 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost dat geschiedenis van verwijderde items een foutmelding gaf.</span></li>
                                    <li><ins class="icon-check"></ins><span>Algemene verbeteringen.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.19 - 14 mei 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Knop toegevoegd waarmee een template gesloten kan worden, zodat er daarna makkelijker een nieuwe template gemaakt kan worden.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Probleem opgelost dat instellingen voor widgets niet onthouden werden.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Probleem opgelost dat deployen van MySQL routines niet (goed) werkte.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.18 - 30 april 2024</h4>
                                <ul>
									<li><ins class="icon-check"></ins><span>Grids: Een actieknop die een verzoek doet naar een API kan nu ook uitgevoerd worden voor meerdere regels tegelijk.</span></li>
									<li><ins class="icon-check"></ins><span>Grids: Het is voortaan mogelijk om extra data mee te geven aan query's die uitgevoerd worden d.m.v. een actieknop.</span></li>
                                    <li><ins class="icon-check"></ins><span>Grids: Het is voortaan mogelijk om extra data op te halen d.m.v. een query, voor het openen van een dynamische URL via een actieknop.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.17 - 16 april 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost dat maken van nieuwe tenants fout ging.</span></li>
                                    <li><ins class="icon-check"></ins><span>Grids: Breedte en positie van kolommen worden voortaan ook onthouden per gebruiker.</span></li>
                                    <li><ins class="icon-check"></ins><span>Functionaliteit toegevoegd om een externe URL in een module te openen met versleutelde gebruikersinformatie.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.16 - 2 april 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>De variable "{isMainBranch}" is toegevoegd voor query's van de styled output API.</span></li>
                                    <li><ins class="icon-check"></ins><span>De "depends-on" functionaliteit is hersteld voor multiselects.</span></li>
                                    <li><ins class="icon-check"></ins><span>Een probleem opgelost met validatie voor verplichte velden die verborgen zijn.</span></li>
                                    <li><ins class="icon-check"></ins><span>Fullscreen layout voor HTML editors is verbeterd.</span></li>
                                    <li><ins class="icon-check"></ins><span>Ondersteuning voor styled output is toegevoegd aan branches.</span></li>
                                    <li><ins class="icon-check"></ins><span>Functionaliteit is toegevoegd voor het samenvoegen van PDF bestanden.</span></li>
                                    <li><ins class="icon-check"></ins><span>De kolommen in het grid van de WTS services zijn nu aanpasbaar.</span></li>
                                    <li><ins class="icon-check"></ins><span>Een issue is opgelost met versies bij templates en dynamic content bij het deployen.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.15 - 18 maart 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Fout opgelost in dynamic components.</span></li>
                                    <li><ins class="icon-check"></ins><span>Fout opgelost met in warning die gebuikt maakt van een niet bekende variable.</span></li>
                                    <li><ins class="icon-check"></ins><span>Problemen opgelost met het aanmaken van nieuwe tenants. </span></li>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost met template model loading.</span></li>
                                    <li><ins class="icon-check"></ins><span>CreateTablesConfigurator script fouten opgelost.</span></li>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost waar de isadmin waarde overschreven werd met false als een token was verlopen.</span></li>
                                    <li><ins class="icon-check"></ins><span>Extra info toegevoegd aan het wiser1/2 export window.</span></li>
                                    <li><ins class="icon-check"></ins><span>Verbeteringen aan de version control module.</span></li>
                                    <li><ins class="icon-check"></ins><span>MySQL command timeouts verlengd.</span></li>
                                    <li><ins class="icon-check"></ins><span>Probleem met shortcuts in HTML-editors opgelost.</span></li>
                                    <li><ins class="icon-check"></ins><span>Parent update logic toegevoegd.</span></li>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost met het downloaden van bestanden via niet-versleutelde ids.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.14 - 26 februari 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Algemeen: Probleem opgelost dat downloaden of versturen van PDF's fout ging wanneer de bestandsnaam een cijfer bevat.</span></li>
                                    <li><ins class="icon-check"></ins><span>Import/Export: Probleem opgelost dat bij het importeren er altijd vanuit werd gegaan dat een destination en source item altijd bestond in de tabel.</span></li>
									<li><ins class="icon-check"></ins><span>Templatesmodule: Mogelijkheid toegevoegd voor het importeren van Wiser 1 templates naar Wiser 3.</span></li>
									<li><ins class="icon-check"></ins><span>Algemeen: Het is voortaan mogelijk om bij HTML-editors specifiek aan te geven welke tools/knoppen zichtbaar moeten zijn, naast de voorgedefiniëerde sets van tools.</span></li>
									<li><ins class="icon-check"></ins><span>Templatesmodule: Templates kunnen nu per gebruiker worden gecached.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatesmodule: Preview functionaliteit verwijderd uit Wiser om wat meer ruimte te maken in de gebruikersinterface. Deze functionaliteit werd nooit gebruikt en nam veel ruimte in beslag.</span></li>
									<li><ins class="icon-check"></ins><span>Diverse algemene verbeteringen en bugfixes.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.13 - 8 januari 2024</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Validatie van velden verbeterd, zodat er duidelijkere fouten worden getoond en deze er netter uitzien.</span></li>
                                    <li><ins class="icon-check"></ins><span>Verschillende kleine verbeteringen aan de gebruikersinterface van Wiser.</span></li>
                                    <li><ins class="icon-check"></ins><span>Bij het versturen van mail vanuit Wiser, kunnen voortaan meerdere e-mailadressen tegelijk ingevuld worden (gescheiden met puntkomma).</span></li>
                                    <li><ins class="icon-check"></ins><span>Verbeteringen gedaan aan het maken en mergen van branches, zodat dit sneller en efficiënter gaat.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.12 - 4 oktober 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Verschillende bugs opgelost in grids, nummervelden etc.</span></li>
                                    <li><ins class="icon-check"></ins><span>Bug opgelost dat er soms validatie werd gedaan op onzichtbare velden, waardoor je soms wijzigingen niet kon opslaan.</span></li>
                                    <li><ins class="icon-check"></ins><span>Wat fouten/bugs opgelost in branch functionaliteit.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.11 - 4 oktober 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Mogelijkheid voor laden van plugins toegevoegd. Dit kunnen bijvoorbeeld custom componenten of modules zijn.</span></li>
                                    <li><ins class="icon-check"></ins><span>Wat fouten/bugs opgelost in branch functionaliteit.</span></li>
                                    <li><ins class="icon-check"></ins><span>Verschillende fouten/bugs opgelost in Wiser beheermodule.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.10 - 24 augustus 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Styledoutput uitgebreid met on-empty output</span></li>
                                    <li><ins class="icon-check"></ins><span>Verschillende andere kleine bugs en fouten opgelost.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.9 - 9 augustus 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Exportmodule uitgebreid zodat er ook geëxporteerd kan worden naar CSV.</span></li>
                                    <li><ins class="icon-check"></ins><span>Mogelijkheid toegevoegd om dynamische bestandsnamen te genereren bij genereren van bestanden in Wiser.</span></li>
                                    <li><ins class="icon-check"></ins><span>Verschillende andere kleine bugs en fouten opgelost.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.8 - 18 juli 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Nieuwe functionaliteit toegevoegd waarmee we query's kunnen maken die externen kunnen aanroepen via de API van Wiser om zo data te kunnen ophalen uit Wiser. Hierbij kunnen we dan ook dynamisch instellen in welke structuur de JSON wordt getoond als resultaat.</span></li>
                                    <li><ins class="icon-check"></ins><span>Mogelijkheid toegevoegd voor het verwijderen van branches.</span></li>
                                    <li><ins class="icon-check"></ins><span>Bij aanmaken/terugzetten/verwijderen van een branch wordt voortaan een melding gegeven wanneer die klaar is.</span></li>
                                    <li><ins class="icon-check"></ins><span>Functionaliteit toegevoegd voor het uploaden van bijlagen bij het versturen van e-mails vanuit Wiser.</span></li>
                                    <li><ins class="icon-check"></ins><span>Templatemodule aangepast zodat er niet meer zoveel versies worden gemaakt. Vanaf nu worden er pas nieuwe versies gemaakt bij committen, i.p.v. voor elke wijziging.</span></li>
                                    <li><ins class="icon-check"></ins><span>Verschillende andere kleine bugs en fouten opgelost.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.7 - 28 juni 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Mogelijkheid toegevoegd aan de import/export-module voor het importeren van Excel-bestanden.</span></li>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost in import/export-module dat bij exporteren ongeldige bestanden werden gegenereerd als het iets fout gaat bij de export. Vanaf nu wordt er een foutmelding aan de gebruiker getoond en geen bestand gedownload.</span></li>
                                    <li><ins class="icon-check"></ins><span>Mogelijkheid toegevoegd voor het verkleinen van afbeeldingen tijdens upload via TinyPNG.</span></li>
                                    <li><ins class="icon-check"></ins><span>Probleem opgelost dat bij sommige organisaties het heel lang duurde om de lijst van modules te laden.</span></li>
                                    <li><ins class="icon-check"></ins><span>Notificaties tooltips verbeterd zodat die niet meer zo erg in de weg staan.</span></li>
                                    <li><ins class="icon-check"></ins><span>Verschillende andere kleine bugs en fouten opgelost.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.6 - 1 juni 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Meer opties toegevoegd voor instellen van caching voor websites.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.5 - 25 mei 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Automatisch tests toegevoegd met Selenium.</span></li>
                                    <li><ins class="icon-check"></ins><span>Verschillende verbeteringen aan de template- en versiebeheermodule waardoor die efficiënter werken en er makkelijker mee gewerkt kan worden.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.4 - 17 april 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Functionaliteit voor code reviews toegevoegd aan versiebeheermodule.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.3 - 30 maart 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Upgrade naar .NET 7.</span></li>
                                </ul>
                            </div>
                            <div class="log-item">
                                <h4>Versie 3.4.2 - 15 maart 2023</h4>
                                <ul>
                                    <li><ins class="icon-check"></ins><span>Eerste versie dashboard.</span></li>
                                    <li><ins class="icon-check"></ins><span>Nieuwe module: File manager.</span></li>
                                </ul>
                            </div>
                        </div>
                    </script>
                    <script id="numbers" type="text/x-kendo-template">
                        <a class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button"><span class="k-button-icon k-icon k-i-close"></span></a>
                        <div class="tile-content" id="entityData" data-tile="entityData">
                            <div class="btn-row" id="entityDataTypeFilterButtons">
                                <button type="button" role="button" aria-label="Totaal" data-filter="All" class="selected">
                                    <span>Totaal</span>
                                </button>
                                <button type="button" role="button" aria-label="Nieuw" data-filter="NewlyCreated">
                                    <span>Nieuw</span>
                                </button>
                            </div>
                        </div>
                    </script>
                    <script id="entity-data" type="text/x-kendo-template">
                        <a href="javascript:;" class="number-item">
                            <ins class=""></ins>
                            <h3>0</h3>
                            <span>
                                <span class="entity-total-text">-</span>
                                <span class="k-icon k-i-hyperlink-open-sm"></span>
                            </span>
                        </a>
                    </script>
                    <script id="dataselector-rate" type="text/x-kendo-template">
                        <a class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button"><span class="k-button-icon k-icon k-i-close"></span></a>
                        <div class="tile-content" data-tile="dataSelector">
                            <div id="data-selector-result">...</div>
                        </div>
                    </script>

                    <!-- container chart templates -->
                    <script id="data-chart-template" type="text/x-kendo-template">
                        <a class='k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button'><span class='k-button-icon k-icon k-i-close'></span></a>
                        <div class="tile-content" data-tile="dataChart">
                            <div id="data-chart" style="width:100%"></div>

                            <div class="btn-row" id="itemsTypeFilterButtons">
                                <button type="button" role="button" aria-label="Alles" data-filter="All" class="selected">
                                    <span>Alles</span>
                                </button>
                                <button type="button" role="button" aria-label="Nieuw aangemaakt" data-filter="NewlyCreated">
                                    <span>Nieuw aangemaakt</span>
                                </button>
                                <button type="button" role="button" aria-label="Gewijzigd" data-filter="Changed">
                                    <span>Gewijzigd</span>
                                </button>
                                <button type="button" role="button" aria-label="Actief" data-filter="Active" disabled>
                                    <span>Actief</span>
                                </button>
                                <button type="button" role="button" aria-label="Archief" data-filter="Archive" disabled>
                                    <span>Archief</span>
                                </button>
                            </div>
                        </div>
                    </script>
                    <script id="users-chart-template" type="text/x-kendo-template">
                        <a class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button"><span class="k-button-icon k-icon k-i-close"></span></a>
                        <div class="tile-content" data-tile="usersChart">
                            <div id="users-chart" style="width:100%"></div>

                            <div class="btn-row" id="userDataTypeFilterButtons">
                                <button type="button" role="button" aria-label="Aantal logins" class="selected" data-filter="loginCount">
                                    <span>Aantal logins</span>
                                </button>
                                <button type="button" role="button" aria-label="Ingelogde tijd" data-filter="loginActive">
                                    <span>Ingelogde tijd</span>
                                </button>
                            </div>
                        </div>
                    </script>
                    <script id="subscriptions-chart-template" type="text/x-kendo-template">
                        <a class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button"><span class="k-button-icon k-icon k-i-close"></span></a>
                        <div class="tile-content" data-tile="subscription">
                            <div class="tile-row">
                                <label>Huidige abonnement: Wiser Large.</label>
                                <span>Prijs per maand: &euro; 75,-</span>
                                <a href="">abonnement stopzetten?</a>
                            </div>
                            <div class="tile-row">
                                <label>Aantal items:</label>
                                <div class="progress">
                                    <span style="width: 65%;" data-value="6.500" data-percent="65"></span>
                                    <progress max="100" value="65" data-value="6.500" data-max="10K"></progress>
                                </div>
                            </div>
                            <div class="tile-row">
                                <label>Aantal gebruikers:</label>
                                <button type="button" role="button" aria-label="Naar gebruikers">
                                    <span class="k-icon k-i-hyperlink-open"></span>
                                </button>
                                <div class="progress">
                                    <span style="width: 40%;" data-value="10" data-percent="40"></span>
                                    <progress max="100" value="40" data-value="10" data-max="25"></progress>
                                </div>
                            </div>
                        </div>
                    </script>
                    <script id="status-chart-template" type="text/x-kendo-template">
                        <a class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button"><span class="k-button-icon k-icon k-i-close"></span></a>
                        <div class="tile-content" data-tile="taskAlerts">
                            <span class="number-item">
                                <ins class="icon-list"></ins>
                                <h3 id="totalOpenTaskAlerts">0</h3>
                                <span>Openstaande agenderingen</span>
                            </span>
                            <div id="status-chart" style="height:98%;width:65%;"></div>
                        </div>
                    </script>

                    <!-- container grid templates -->
                    <script id="services-grid-template" type="text/x-kendo-template">
                        <a id="refreshServices" class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-refresh-button"><span class="k-button-icon k-icon k-i-refresh"></span></a>
                        <a class="k-button k-button-flat-base k-button-flat k-button-md k-rounded-md k-icon-button k-close-button"><span class="k-button-icon k-icon k-i-close"></span></a>
                        <div id="services-grid" style="height:100%;" data-tile="services">
                        </div>
                    </script>
                </main>
            </div>
        </div>
    </form>

    <div id="serviceLogWindow">
        <div id="serviceLogGrid"></div>
    </div>

    <div id="serviceTemplateWindow"></div>

    <div id="mainLoader" class="fullscreen-loader loading">
        <div class="loader-icon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="Processing.js"></webpack-script>
    <webpack-script file-name="kendo-ui.js"></webpack-script>
    <webpack-script file-name="Dashboard.js"></webpack-script>
</body>
</html>