@using GeeksCoreLibrary.Core.Cms.Attributes
@using Api.Core.Helpers
@model FrontEnd.Modules.Templates.Models.FieldViewModel

@{ var className = $"col col-{(Model.IsSubField ? 12 : 6)}"; }
@try
{
    @switch (Model.CmsPropertyAttribute.TextEditorType)
    {
        case CmsAttributes.CmsTextEditorType.Auto when Model.PropertyInfo.PropertyType.IsEnum:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        @{
                            var value = Model.Value;
                            if (Int32.TryParse(Model.Value.ToString(), out var intValue))
                            {
                                value = Enum.GetName(Model.PropertyInfo.PropertyType, intValue);
                            }
                        }
                        <input type="text" class="textField k-input" autocomplete="off" value="@value" data-history-property="@Model.Name" disabled>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.Auto when TypeHelpers.IsNumericType(Model.PropertyInfo.PropertyType) || Model.PropertyInfo.PropertyType == typeof(string):
        case CmsAttributes.CmsTextEditorType.TextField:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <input type="text" class="textField k-input" autocomplete="off" value="@Model.Value" data-history-property="@Model.Name" disabled>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.Auto when Model.PropertyInfo.PropertyType == typeof(bool):
            <div class="@className checkLine">
                <div class="item" data-label-style="normal" data-label-width="0">
                    <span class="inline">
                        <label class="checkbox">
                            <input type="checkbox" value="@Model.Name" @(Model.Value != null && (bool)Model.Value ? "checked" : "") data-history-property="@Model.Name" disabled>
                            <span>@Model.PrettyName</span>
                        </label>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.Auto when Model.PropertyInfo.PropertyType.IsGenericType && (Model.PropertyInfo.PropertyType.GetGenericTypeDefinition() == typeof(SortedList<,>) || Model.PropertyInfo.PropertyType.GetGenericTypeDefinition() == typeof(Dictionary<,>)) && Model.PropertyInfo.PropertyType.GetGenericArguments().First() == typeof(string):
            <div class="@className checkLine">
                @foreach (var subGroup in Model.SubFields)
                {
                    foreach (var subField in subGroup.Value)
                    {
                        <partial name="/Modules/Templates/Views/DynamicContent/Partials/HistoryInputGenerator.cshtml" model="subField" />
                    }
                }
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.Auto:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <span>No HTML Generated for "@Model.PrettyName". The type "@Model.PropertyInfo.PropertyType" was unknown to generator.</span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.TextBox:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea class="textField k-input" autocomplete="off" data-history-property="@Model.Name" disabled>@Model.Value</textarea>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.QueryEditor:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea data-history-property="@Model.Name" data-field-type="text/x-mysql" disabled>@Model.Value</textarea>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.HtmlEditor:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea data-history-property="@Model.Name" data-field-type="text/html" disabled>@Model.Value</textarea>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.XmlEditor:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea data-history-property="@Model.Name" data-field-type="application/xml" disabled>@Model.Value</textarea>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.JsEditor:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea data-history-property="@Model.Name" data-field-type="text/javascript" disabled>@Model.Value</textarea>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.JsonEditor:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea data-history-property="@Model.Name" data-field-type="application/json" disabled>@Model.Value</textarea>
                    </span>
                </div>
            </div>
            break;

        case CmsAttributes.CmsTextEditorType.TextEditor:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <h4><label>@Model.PrettyName</label></h4>
                    <span class="k-widget k-input k-state-default">
                        <textarea data-history-property="@Model.Name" data-field-type="text" disabled>@Model.Value</textarea>
                    </span>
                </div>
            </div>
            break;

        default:
            <div class="@className">
                <div class="item" data-label-style="float" data-label-width="0">
                    <span>No HTML Generated for "@Model.PrettyName". The text editor type "@Model.CmsPropertyAttribute.TextEditorType" was unknown to generator.</span>
                </div>
            </div>
            break;
    }
}
catch (Exception exception)
{
    <div class="@className">
        <div class="item" data-label-style="float" data-label-width="0">
            <span>@exception</span>
        </div>
    </div>
}