@using GeeksCoreLibrary.Core.Cms.Attributes
@using System.Reflection
@model KeyValuePair<CmsPropertyAttribute, KeyValuePair<PropertyInfo, object>>

@if (@Model.Key.TextEditorType == CmsAttributes.CmsTextEditorType.Auto)
{
    if (@Model.Value.Key.PropertyType == typeof(String) || @Model.Value.Key.PropertyType == typeof(Nullable<Int32>) || @Model.Value.Key.PropertyType == typeof(Int32)
        ||@Model.Value.Key.PropertyType == typeof(UInt32) || @Model.Value.Key.PropertyType == typeof(Decimal) || @Model.Value.Key.PropertyType == typeof(UInt64))
    {
        <div class="col col-6">
            <div class="item" data-label-style="float" data-label-width="0">
                <span class="handler">&nbsp;</span>
                <h4><label for="text_101">@Model.Value.Key.Name</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" id="text_101" class="textField k-input" autocomplete="off" value="@Model.Value.Value" data-historyproperty="@Model.Value.Key.Name" disabled>
                </span>
            </div>
        </div>
    }
    else if (@Model.Value.Key.PropertyType == typeof(Boolean))
    {
        var checkBox = Model.Value.Value != null && (bool)Model.Value.Value;
        <div class="col col-6 checkLine">
            <div class="item" data-label-style="normal" data-label-width="0">
                <span class="handler">&nbsp;</span>
                <span class="inline">
                    <label class="checkbox">
                        @if (checkBox)
                        {
                            <input type="checkbox" value="@Model.Value.Key.Name" checked="checked" data-historyproperty="@Model.Value.Key.Name" disabled>
                        }
                        else
                        {
                            <input type="checkbox" value="@Model.Value.Key.Name" data-historyproperty="@Model.Value.Key.Name" disabled>
                        }
                        <span>@Model.Key.PrettyName</span>
                    </label>
                </span>
            </div>
        </div>
    }
    else
    {
        <div class="col col-6">
            <div class="item" data-label-style="float" data-label-width="0">
                <span>No HTML Generated for: @Model.Key.PrettyName . The type: @Model.Value.Key.PropertyType was unknown to generator.</span>
            </div>
        </div>
    }
}
else if (@Model.Key.TextEditorType == CmsAttributes.CmsTextEditorType.TextBox)
{

}
else if (@Model.Key.TextEditorType == CmsAttributes.CmsTextEditorType.HtmlEditor)
{
    <div class="col col-6">
        <div class="item" data-label-style="float" data-label-width="0">
            <span class="handler">&nbsp;</span>
            <h4><label for="textArea_@Model.Value.Key.Name">@Model.Key.PrettyName</label></h4>
            <span class="k-widget k-input k-state-default">
                <textarea id="textArea_@Model.Value.Key.Name" data-historyproperty="@Model.Value.Key.Name" value="@Model.Value.Value" data-fieldtype="html" disabled>@Model.Value.Value</textarea>
            </span>
        </div>
    </div>
}
else if (@Model.Key.TextEditorType == CmsAttributes.CmsTextEditorType.QueryEditor)
{
    <div class="col col-6">
        <div class="item" data-label-style="float" data-label-width="0">
            <span class="handler">&nbsp;</span>
            <h4><label for="textArea_@Model.Value.Key.Name">@Model.Key.PrettyName</label></h4>
            <span class="k-widget k-input k-state-default">
                <textarea id="textArea_@Model.Value.Key.Name" data-historyproperty="@Model.Value.Key.Name" value="@Model.Value.Value" data-fieldtype="query" disabled>@Model.Value.Value</textarea>
            </span>
        </div>
    </div>
}
else if (@Model.Key.TextEditorType == CmsAttributes.CmsTextEditorType.JsEditor)
{
    <div class="col col-6">
        <div class="item" data-label-style="float" data-label-width="0">
            <span class="handler">&nbsp;</span>
            <h4><label for="textArea_@Model.Value.Key.Name">@Model.Key.PrettyName</label></h4>
            <span class="k-widget k-input k-state-default">
                <textarea id="textArea_@Model.Value.Key.Name" data-historyproperty="@Model.Value.Key.Name" value="@Model.Value.Value" data-fieldtype="javascript" disabled>@Model.Value.Value</textarea>
            </span>
        </div>
    </div>
}