@model FrontEnd.Modules.Base.Models.BaseModuleViewModel

<!DOCTYPE html>
<html>

<head runat="server">
    <title>Wiser 3 - Version Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2021.2.511/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2021.2.511/styles/kendo.material.min.css" rel="stylesheet" /> 
    
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
</head>

<body class="@Model.BodyCssClass"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-wiser-api-root="@Model.ApiRoot"
      data-wiser-api-v21-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret">

    <form id="mainScreenForm" class="mainForm" autocomplete="off" novalidate>
        <div id="wiser">
            <!-- Tab selection -->
            <div class="tab">
                <button class="tablinks active" value="Commit">Commit change history</button>
                <button class="tablinks" value="Deploy">Deploy</button>
                <button class="tablinks" value="History">History</button>
            </div>

            <!-- Tab content -->
            <div id="Commit" class="tabcontent" style="display: block">
                <div class="formData">
                    <div id="commit-data">
                        <div id="description-data">
                            Beschrijving commit: <input type="text" id="description-textbox" style="width: 50%; height: 50px" />
                        </div>

                        <div id="checkbox-data">
                            <label><input type="checkbox" id="commitTest" class="commitCheckbox" value="commitTest" /> Zet commit naar test omgeving</label><br />
                            <label><input type="checkbox" id="commitAcceptatie" class="commitCheckbox" value="commitAcceptatie"/> Zet commit naar acceptatie omgeving</label><br />
                            <label><input type="checkbox" id="commitLive" class="commitCheckbox" value="commitLive"/> Zet commit naar live omgeving</label>
                        </div>
                    </div>
                    <div class="gridData">
                        Template changes
                        <div id="templateChangesGrid"></div>

                        Dynamic content changes
                        <div id="dynamicContentGrid"></div>
                    </div>
                </div>
                
                <button id="commitTemplate" class="formButton">Commit</button>
            </div>
            <div id="dialog"></div>
            <div id="Deploy" class="tabcontent">
                <div class="formData">
                    <div class="gridData">
                        Deploy Grid
                        <div id="deploygrid"></div>
                    </div>
                </div>
                <button class="evironment_deploy formButton" value="live">to live</button>
                <button class="evironment_deploy formButton" value="accept">to acceptatie</button>
                <button class="evironment_deploy formButton" value="test">to test</button>
            </div>

            <div id="History" class="tabcontent">
                <div class="formData">
                    <div class="gridData">
                        History Grid Templates
                        <div id="historyGridId"></div>
                        <br/>

                        History Grid Dynamische content
                        <div id="historyDynamicContentGridId"></div>
                    </div>
                </div>
                <button class="environment_dynamic_content_history formButton" value="live">to live</button>
                <button class="environment_dynamic_content_history formButton" value="accept">to acceptatie</button>
                <button class="environment_dynamic_content_history formButton" value="test">to test</button>
            </div>
        </div>
    </form>

    <div id="mainLoader" class="fullscreen-loader loading">
        <div class="loader-icon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Kendo Templates -->
    <div id="imageDialog"></div>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="../../img/error-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="success">
            <img src="../../img/success-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>
    
    <script src="/scripts/Utils.min.js"></script>
    <script src="/scripts/VersionControl.min.js"></script>
</body>

</html>