@model FrontEnd.Modules.Base.Models.BaseModuleViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd

@{
    ViewBag.Title = "Versiebeheer";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <title>Wiser 3 - Versiebeheermodule</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    <style>
        #wiser,
        #NotMainBranchNotification {
            display: none;
        }
    </style>
</head>
<body class="@Model.BodyCssClass"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret">
    <div id="NotMainBranchNotification" class="hidden">
        <p>
            Je bent op dit moment ingelogd bij een branch van deze klant. Het is niet mogelijk/toegestaan om de templatemodule te gebruiken in een branch.<br/>
            Log a.u.b. in op de live-omgeving van de klant en werk daar in de templatemodule.
        </p>
    </div>
    <div id="wiser">
        <div id="window" style="margin: 0 auto; padding: 0;">
            <div id="tabstrip" class="tabstrip k-tabstrip-wrapper">
                <ul>
                    <li id="changeHistoryTab" class="k-state-active">Openstaande wijzigingen</li>
                    <li id="deployTab">Deploy</li>
                    <li id="reviewTab">Reviews</li>
                    <li id="historyTab">Historie</li>
                </ul>
                <div id="templateChangeHistory">
                    <div class="formData">
                        <div id="commitData">
                            <select id="commitEnvironment"></select>
                            <label for="commitDescription">Omschrijving</label>
                            <textarea type="text" id="commitDescription"></textarea>
                            <label for="usersForCodeReview">Code review aanvragen? Selecteer hier dan 1 of meer personen die de review kunnen doen:</label>
                            <select id="usersForCodeReview" multiple></select>
                        </div>
                        <div id="gridsContainer">
                            <h2>Templates</h2>
                            <div id="templateChangesGrid"></div>
                            <h2>Dynamische content</h2>
                            <div id="dynamicContentChangesGrid"></div>
                        </div>
                    </div>
                    <footer>
                        <button id="reloadUncommittedChangesButton">Verversen</button>
                        <button id="commitButton">Commit</button>
                    </footer>
                </div>
                <div id="deploy">
                    <div class="formData">
                        <div class="gridData">
                            <div id="deployGrid"></div>
                        </div>
                    </div>
                    <footer>
                        <button id="reloadCommitsButton">Verversen</button>
                        <div class="branch-container hidden" id="deployToBranchContainer">
                            <select id="branchesDropDown"></select>
                            <button class="branch-deploy" id="deployCommitToBranch" title="Deploy naar geselecteerde branch"><ins class="icon-git"></ins></button>
                        </div>
                        <button class="environment-deploy" id="deployCommitToLive">Deploy naar live</button>
                        <button class="environment-deploy" id="deployCommitToAcceptance">Deploy naar acceptatie</button>
                        <button class="environment-deploy" id="deployCommitToTest">Deploy naar test</button>
                    </footer>
                </div>
                <div id="review">
                    <div class="formData">
                        <div class="gridData">
                            <div id="reviewGrid"></div>
                        </div>
                    </div>
                    <footer>
                        <button id="reloadReviewsButton">Verversen</button>
                    </footer>
                </div>
                <div id="history">
                    <div class="formData">
                        <div class="gridData">
                            <div id="historyGrid"></div>
                        </div>
                    </div>
                    <footer>
                        <button id="reloadHistoryButton">Verversen</button>
                    </footer>
                </div>
            </div>
        </div>
    </div>

     <div id="mainLoader" class="fullscreen-loader loading">
         <div class="loader-icon">
             <div></div>
             <div></div>
             <div></div>
             <div></div>
         </div>
    </div>

    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="Processing.js"></webpack-script>
    <webpack-script file-name="kendo-ui.js"></webpack-script>
    <webpack-script file-name="VersionControl.js"></webpack-script>
</body>
</html>