@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using FrontEnd.Core.Models
@using GeeksCoreLibrary.Core.Enums
@inject FrontEnd.Core.Interfaces.IWebPackService WebPackService

@model BaseViewModel


<style> 
    [v-cloak] {
        display: none;
    }
</style>
<!-- Current Wiser version: @Model.WiserVersion?.ToString() -->
<div id="app" v-cloak>
    <div :class="{ 'loading': mainLoader }">
        <header v-if="user.loggedIn && !requirePasswordChange">
            <ul class="main-menu">
                <li id="side-menu">
                    <div id="menu-btn" @@click="toggleMenuState()"><ins class="icon-menu"></ins><span>@Localizer["Menu"]</span></div>
                    <div id="side-btn" @@click="toggleMenuActive()"><ins class="icon-chevron-right"></ins></div>

                    <nav id="side-nav">
                        <div class="menu-scroller">
                            <ul>
                                <li v-for="moduleGroup in moduleGroups" :key="moduleGroup.name">
                                    <strong v-if="moduleGroup.name">{{ moduleGroup.name }}</strong>
                                    <ul>
                                        <li v-for="module in moduleGroup.modules" :key="module.moduleId">
                                            <a href="#" :title="module.name" @@click="onOpenModuleClick($event, module)"><ins :class="module.icon"></ins><span>{{ module.name }}</span></a>
                                            <button @@click="onTogglePin($event, module.moduleId)" :class="{ pinned: module.pinned, 'auto-load': module.autoLoad }">
                                                <ins :class="{ 'icon-line-pin-empty': !module.autoLoad, 'icon-line-pin-full': module.pinned && module.autoLoad }"></ins>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </li>

                <li class="tabs">
                    <div v-for="module in openedModules" :key="module.id" :class="{ 'tab-item': true, active: module.id === activeModule }" @@click="setActiveModule($event, module.id)" :title="module.name">
                        <ins :class="module.icon"></ins>
                        <strong>{{ module.name }}</strong>
                        <span class="close-module" title="@Localizer["close module"]" @@click="closeModule(module)"></span>
                    </div>
                </li>

                <li class="icons">
                    <div class="ico-item" v-if="modules.find(m => m.moduleId === 709)">
                        <ins class="icon-line-search" @@click="openModule(709)"></ins>
                    </div>
                    <task-alerts ref="taskAlerts"></task-alerts>
                </li>

                <li class="login">
                    <span>
                        <strong class="title">@Localizer["Welcome"]</strong>
                        <span class="sub-title">{{ user.name }}</span>
                        <ins class="icon-chevron-down"></ins>
                    </span>

                <ul class="sub-menu">
                        <li><a href="#" v-if="user.adminAccountId" @@click="openCustomerManagement()"><ins class="icon-line-user-plus"></ins><span>@Localizer["Add customer"]</span></a></li>
                        <li><a href="#" @@click="openMarkerIoScreen()"><ins class="icon-line-bug"></ins><span>@Localizer["Report bug!"] (CTRL+B)</span></a></li>
                    <li><a href="#" @@click="openWiserIdPrompt"><ins class="icon-line-database-search"></ins><span>@Localizer["Open Wiser item"] (CTRL+O)</span></a></li>
                    <li><a href="#" @@click="openChangePasswordPrompt"><ins class="icon-line-lock"></ins><span>@Localizer["Change password"]</span></a></li>
                        <li><a href="#" @@click="openWiserBranchesPrompt"><ins class="icon-table-backup"></ins><span>@Localizer["Wiser branches"]</span></a></li>
                        <li><a href="#" @@click="openClearCachePrompt"><ins class="icon-line-refresh"></ins><span>@Localizer["Clear website cache"]</span></a></li>
                        <li><a href="#" @@click="logout()"><ins class="icon-line-log-out"></ins><span>@Localizer["Log out"]</span></a></li>
                </ul>
            </li>
            <li class="logo">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 266" style="enable-background:new 0 0 512 266;" xml:space="preserve">
                <circle class="logo1" cx="183.1" cy="97.1" r="24.3" />
                <circle class="logo1" cx="328.9" cy="97.1" r="24.3" />
                <path class="logo1" d="M256,179.6c-9.6,10.8-21.5,19.5-35,25.2l35,60.8l35-60.8C277.5,199.1,265.6,190.4,256,179.6z" />
                <path class="logo2" d="M352.1,54.5c15.1,8.3,25.3,24.3,25.3,42.7c0,26.8-21.8,48.6-48.6,48.6c-26.8,0-48.6-21.7-48.6-48.4 c0-26.8,21.8-48.3,48.6-48.3L511,1H328.9c-29,0-55.1,12.6-72.9,32.6C238.2,13.6,212.2,1,183.1,1H1l182.1,48.1 c26.8,0,48.6,21.5,48.6,48.3c0,26.8-21.8,48.4-48.6,48.4c-26.8,0-48.6-21.9-48.6-48.6c0-18.4,10.2-34.4,25.3-42.7l-55.1-14.7 C93,55.9,86,75.7,86,97.1c0,53.7,43.5,97.1,97.1,97.1c29,0,55.1-12.6,72.9-32.6c17.8,20,43.8,32.6,72.9,32.6 c53.7,0,97.1-43.5,97.1-97.1c0-21.4-7-41.3-18.7-57.3L352.1,54.5z" />
                </svg>
            </li>
        </ul>
        </header>

        <main :class="{ login: !user.loggedIn || requirePasswordChange, 'scrollable': customerManagementIsOpened }">
            <p v-if="user.loggedIn && !mainLoader && !hasModules">Voor deze gebruiker zijn geen modules beschikbaar.</p>
            <login v-bind:sub-domain="appSettings.subDomain" v-if="!user.loggedIn || requirePasswordChange" ref="login"></login>
            <section class="iframe-container">
                <iframe v-for="module in openedModulesWithBackend" :key="module.id" :src="module.iframeUrl || `/Modules/${module.type}${module.fileName}${module.queryString}`" :id="module.id" :class="{ active: module.id === activeModule }" frameborder="0" scrolling="auto"></iframe>
                <iframe v-for="module in openedWiser1Modules" :key="module.id" :src="`${appSettings.wiser1BaseUrl}?singleModuleId=${module.moduleId}&autoLoginCookie=${encodeURIComponent(user.cookieValue)}&autoLoginUserId=${encodeURIComponent(user.encryptedId)}`" :class="{ active: module.id === activeModule }" frameborder="0" scrolling="auto"></iframe>
            </section>

            <keep-alive>
                <customer-management v-if="user.adminAccountId && activeModule === 'customerManagement'" v-bind:sub-domain="appSettings.subDomain" ref="customerManagement"></customer-management>
            </keep-alive>


        </main>

        <wiser-dialog class="general-message-dialog" :modal="true" :width="'400px'" :title="generalMessagePromptTitle" ref="generalMessagePrompt" :visible="false" :actions="[{ text: 'OK', primary: true }]">
            <div class="form-row">
                {{ generalMessagePromptText }}
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'Vul een ID in'" ref="wiserIdPrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Openen', primary: true, action: openWiserItem }]" @@open="onWiserIdPromptOpen">
            <div class="form-row">
                <input type="number" id="wiserId" class="full-width" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="wiserIdPromptValue" min="1" step="1" @@keypress="onWiserIdFieldKeyPress" required>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'Entiteit'" ref="wiserEntityTypePrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Openen', primary: true, action: openWiserItem }]">
            <p>@Localizer["The specified ID occurs more than once. Choose which type you want to open:"]</p>
            <div class="form-row">
                <dropdownlist :data-items="listOfEntityTypes" :text-field="'display_name'" :data-item-key="'id'" v-model="wiserEntityTypePromptValue"></dropdownlist>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'@Localizer["Change password"]'" ref="changePasswordPrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Opslaan', primary: true, action: changePassword }]">
            <div class="form-row">
                <input type="password" id="oldPassword" name="oldPassword" class="loginField passwordField" placeholder="@Localizer["Your current password"]" v-model="changePasswordPromptOldPasswordValue" />
            </div>
            <div class="form-row">
                <input type="password" id="newPassword" name="newPassword" class="loginField passwordField" placeholder="@Localizer["Your new password"]" v-model="changePasswordPromptNewPasswordValue" />
            </div>
            <div class="form-row">
                <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" class="loginField passwordField" placeholder="@Localizer["Repeat your new password"]" v-model="changePasswordPromptNewPasswordRepeatValue" />
            </div>

            <div class="error" v-if="changePasswordError">{{ changePasswordError }}</div>
        </wiser-dialog>
        <wiser-dialog class="branches-dialog" :modal="true" :width="'1200px'" ref="wiserBranchesPrompt" :visible="false" :actions="[]" @@open="onWiserBranchesPromptOpen">
            <div class="container">
                <div class="row equal">
                    <div class="col col-3" v-if="isMainBranch">
                        <h2>@Localizer["Create branch"]</h2>
                        <p>
                            @Localizer["A new branch can be created here. A branch is a (partial) copy of your database.This can be used to safely implement changes in Wiser and test in a separate environment. After you've finished testing, you can rollback the changes in a branch back to the production environment."]. 
                        </p>

                        <button v-if="isMainBranch" class="btn btn-primary" @@click="openCreateBranchPrompt">@Localizer["Create new branch"]</button>
                    </div>
                    <div class="col col-3" v-if="branches.length > 0">
                        <h2>@Localizer["Open branch"]</h2>
                        <p>
                            @Localizer["An existing branch can be opened here."]
                        </p>
                        
                        <div class="col col-12 form-row" v-if="isMainBranch">
                            <label for="open-branch-type">@Localizer["Where do you want to open the branch?"]</label>
                            <dropdownlist id="open-branch-type" class="full-width" :data-items="openBranchTypes" :text-field="'name'" :data-item-key="'id'" v-model="openBranchSettings.selectedBranchType"></dropdownlist>
                        </div>
                        
                        <div class="col col-12 form-row" v-if="openBranchSettings.selectedBranchType.id === 'website'">
                            <label for="website-url">@Localizer["Enter the URL of your website"]</label>
                            <input type="url" id="website-url" placeholder="https://happyhorizon.com/" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="openBranchSettings.websiteUrl" required>
                        </div>
                        
                        <div class="col col-12 form-row" v-if="isMainBranch">
                            <label for="available-branches">@Localizer["Select the branch you want to open"]</label>
                            <dropdownlist id="available-branches-to-open" class="full-width" :data-items="branches" :text-field="'name'" :data-item-key="'id'" v-model="openBranchSettings.selectedBranch"></dropdownlist>
                        </div>

                        <a href="#" class="btn btn-primary copy-branch-url" @@click="openOrCopyBranch($event, true)">@Localizer["Copy Branch URL"]</a>
                        <a href="#" class="btn btn-primary open-branch" @@click="openOrCopyBranch($event, false)">@Localizer["Open branch"]</a>
                    </div>
                    <div :class="{ 'col': true, 'col-6': isMainBranch || branches.length > 0, 'col-9': !isMainBranch || !branches.length }">
                        <h2>@Localizer["Restore branch"]</h2>
                        <p>
                            @Localizer["This allows changes which is made in a branch to be transferred to the production environment. You can then choose which changes should be implemented, which does not necessarily have to be everything. It is not possible to merge different branches. The merge always goes from a branch to the production environment."]
                        </p>
                        <p>
                            <strong>@Localizer["Attention:"]</strong> @Localizer["During restoring a branch, the database will be locked so that no other changes can be made in between. This means that Wiser and any other products (such as a website) that are linked to the same database will also be unavailable. Therefore, make sure you start the merge at a time when it will have the least impact (such as at night)."]
                        </p>

                        <button class="btn btn-primary" @@click="openMergeBranchPrompt">@Localizer["Restore existing branch to production"]</button>
                    </div>
                </div>
            </div>
        </wiser-dialog>
        <wiser-dialog class="branches-dialog" :modal="true" :width="'1200px'" :title="'Branch maken'" ref="wiserCreateBranchPrompt" :visible="false" :actions="[]" @@open="onWiserCreateBranchPromptOpen">
            <div class="container stretch">
                <div class="row no-scroll">
                    <div class="col col-12 form-row">
                        <label for="newBranchName">@Localizer["Enter a name for the new branch"]</label>
                        <section class="full-error" v-if="createBranchError">
                            <ins class="icon-line-alert"></ins>
                            <span v-html="createBranchError"></span>
                        </section>
                        <input type="text" id="newBranchName" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="createBranchSettings.name" required>
                    </div>
                    <div class="col col-12 form-row no-bottom-margin">
                        <label for="branche-data">
                            @Localizer["Which data do you want to transfer to the branche?"]
                            <span class="label-info">@Localizer["Note: with items <strong>alle</strong> linked items are always included!"]</span>
                        </label>
                    </div>
                    <div class="col col-12 table-row no-top-margin">
                        <div class="fixed-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>@Localizer["Item"]</th>
                                    <th>@Localizer["Amount"]</th>
                                    <th>@Localizer["What"]</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody v-if="!entitiesForBranches || !entitiesForBranches.length">
                                    <tr>
                                        <td colspan="4">@Localizer["No entities found. Please contact us."]</td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td>@Localizer["All below"]</td>
                                        <td>{{ totalAmountOfItemsForCreatingBranch }}</td>
                                        <td>
                                            <select v-model="createBranchSettings.entities.all.mode" @@change="onCreateBranchAllSettingsChange">
                                                <option value="0">@Localizer["Everything"]</option>
                                                <option value="1">@Localizer["Nothing"]</option>
                                                <option value="2">@Localizer["Random X items"]</option>
                                                <option value="3">@Localizer["Last X items"]</option>
                                                <option value="4">@Localizer["Everything added for X"]</option>
                                                <option value="5">@Localizer["Anything added after X"]</option>
                                                <option value="6">@Localizer["Anything added between X and Y"]</option>
                                            </select>
                                        </td>
                                        <td class="extra">
                                            <label class="number-of-items" v-if="createBranchSettings.entities.all.mode == 2 || createBranchSettings.entities.all.mode == 3">
                                                <span>@Localizer["Amount of items:"]</span>
                                                <input type="number" v-model="createBranchSettings.entities.all.amountOfItems" @@change="onCreateBranchAllSettingsChange" />
                                            </label>
                                            <label class="single-date" v-if="createBranchSettings.entities.all.mode == 4 || createBranchSettings.entities.all.mode == 5">
                                                <span>@Localizer["Date:"]</span>
                                                <input type="date" v-model="createBranchSettings.entities.all.start" @@change="onCreateBranchAllSettingsChange" />
                                            </label>
                                            <div class="date-range" v-if="createBranchSettings.entities.all.mode == 6">
                                                <input type="date" v-model="createBranchSettings.entities.all.start" @@change="onCreateBranchAllSettingsChange" />
                                                <input type="date" v-model="createBranchSettings.entities.all.end" @@change="onCreateBranchAllSettingsChange" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-for="entity in entitiesForBranches" :key="entity.id">
                                        <td>{{ entity.displayName }}</td>
                                        <td>{{ entity.totalItems }}</td>
                                        <td>
                                            <select v-model="createBranchSettings.entities[entity.id].mode" v-if="createBranchSettings.entities[entity.id]">
                                                <option value="0">@Localizer["Everything"]</option>
                                                <option value="1">@Localizer["Nothing"]</option>
                                                <option value="2">@Localizer["Random X items"]</option>
                                                <option value="3">@Localizer["Last X items"]</option>
                                                <option value="4">@Localizer["Everything added for X"]</option>
                                                <option value="5">@Localizer["Anything added after X"]</option>
                                                <option value="6">@Localizer["Anything added between X and Y"]</option>
                                            </select>
                                        </td>
                                        <td class="extra">
                                            <label class="number-of-items" v-if="createBranchSettings.entities[entity.id] && (createBranchSettings.entities[entity.id].mode == 2 || createBranchSettings.entities[entity.id].mode == 3)">
                                                <span>@Localizer["Amount of items:"]</span>
                                                <input type="number" v-model="createBranchSettings.entities[entity.id].amountOfItems"/>
                                            </label>
                                            <label class="single-date" v-if="createBranchSettings.entities[entity.id] && (createBranchSettings.entities[entity.id].mode == 4 || createBranchSettings.entities[entity.id].mode == 5)">
                                                <span>@Localizer["Date:"]</span>
                                                <input type="date" v-model="createBranchSettings.entities[entity.id].start"/>
                                            </label>
                                            <div class="date-range" v-if="createBranchSettings.entities[entity.id] && createBranchSettings.entities[entity.id].mode == 6">
                                                <input type="date" v-model="createBranchSettings.entities[entity.id].start"/>
                                                <input type="date" v-model="createBranchSettings.entities[entity.id].end"/>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <footer class="row fixed no-bottom-padding">
                    <div class="col col-8 inline">
                        <label class="radio">
                            <input type="radio" name="start-time" value="direct" v-model="createBranchSettings.startMode" />
                            <span>@Localizer["Start directly"]</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="start-time" value="delayed" v-model="createBranchSettings.startMode" />
                            <span>@Localizer["Start on:"]</span>
                        </label>
                        <label>
                            <input type="datetime-local" name="start-time-picker"  v-model="createBranchSettings.startOn" />
                        </label>
                    </div>
                    <div class="col col-4 align-right">
                        <button class="btn btn-primary" @@click="createBranch">@Localizer["Start creating new branch"]</button>
                    </div>
                </footer>
            </div>
        </wiser-dialog>
        <wiser-dialog class="branches-dialog full-height" :modal="true" :width="'1200px'" :title="'@Localizer["Restore branch"]'" ref="wiserMergeBranchPrompt" :visible="false" :actions="[]" @@open="onWiserMergeBranchPromptOpen">
            <div class="container">
                <div class="row" v-if="!branches || !branches.length">
                    <section class="full-error">
                        <ins class="icon-line-alert"></ins>
                        <span>@Localizer["You have no other branches yet. Please create a new branch first using the 'Create new branch' option."]</span>
                    </section>
                </div>
                <div class="row scroll" v-else>
                    <div class="col col-12 form-row" v-if="isMainBranch">
                        <label for="available-branches">@Localizer["Select the branch you want to synchronize first"]</label>
                        <dropdownlist id="available-branches" class="full-width" :data-items="branches" :text-field="'name'" :data-item-key="'id'" v-model="branchMergeSettings.selectedBranch" @@change="onSelectedBranchChange"></dropdownlist>
                    </div>
                    
                    <section class="full-error" v-if="mergeBranchError">
                        <ins class="icon-line-alert"></ins>
                        <span v-html="mergeBranchError"></span>
                    </section>
                    
                    <div class="col col-12 form-row no-bottom-margin" v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                        <label>@Localizer["Select to synchronize Wiser data"]</label>
                    </div>
                    <div class="col col-12 table-row no-top-margin" v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                        <div class="fixed-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["Item"]</th>
                                        <th>@Localizer["Everything"]</th>
                                        <th>@Localizer["New"]</th>
                                        <th>@Localizer["Deleted"]</th>
                                        <th>@Localizer["Changed"]</th>
                                    </tr>
                                </thead>
                                <tbody v-if="!branchChanges || !branchChanges.entities || !branchChanges.entities.length">
                                    <tr>
                                        <td colspan="5">@Localizer["There are no changes in Wiser data to synchronize."]</td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td>@Localizer["All below"]</td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" v-model="branchMergeSettings.entities.all.everything" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'everything')" />
                                                <span>({{ totalAmountOfItemsCreated + totalAmountOfItemsUpdated + totalAmountOfItemsDeleted }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="totalAmountOfItemsCreated > 0">
                                                <input type="checkbox" v-model="branchMergeSettings.entities.all.create" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'create')" />
                                                <span>({{ totalAmountOfItemsCreated }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="totalAmountOfItemsDeleted > 0">
                                                <input type="checkbox" v-model="branchMergeSettings.entities.all.delete" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'delete')" />
                                                <span>({{ totalAmountOfItemsDeleted }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="totalAmountOfItemsUpdated > 0">
                                                <input type="checkbox" v-model="branchMergeSettings.entities.all.update" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'update')" />
                                                <span>({{ totalAmountOfItemsUpdated }})</span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr v-for="entity in branchChanges.entities" :key="entity.entityType">
                                        <td>{{ entity.displayName }}</td>
                                        <td>
                                            <label class="checkbox" v-if="branchMergeSettings.entities[entity.entityType]">
                                                <input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].everything" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'everything')" />
                                                <span>({{ entity.created + entity.deleted + entity.updated }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="entity.created > 0 && branchMergeSettings.entities[entity.entityType]">
                                                <input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].create" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'create')" />
                                                <span>({{ entity.created }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="entity.deleted > 0 && branchMergeSettings.entities[entity.entityType]">
                                                <input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].delete" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'delete')" />
                                                <span>({{ entity.deleted }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="entity.updated > 0 && branchMergeSettings.entities[entity.entityType]">
                                                <input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].update" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'update')" />
                                                <span>({{ entity.updated }})</span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col col-12 form-row no-bottom-margin" v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                        <label>Selecteer te synchroniseren Wiser inrichting</label>
                    </div>
                    <div class="col col-12 table-row no-top-margin" v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                        <div class="fixed-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["Item"]</th>
                                        <th>@Localizer["Everything"]</th>
                                        <th>@Localizer["New"]</th>
                                        <th>@Localizer["Deleted"]</th>
                                        <th>@Localizer["Changed"]</th>
                                    </tr>
                                </thead>
                                <tbody v-if="!branchChanges || !branchChanges.settings || !branchChanges.settings.length">
                                    <tr>
                                        <td colspan="5">@Localizer["There are no changes in Wiser data to synchronize."]</td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td>@Localizer["All below"]</td>
                                        <td>
                                            <label class="checkbox">
                                                <input type="checkbox" v-model="branchMergeSettings.settings.all.everything" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'everything')" />
                                                <span>({{ totalAmountOfSettingsCreated + totalAmountOfSettingsUpdated + totalAmountOfSettingsDeleted }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="totalAmountOfSettingsCreated > 0">
                                                <input type="checkbox" v-model="branchMergeSettings.settings.all.create" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'create')" />
                                                <span>({{ totalAmountOfSettingsCreated }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="totalAmountOfSettingsDeleted > 0">
                                                <input type="checkbox" v-model="branchMergeSettings.settings.all.delete" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'delete')" />
                                                <span>({{ totalAmountOfSettingsDeleted }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="totalAmountOfSettingsUpdated > 0">
                                                <input type="checkbox" v-model="branchMergeSettings.settings.all.update" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'update')" />
                                                <span>({{ totalAmountOfSettingsUpdated }})</span>
                                            </label>
                                        </td>
                                    </tr>
                                    <tr v-for="setting in branchChanges.settings" :key="setting.type">
                                        <td>{{ setting.displayName }}</td>
                                        <td>
                                            <label class="checkbox" v-if="branchMergeSettings.settings[setting.type]">
                                                <input type="checkbox" v-model="branchMergeSettings.settings[setting.type].everything" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'everything')" />
                                                <span>({{ setting.created + setting.deleted + setting.updated }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="setting.created > 0 && branchMergeSettings.settings[setting.type]">
                                                <input type="checkbox" v-model="branchMergeSettings.settings[setting.type].create" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'create')" />
                                                <span>({{ setting.created }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="setting.deleted > 0 && branchMergeSettings.settings[setting.type]">
                                                <input type="checkbox" v-model="branchMergeSettings.settings[setting.type].delete" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'delete')" />
                                                <span>({{ setting.deleted }})</span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="checkbox" v-if="setting.updated > 0 && branchMergeSettings.settings[setting.type]">
                                                <input type="checkbox" v-model="branchMergeSettings.settings[setting.type].update" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'update')" />
                                                <span>({{ setting.updated }})</span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="col col-12 form-row" v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                        <label class="checkbox">
                            <input type="checkbox" v-model="branchMergeSettings.deleteAfterSuccessfulMerge" />
                            <span>@Localizer["Delete this branch after successful merging"]</span>
                        </label>
                        <p><strong>@Localizer["Attention:"]</strong> @Localizer["This action cannot be undone. If you do not check all the options above, changes may be lost."]</p>
                    </div>
                </div>
            </div>
            <footer class="container fixed no-bottom-padding" v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                <div class="row">
                    <div class="col col-8 inline">
                        <label class="radio">
                            <input type="radio" name="start-time" value="direct" v-model="branchMergeSettings.startMode" />
                            <span>@Localizer["Start directly"]</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="start-time" value="delayed" v-model="branchMergeSettings.startMode" />
                            <span>@Localizer["Start on:"]</span>
                        </label>
                        <label>
                            <input type="datetime-local" name="start-time-picker" v-model="branchMergeSettings.startOn" />
                        </label>
                    </div>
                    <div class="col col-4 align-right">
                        <button class="btn btn-primary" @@click="mergeBranch">@Localizer["Start restore procedure"]</button>
                    </div>
                </div>
            </footer>
        </wiser-dialog>
        
        <wiser-dialog class="branches-dialog" :modal="true" :width="'1500px'" :title="'@Localizer["Conflicts"]'" ref="wiserMergeConflictsPrompt" :visible="false" :actions="[]">
            <div class="container stretch">
                <div class="row no-scroll">
                    <div class="col col-12 flex-inline">
                        <select v-model="batchHandleConflictSettings.property">
                            <option value="type">@Localizer["Type"]</option>
                            <option value="field">@Localizer["Field name"]</option>
                            <option value="changeDateOriginal">@Localizer["Change date original"]</option>
                            <option value="changeDateBranch">@Localizer["Change date branch"]</option>
                            <option value="originalValue">@Localizer["Value original"]</option>
                            <option value="branchValue">@Localizer["Value branch"]Waarde branch</option>
                        </select>

                        <select v-model="batchHandleConflictSettings.operator">
                            <option value="contains" v-if="batchHandleConflictSettings.property !== 'changeDateOriginal' && batchHandleConflictSettings.property !== 'changeDateBranch'">@Localizer["contains"]</option>
                            <option value="equals">@Localizer["is equal to"]</option>
                            <option value="greaterThan" v-if="batchHandleConflictSettings.property !== 'field' && batchHandleConflictSettings.property !== 'type'">@Localizer["is greater than"]</option>
                            <option value="lessThan" v-if="batchHandleConflictSettings.property !== 'field' && batchHandleConflictSettings.property !== 'type'">@Localizer["is less than"]</option>
                            <option value="between" v-if="batchHandleConflictSettings.property !== 'field' && batchHandleConflictSettings.property !== 'type'">@Localizer["is between"]</option>
                        </select>

                        <input :type="batchHandleConflictSettings.property === 'changeDateOriginal' || batchHandleConflictSettings.property === 'changeDateBranch' ? 'date' : 'text'" v-model="batchHandleConflictSettings.start" />
                        <span v-if="batchHandleConflictSettings.operator === 'between'">@Localizer["and"]</span>
                        <input v-if="batchHandleConflictSettings.operator === 'between'" :type="batchHandleConflictSettings.property === 'changeDateOriginal' || batchHandleConflictSettings.property === 'changeDateBranch' ? 'date' : 'text'" v-model="batchHandleConflictSettings.end" />

                        <button class="btn btn-primary" @@click="onAcceptMultipleConflictsClick">@Localizer["Approve"]</button>
                        <button class="btn btn-alert" @@click="onDenyMultipleConflictsClick">@Localizer["Disapprove"]</button>
                    </div>
                    <div class="col col-12 flex-inline">
                        <p>@Localizer["Approving a conflict means that the modification of the selected branch will be used and the value in the original/production branch will be overwritten and thus lost. Rejecting a change is the other way around, the change from the original/production branch will be kept and the change from the selected branch will be lost."]</p>
                    </div>
                    
                    <div class="col col-12 table-row no-top-margin">
                        <div class="fixed-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>@Localizer["Type"]</th>
                                        <th>@Localizer["Name"]</th>
                                        <th>@Localizer["Field"]</th>
                                        <th>@Localizer["Value original"]</th>
                                        <th>@Localizer["Value branch"]</th>
                                        <th>@Localizer["Original changed on"]</th>
                                        <th>@Localizer["Branche changed on"]</th>
                                        <th>@Localizer["Action"]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="conflict in mergeBranchResult.conflicts" :key="conflict.id" :class="{ 'accepted': conflict.acceptChange === true, 'denied': conflict.acceptChange === false }">
                                        <td>{{ conflict.typeDisplayName }}</td>
                                        <td>{{ conflict.title }}</td>
                                        <td>{{ conflict.fieldDisplayName }}</td>
                                        <td>{{ conflict.valueInMain }}</td>
                                        <td>{{ conflict.valueInBranch }}</td>
                                        <td>{{ conflict.prettyChangeDateInMain }}<br>
                                            door {{ conflict.changedByInMain }}</td>
                                        <td>{{ conflict.prettyChangeDateInBranch }}<br>
                                            door {{ conflict.changedByInBranch }}</td>
                                        <td>
                                            <button class="btn btn-primary" @@click="onApproveConflictClick(conflict)">@Localizer["Approve"]</button>
                                            <button class="btn btn-alert" @@click="onDenyConflictClick(conflict)">@Localizer["Disapprove"]</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <footer class="row fixed no-bottom-padding">
                    <div class="col col-6 inline">
                        <span class="error" v-if="!areAllConflictsHandled">
                            @Localizer["ATTENTION: not all conflicts have have been approved or denied yet!"]
                        </span>
                    </div>
                    <div class="col col-6 align-right">
                        <span>{{ totalAmountOfApprovedMergeConflicts }} @Localizer["from_"] {{ totalAmountOfMergeConflicts }} @Localizer["conflicts approved"]</span>
                        <button class="btn btn-primary" @@click="mergeBranch">@Localizer["Start restore procedure"]</button>
                    </div>
                </footer>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'Vul een ID in'" ref="wiserIdPrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Openen', primary: true, action: openWiserItem }]" @@open="onWiserIdPromptOpen">
            <div class="form-row">
                <input type="number" id="wiserId" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="wiserIdPromptValue" min="1" step="1" @@keypress="onWiserIdFieldKeyPress" required>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'Entiteit'" ref="wiserEntityTypePrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Openen', primary: true, action: openWiserItem }]">
            <p>@Localizer["The specified ID occurs more than once. Choose which type you want to open:"]</p>
            <div class="form-row">
                <dropdownlist :data-items="listOfEntityTypes" :text-field="'display_name'" :data-item-key="'id'" v-model="wiserEntityTypePromptValue"></dropdownlist>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'@Localizer["Clear cache"]'" ref="clearCachePrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'OK', primary: true, action: clearWebsiteCache }]">
            <div class="form-row">
                <label class="checkbox" for="cache_all">
                    <input type="checkbox" id="cache_all" name="cache_all" value="all" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, 'all')" />
                    <span>@Localizer["Everything"]</span>
                </label>
                <label class="checkbox" for="cache_content">
                    <input type="checkbox" id="cache_content" name="cache_content" value="content" class="cache-type" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, 'content')" />
                    <span>@Localizer["Complete HTML pages"]</span>
                </label>
                <label class="checkbox" for="cache_files">
                    <input type="checkbox" id="cache_files" name="cache_files" value="files" class="cache-type" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, 'files')" />
                    <span>@Localizer["Files / Images"]</span>
                </label>
                @foreach (CacheAreas cacheSetting in Enum.GetValues(typeof(CacheAreas)))
                {
                    <label class="checkbox" for="cache_@cacheSetting">
                        <input type="checkbox" id="cache_@cacheSetting" name="cache_@cacheSetting" value="@cacheSetting" class="cache-type" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, '@cacheSetting')" />
                        @switch (cacheSetting)
                        {
                            case CacheAreas.Configurators:
                                <span>@Localizer["Configurators"]</span>
                                break;
                            case CacheAreas.Unknown:
                                continue;
                            case CacheAreas.Languages:
                                <span>@Localizer["Translations"]</span>
                                break;
                            case CacheAreas.Objects:
                                <span>@Localizer["Settings"]</span>
                                break;
                            case CacheAreas.Redirects:
                                <span>@Localizer["Redirects"]</span>
                                break;
                            case CacheAreas.Seo:
                                <span>@Localizer["SEO"]</span>
                                break;
                            case CacheAreas.Database:
                                <span>@Localizer["Others"]</span>
                                break;
                            case CacheAreas.Templates:
                                <span>"@Localizer["Templates"]"</span>
                                break;
                            case CacheAreas.WiserItems:
                                <span>@Localizer["Wiser items"]</span>
                                break;
                            case CacheAreas.ShoppingBaskets:
                                <span>@Localizer["Shopping baskets"]</span>
                                break;
                            case CacheAreas.DataSelectors:
                                <span>@Localizer["Dataselectors"]</span>
                                break;
                            default:
                                <span>@cacheSetting</span>
                                break;
                        }
                    </label>
                }
            </div>
            <div class="form-row">
                <input type="url" id="url" name="url" placeholder="@Localizer["URL to website"]" class="full-width" v-model="clearCacheSettings.url" />
            </div>

            <section class="full-error" v-if="clearCacheError">
                <ins class="icon-line-alert"></ins>
                <span v-html="clearCacheError"></span>
            </section>
        </wiser-dialog>
    </div>
</div>

<script type="text/html" id="login-template">
    <section>
        <form id="loginForm" class="login-screen" method="post" @@submit="login">
            <div class="logo"><img src="/img/logo-wiser-login.png" alt=""></div>
            <section class="full-error" v-if="message">
                <ins class="icon-line-alert"></ins>
                <span>{{ message }}</span>
            </section>
            <section class="full-error" v-if="!validSubDomain">
                <ins class="icon-line-alert"></ins>
                <span>@Localizer["You have used an invalid subdomain. Please check the subdomain or contact us."]</span>
            </section>

            <div v-if="validSubDomain && loginStatus !== 'list' && loginStatus !== 'list_loading' && !showForgotPasswordScreen && !requirePasswordChange">
                <div class="form-row">
                    <input type="text" id="username" placeholder="@Localizer["User name"]" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="loginForm.username" required>
                </div>

                <div class="form-row">
                    <input type="password" id="password" placeholder="@Localizer["Password"]" autocomplete="off" v-model="loginForm.password" @@keydown="checkCapslock($event)" required>
                    <ins id="password-toggle" class="icon-eye-visible" v-on:click="togglePassword()"></ins>

                    <div class="pwd-message" v-if="loginForm.capslock">@Localizer["Caps lock is on"]</div>
                </div>

                <div class="form-row">
                    <label id="remember" class="check-box">
                        <input type="checkbox" name="remember" class="no-form" v-model="loginForm.rememberMe"><span>@Localizer["Stay logged in"]</span>
                    </label>
                </div>

                <div class="btn-row">
                    <button type="submit" :class="{ btn: true, 'btn-primary': true, loading: loginStatus === 'loading' }">@Localizer["Login"]</button>

                    <a href="#" v-on:click="togglePasswordForgottenScreen(true)" id="forgotten-password">@Localizer["Forgot your password?"]</a>
                </div>
            </div>
            <div v-if="loginStatus === 'list' || loginStatus === 'list_loading' && !showForgotPasswordScreen">
                <p>@Localizer["Choose the user you want to log in with"]</p>

                <div class="form-row"> 
                    <combobox :data-items="listOfUsers" :text-field="'Title'" :data-item-key="'username'" v-model="loginForm.selectedUser" :filterable="true" @@filterchange="userFilterChange"></combobox>
                </div>

                <div class="btn-row">
                    <a href="#" class="btn btn-secundary" @@click="logout()">@Localizer["Cancel"]</a>
                    <button type="submit" :class="{ btn: true, 'btn-primary': true, loading: loginStatus === 'list_loading' }">@Localizer["Continue"]</button>
                </div>
            </div>
            <div v-if="showForgotPasswordScreen" class="forgotPasswordScreen">
                <section class="success" v-if="resetPassword">
                    <span>@Localizer["An email with your new password has been sent."]</span>
                </section>
                <div class="form-row">
                    <input type="text" class="loginField usernameField" placeholder="@Localizer["User name"]" v-model="forgotPasswordForm.username" />
                </div>
                <div class="form-row">
                    <input type="text" class="loginField passwordField" placeholder="@Localizer["E-mail address"]" v-model="forgotPasswordForm.email" />
                </div>

                <div class="btn-row">
                    <button type="submit" :class="{ btn: true, 'btn-primary': true }">@Localizer["Send"]</button>
                    <div :class="{ btn: true }" v-on:click="togglePasswordForgottenScreen(false)">@Localizer["Cancel"]</div>
                </div>
            </div>
            <div class="changePasswordAfterLogin" v-if="requirePasswordChange">
                <h3>@Localizer["You need to choose a new password, please enter it here"]</h3>
                <div class="form-row">
                    <input type="password" id="newPassword" name="newPassword" class="loginField passwordField" placeholder="@Localizer["Your new password"]" v-model="changePasswordForm.newPassword" />
                </div>
                <div class="form-row">
                    <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" class="loginField passwordField" placeholder="@Localizer["Your new password again"]" v-model="changePasswordForm.newPasswordRepeat" />
                </div>

                <div class="error"></div>

                <div class="btn-row">
                    <button id="submitPasswordChange" type="submit" :class="{ btn: true, 'btn-primary': true }">@Localizer["Change"]</button>
                    <button id="cancelPasswordChange" :class="{ btn: true }">@Localizer["Cancel"]</button>
                </div>
            </div>
        </form>
    </section>
</script>

<script type="text/html" id="customer-management-template">
    <div :class="{ loading: loading, 'form-inline': true, 'new-customer-form': true }">
        <h1>@Localizer["Add new Wiser account..."]</h1>
        <p class="success" v-if="currentStep === 'end'">
            @Localizer["The customer has been successfully created and has been given ID '"]<em>{{ createCustomerResult.data.id }}</em>@Localizer["'."]<br />
            @Localizer["The URL for Wiser Live has become:"] <a :href="'https://' + newCustomerData.subDomain + '.wiser3.nl/'" target="_blank">{{newCustomerData.subDomain}}.wiser3.nl</a>.<br />
            @Localizer["The URL for Wiser dev has become:"] <a :href="'http://' + newCustomerData.subDomain + '.wiser3.juicedev.nl/'" target="_blank">{{newCustomerData.subDomain}}.wiser3.juicedev.nl</a>.
        </p>
        <p v-if="newCustomerData.createNewDatabase">@Localizer["In addition, the following database users have been created:"]</p>
        <p v-else>@Localizer["You entered the following database user:"]</p>
        <ul class="success" v-if="currentStep === 'end'">
            <li v-for="user in createCustomerResult.databaseUsers" :key="user.name">
                <strong>{{ user.name }}:</strong> {{ user.password }}
            </li>
        </ul>
        <p class="success" v-if="currentStep === 'end'"><a href="#" class="btn btn-secundary" @@click="reset">@Localizer["Create another customer"]</a></p>
        <form method="post" v-if="currentStep !== 'end'">
            <section class="step" v-if="currentStep === 1">
                <div class="form-row">
                    <label for="newCustomerName">@Localizer["What is the desired company name and/or account name?"]</label>
                    <input type="text" id="newCustomerName" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.name" required :class="{ error: errors.indexOf('NameNotAvailable') > -1, small: true }" placeholder="Happy Geeks B.V.">
                    <p class="hint">@Localizer["The customer's full company name. For example, 'Happy Geeks B.V.'. Only we see this name, the customer does not see this name anywhere."]</p>
                </div>
                <div class="form-row error-row" v-if="errors.indexOf('NameNotAvailable') > -1">
                    <ins class="icon-line-alert"></ins>
                    <span>@Localizer["A customer with this name already exists. Please choose another name."]</span>
                </div>

                <div class="form-row">
                    <label for="subDomain">@Localizer["What is the subdomain to use for Wiser?"]</label>
                    <input type="text" id="subDomain" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.subDomain" required :class="{ error: errors.indexOf('SubDomainNotAvailable') > -1, small: true }" placeholder="happygeeks"><span class="hint">.wiser.nl</span>
                    <p class="hint">@Localizer["Only the subdomain, with lowercase letters, for example 'happygeeks'. This is required for Wiser customers, who must be able to log in via a subdomain, such as 'happygeeks.wiser.nl'."]</p>
                </div>
                <div class="form-row error-row" v-if="errors.indexOf('SubDomainNotAvailable') > -1">
                    <ins class="icon-line-alert"></ins>
                    <span>@Localizer["A customer with this subdomain already exists. Please choose another subdomain."]</span>
                </div>
                <div class="form-row">
                    <label>
                        <input type="checkbox" name="isConfigurator" v-model="newCustomerData.isMultiLanguage" />
                        @Localizer["Is multilingual"]
                    </label>
                    <p class="hint">@Localizer["Check this box if the customer's website will be multilingual. Then will the translations module and associated entity be added."]</p>
                </div>
                <div class="form-row">
                    <label>
                        <input type="checkbox" name="isWebShop" v-model="newCustomerData.isWebShop" />
                        @Localizer["Is webshop"]
                    </label>
                    <p class="hint">@Localizer["Check this box if the customer also gets a webshop. Then exstra entities will be added for, for example, shipping methods, VAT rules, etc."]</p>
                </div>
                <div class="form-row">
                    <label>
                        <input type="checkbox" name="isConfigurator" v-model="newCustomerData.isConfigurator" />
                        @Localizer["Is configurator"]
                    </label>
                    <p class="hint">@Localizer["Check this box if the customer also gets a configurator. Then will entities be added for, for example, configuration and configurationlines."]</p>
                </div>
            </section>

            <section class="step" v-if="currentStep === 2">
                <fieldset>
                    <legend>@Localizer["Domain"]</legend>

                    <div class="form-row">
                        <label for="siteName">@Localizer["Website name"]</label>
                        <input type="text" id="siteName" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.siteName" placeholder="Happy Geeks">
                        <p class="hint">@Localizer["The website name, which is added to the back of the title on every page. Example: Contact - Happy Geeks"]</p>
                    </div>

                    <div class="form-row">
                        <label for="hostDev">@Localizer["Domain dev"]</label>
                        <input type="text" id="hostDev" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.hostDev" placeholder="happygeeks.nl.juicedev.nl">
                        <p class="hint">
                            @Localizer["The domain that will be used for the test. If you do not enter it now, you will have to enter it later in the settings module at the customer.<br />"]
                            <strong>@Localizer["In this case no http(s) need to be added and no slash or similar at the end. Only the customer's primary domain."]</strong>
                        </p>
                    </div>

                    <div class="form-row">
                        <label for="hostTest">@Localizer["Domain test"]</label>
                        <input type="text" id="hostTest" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.hostTest" placeholder="@Localizer["customer.happygeeks.dev"]">
                        <p class="hint">
                            @Localizer["The domain that will be used for the test. If you do not enter it now, you will have to enter it later in the settings module at the customer.<br />"]
                            <strong>@Localizer["In this case no http(s) need to be added and no slash or similar at the end. Only the customer's primary domain."]</strong>
                        </p>
                    </div>

                    <div class="form-row">
                        <label for="hostLive">@Localizer["Domain live"]</label>
                        <input type="text" id="hostLive" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.hostLive" placeholder="happygeeks.nl">
                        <p class="hint">
                            @Localizer["The domain that will be used for the live. If you do not enter it now, you will have to enter it later in the settings module at the customer.<br />"]
                            <strong>@Localizer["In this case no http(s) need to be added and no slash or similar at the end. Only the customer's primary domain."]</strong>
                        </p>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>@Localizer["Database"]</legend>

                    <div class="form-row">
                        <label>
                            <input type="checkbox" name="newDatabase" v-model="newCustomerData.createNewDatabase" />
                            @Localizer["Create new database schema"]
                        </label>
                    </div>

                    <div class="form-row" v-if="newCustomerData.createNewDatabase">
                        <label for="digitalOceanApiAccessToken">@Localizer["Digital Ocean access token"]</label>
                        <input type="text" id="digitalOceanApiAccessToken" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.digitalOceanApiAccessToken" required>
                        <p class="hint">
                            <a href="@(Model.Settings.ApiBaseUrl)api/v3/digital-ocean/authorize" target="_blank">@Localizer["First open this page"]</a> @Localizer["First open this page"]
                            @Localizer["Then you will see some JSON. Copy the value of 'access_token' and paste it into this field. <br /> Then click on the 'Get Clusters' button below and then select the cluster to which the customer should be added."]
                        </p>
                    </div>

                    <ul v-if="newCustomerData.createNewDatabase && availableDbClusters.length > 0">
                        <li v-for="item in availableDbClusters" :key="item.id">
                            <label :for="'db-'+ item.id">
                                <input type="radio" :id="'db-'+ item.id" name="dbClusterChoice" v-model="newCustomerData.dbClusterChoice" :value="item.id" />
                                {{item.name}}
                            </label>
                        </li>
                    </ul>
                    <div class="btn-row" v-else-if="newCustomerData.createNewDatabase">
                        <button type="button" class="btn btn-primary" @@click="getDbClusters">@Localizer["Get clusters"]</button>
                    </div>

                    <div class="form-row" v-if="!newCustomerData.createNewDatabase">
                        <label for="databaseHost">@Localizer["Host"] <strong>*</strong></label>
                        <input type="text" id="databaseHost" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.databaseHost" required>
                    </div>

                    <div class="form-row">
                        <label for="databaseUsername">@Localizer["User name_"] <strong>*</strong></label>
                        <input type="text" id="databaseUsername" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.databaseUsername" required>
                        <p class="hint" v-if="newCustomerData.createNewDatabase">@Localizer["Enter a name for a database user that does not exist yet."]</p>
                        <p class="hint" v-else>@Localizer["Enter a name of an existing database user."]</p>
                    </div>

                    <div class="form-row" v-if="!newCustomerData.createNewDatabase">
                        <label for="databasePassword">@Localizer["Password"] <strong>*</strong></label>
                        <input type="text" id="databasePassword" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.databasePassword" required>
                    </div>

                    <div class="form-row">
                        <label for="databaseSchema">@Localizer["Schema name"] <strong>*</strong></label>
                        <input type="text" id="databaseSchema" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.databaseSchema" required>
                        <p class="hint" v-if="newCustomerData.createNewDatabase">@Localizer["Enter a name for a database schema that does not exist yet."]</p>
                        <p class="hint" v-else>@Localizer["Enter a name of an existing database schema."]</p>
                    </div>
                    <div class="form-row" v-if="!newCustomerData.createNewDatabase">
                        <label for="databasePort">@Localizer["Port number"] <strong>*</strong></label>
                        <input type="number" id="databasePort" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newCustomerData.databasePort" required min="1" step="1">
                    </div>
                </fieldset>
            </section>

            <div class="form-row error-row" v-if="message">
                <ins class="icon-line-alert"></ins>
                <span>{{ message }}</span>
            </div>

            <div class="btn-row">
                <a href="#" class="btn btn-secundary" v-if="currentStep > 1" @@click="previousStep">@Localizer["Back"]</a>
                <button type="submit" class="btn btn-primary" @@click="nextStep">{{ nextButtonText }}</button>
            </div>
        </form>
    </div>
</script>

<script id="vue-config" type="application/json">
{
    "apiBase": "@Model.Settings.ApiBaseUrl",
    "subDomain": "@Model.SubDomain",
    "currentDomain": "@Model.CurrentDomain",
    "isTestEnvironment": @Model.IsTestEnvironment.ToString().ToLowerInvariant(),
    "wiser1BaseUrl": "@Model.Wiser1BaseUrl",
    "loadPartnerStyle": @Model.LoadPartnerStyle.ToString().ToLowerInvariant(),
    "apiClientId": "@Model.Settings.ApiClientId",
    "apiClientSecret": "@Model.Settings.ApiClientSecret",
    "trackJsToken": "@Model.Settings.TrackJsToken",
    "markerIoToken": "@Model.Settings.MarkerIoToken"
}
</script>

<script src="@await WebPackService.GetManifestFileAsync("main.js")"></script>