@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd
@using GeeksCoreLibrary.Core.Enums
@model FrontEnd.Core.Models.BaseViewModel
<style>
    [v-cloak] {
        display: none;
    }
</style>
<!-- Current Wiser version: @Model.WiserVersion?.ToString() -->
<div id="app" v-cloak>
    <div :class="{ 'loading': mainLoader }">
        <header v-if="user.loggedIn && !requirePasswordChange">
            <ul class="main-menu">
                <li id="side-menu">
                    <div id="menu-btn" @@click="toggleMenuState()"><ins class="icon-menu"></ins><span>Menu</span></div>
                    <div id="side-btn" @@click="toggleMenuActive()"><ins class="icon-chevron-right"></ins></div>

                    <nav id="side-nav">
                        <div class="menu-scroller">
                            <ul>
                                <li v-for="moduleGroup in moduleGroups" :key="moduleGroup.name">
                                    <strong v-if="moduleGroup.name">{{ moduleGroup.name }}</strong>
                                    <ul>
                                        <li v-for="module in moduleGroup.modules" :key="module.moduleId">
                                            <a href="#" :title="module.name" @@click="onOpenModuleClick($event, module)"><ins :class="module.icon"></ins><span>{{ module.name }}</span></a>
                                            <button @@click="onTogglePin($event, module.moduleId)" :class="{ pinned: module.pinned, 'auto-load': module.autoLoad }">
                                                <ins :class="{ 'icon-line-pin-empty': !module.autoLoad, 'icon-line-pin-full': module.pinned && module.autoLoad }"></ins>
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </li>

                <li class="tabs">
                    <div v-for="module in openedModules" :key="module.id" :class="{ 'tab-item': true, active: module.id === activeModule }" @@click="setActiveModule($event, module.id)" :title="module.name">
                        <ins :class="module.icon"></ins>
                        <strong>{{ module.name }}</strong>
                        <span class="close-module" title="module sluiten" @@click="closeModule(module)"></span>
                    </div>
                </li>

                <li class="icons">
                    <div class="ico-item" v-if="modules.find(m => m.moduleId === 709)">
                        <ins class="icon-line-search" @@click="openModule(709)"></ins>
                    </div>
                    <task-alerts ref="taskAlerts"></task-alerts>
                </li>

                <li class="login">
                    <span>
                        <strong class="title">Welkom</strong>
                        <span class="sub-title">{{ user.name }}</span>
                        <ins class="icon-chevron-down"></ins>
                    </span>

                <ul class="sub-menu">
                    <li><a href="#" @@click="openConfigurationModule"><ins class="icon-config"></ins><span>Wiser configuratie</span></a></li>
                    <li><a href="#" @@click="logout"><ins class="icon-line-log-out"></ins><span>Uitloggen</span></a></li>
                </ul>
            </li>
            <li class="logo">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 512 266"
                     style="enable-background:new 0 0 512 266;" xml:space="preserve">
                <circle class="logo1" cx="183.1" cy="97.1" r="24.3" />
                <circle class="logo1" cx="328.9" cy="97.1" r="24.3" />
                <path class="logo1" d="M256,179.6c-9.6,10.8-21.5,19.5-35,25.2l35,60.8l35-60.8C277.5,199.1,265.6,190.4,256,179.6z" />
                <path class="logo2" d="M352.1,54.5c15.1,8.3,25.3,24.3,25.3,42.7c0,26.8-21.8,48.6-48.6,48.6c-26.8,0-48.6-21.7-48.6-48.4 c0-26.8,21.8-48.3,48.6-48.3L511,1H328.9c-29,0-55.1,12.6-72.9,32.6C238.2,13.6,212.2,1,183.1,1H1l182.1,48.1 c26.8,0,48.6,21.5,48.6,48.3c0,26.8-21.8,48.4-48.6,48.4c-26.8,0-48.6-21.9-48.6-48.6c0-18.4,10.2-34.4,25.3-42.7l-55.1-14.7 C93,55.9,86,75.7,86,97.1c0,53.7,43.5,97.1,97.1,97.1c29,0,55.1-12.6,72.9-32.6c17.8,20,43.8,32.6,72.9,32.6 c53.7,0,97.1-43.5,97.1-97.1c0-21.4-7-41.3-18.7-57.3L352.1,54.5z" />
                </svg>
            </li>
        </ul>
        </header>

        <main :class="{ login: !user.loggedIn || requirePasswordChange, 'scrollable': tenantManagementIsOpened }">
            <p v-if="user.loggedIn && !mainLoader && !hasModules">Voor deze gebruiker zijn geen modules beschikbaar.</p>
            <login v-bind:sub-domain="appSettings.subDomain" v-if="!user.loggedIn || requirePasswordChange" ref="login"></login>
            <section class="iframe-container">
                <iframe v-for="module in openedModulesWithBackend" :key="module.id" :src="module.iframeUrl || `/Modules/${module.iframeType || module.type}${module.fileName}${module.queryString}`" :id="module.id" :class="{ active: module.id === activeModule }" frameborder="0" scrolling="auto"></iframe>
                <iframe v-for="module in openedWiser1Modules" :key="module.id" :src="`${appSettings.wiser1BaseUrl}?singleModuleId=${module.moduleId}&autoLoginCookie=${encodeURIComponent(user.cookieValue)}&autoLoginUserId=${encodeURIComponent(user.encryptedId)}`" :class="{ active: module.id === activeModule }" frameborder="0" scrolling="auto"></iframe>
            </section>

            <keep-alive>
                <tenant-management v-if="user.adminLogin && activeModule === 'tenantManagement'" v-bind:sub-domain="appSettings.subDomain" ref="tenantManagement"></tenant-management>
            </keep-alive>
        </main>

        <wiser-dialog class="general-message-dialog" :modal="true" :width="'400px'" :title="generalMessagePromptTitle" ref="generalMessagePrompt" :visible="false" :actions="[{ text: 'OK', primary: true }]">
            <div class="form-row">
                {{ generalMessagePromptText }}
            </div>
        </wiser-dialog>
        <wiser-dialog class="change-password-prompt" :modal="true" :width="'400px'" :title="'Wachtwoord wijzigen'" ref="changePasswordPrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Opslaan', primary: true, action: changePassword }]">
            <div class="form-row">
                <input type="password" id="oldPassword" name="oldPassword" class="loginField passwordField" placeholder="Uw huidig wachtwoord" v-model="changePasswordPromptOldPasswordValue" />
            </div>
            <div class="form-row">
                <input type="password" id="newPassword" name="newPassword" class="loginField passwordField" placeholder="Uw nieuwe wachtwoord" v-model="changePasswordPromptNewPasswordValue" />
            </div>
            <div class="form-row">
                <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" class="loginField passwordField" placeholder="Nogmaals uw nieuwe wachtwoord" v-model="changePasswordPromptNewPasswordRepeatValue" />
            </div>

            <div class="error" v-if="changePasswordError">{{ changePasswordError }}</div>
        </wiser-dialog>
        <wiser-dialog class="branches-dialog" :modal="true" :width="'1200px'" ref="wiserBranchesPrompt" :visible="false" :actions="[]" @@open="onWiserBranchesPromptOpen">
            <div class="container">
                <div class="row equal">
                    <div class="col col-3" v-if="isMainBranch">
                        <h2>Branch maken</h2>
                        <p>
                            Hier kan een nieuwe branch gemaakt worden. Een branch is een (deel-)kopie van uw database.
                            Dit kan gebruikt worden om wijzigingen in Wiser op een veilige manier door te voeren en te testen in een aparte omgeving.
                            Nadat u klaar bent met testen, kunt u de wijzigingen in een branch weer terugzetten naar de productie-omgeving.
                        </p>

                        <button v-if="isMainBranch" class="btn btn-primary" @@click="openCreateBranchPrompt">Nieuwe branch maken</button>
                    </div>
                    <div class="col col-3" v-if="branches.length > 0">
                        <h2>Branch openen/verwijderen</h2>
                        <p>
                            Hier kan een bestaande branch geopend of verwijderd worden.
                        </p>

                        <div class="col col-12 form-row" v-if="isMainBranch">
                            <label for="branch-action">Wat wilt u doen met de branch?</label>
                            <dropdownlist id="branch-action" class="full-width" :data-items="branchActions" :text-field="'name'" :data-item-key="'id'" v-model="branchActionSettings.selectedAction"></dropdownlist>
                        </div>

                        <div class="col col-12 form-row" v-if="branchActionSettings.selectedAction && branchActionSettings.selectedAction.id === 'website'">
                            <label for="website-url">Geef de URL op van uw website</label>
                            <input type="url" id="website-url" placeholder="https://mywebsite.com/" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="branchActionSettings.websiteUrl" required>
                        </div>

                        <div class="col col-12 form-row" v-if="isMainBranch">
                            <label for="available-branches">Selecteer een branch</label>
                            <dropdownlist id="available-branches-to-open" class="full-width" :data-items="branches" :text-field="'name'" :data-item-key="'id'" v-model="branchActionSettings.selectedBranch"></dropdownlist>
                        </div>

                        <a href="#" class="btn btn-primary copy-branch-url" @@click="openOrCopyBranch($event, true)" v-if="branchActionSettings.selectedAction && branchActionSettings.selectedAction.id !== '' && branchActionSettings.selectedAction.id !== 'delete'">Branch URL kopiëren</a>
                        <a href="#" class="btn btn-primary open-branch" @@click="openOrCopyBranch($event, false)" v-if="branchActionSettings.selectedAction && branchActionSettings.selectedAction.id !== '' && branchActionSettings.selectedAction.id !== 'delete'">Branch openen</a>
                        <a href="#" class="btn btn-primary delete-branch" @@click="openDeleteBranchConfirmationPrompt($event)" v-if="branchActionSettings.selectedAction && branchActionSettings.selectedAction.id === 'delete'">Branch verwijderen</a>
                    </div>
                    <div :class="{ 'col': true, 'col-6': isMainBranch || branches.length > 0, 'col-9': !isMainBranch || !branches.length }">
                        <h2>Branch terugzetten (mergen)</h2>
                        <p>
                            Hiermee kunnen wijzigingen die in een branch gedaan zijn, overgezet worden naar de productie-omgeving. U kunt dan kiezen welke wijzigingen doorgezet moeten worden, dat hoeft niet per se alles te zijn.
                            Het is niet mogelijk om verschillende branches samen te voegen. Het samenvoegen gaat altijd van een branch naar de productie-omgeving.
                        </p>
                        <p>
                            <strong>Let op:</strong> Tijdens het terugzetten van een branch wordt de database geblokkeerd zodat er geen andere wijziging tussendoor gedaan kunnen worden.
                            Dit betekent dat Wiser en eventuele andere producten (zoals een website) die gekoppeld zijn aan dezelfde database, ook niet bereikbaar zullen zijn.
                            Zorg daarom dat u het samenvoegen start op een moment waarbij dit het minste impact heeft (zoals 's nachts).
                        </p>

                        <button class="btn btn-primary" @@click="openMergeBranchPrompt">Bestaande branch terugzetten naar productie</button>
                    </div>
                </div>
            </div>
        </wiser-dialog>
        <wiser-dialog class="branches-dialog" :modal="true" :width="'1200px'" :title="'Branch maken'" ref="wiserCreateBranchPrompt" :visible="false" :actions="[]" @@open="onWiserCreateBranchPromptOpen">
            <div class="container stretch">
                <div class="row no-scroll">
                    <div class="col col-12 form-row">
                        <label for="newBranchName">Geef een naam op voor de nieuwe branche</label>
                        <section class="full-error" v-if="createBranchError">
                            <ins class="icon-line-alert"></ins>
                            <span v-html="createBranchError"></span>
                        </section>
                        <input type="text" id="newBranchName" maxlength="25" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="createBranchSettings.name" required>
                    </div>
                    <div class="col col-12 form-row">
                        <h2>Branch database instellingen</h2>
                        <p>
                            Hier kunnen de database instellingen voor de nieuwe branch opgegeven worden. Deze instellingen worden gebruikt om de nieuwe branch aan te maken.
                            Indien de branch database op dezelfde server mag staan als de live database, dan mogen deze instellingen leeg gelaten worden.
                            Alle velden zijn verder ook optioneel, dus als bijvoorbeeld alleen de host anders is en de rest hetzelfde, dan hoeft alleen de host ingevuld te worden.
                        </p>
                    </div>
                    <div class="col col-6">
                        <label for="newBranchDatabaseHost">Host</label>
                        <input type="text" id="newBranchDatabaseHost" autocomplete="off" autocapitalize="none" v-model="createBranchSettings.databaseHost">
                    </div>
                    <div class="col col-6">
                        <label for="newBranchDatabasePort">Poort</label>
                        <input type="number" id="newBranchDatabasePort" autocomplete="off" autocapitalize="none" v-model="createBranchSettings.databasePort">
                    </div>
                    <div class="col col-6">
                        <label for="newBranchDatabaseUsername">Gebruikersnaam</label>
                        <input type="text" id="newBranchDatabaseUsername" autocomplete="off" autocapitalize="none" v-model="createBranchSettings.databaseUsername">
                    </div>
                    <div class="col col-6">
                        <label for="newBranchDatabasePassword">Wachtwoord</label>
                        <input type="password" id="newBranchDatabasePassword" autocomplete="off" autocapitalize="none" v-model="createBranchSettings.databasePassword">
                    </div>
                    <div class="col col-12 form-row no-bottom-margin">
                        <label>Welke data wil je naar de branche overzetten?
                            <span class="label-info">Let op: bij items worden ook altijd <strong>alle</strong> gekoppelde items meegenomen!</span>
                        </label>
                    </div>
                    <div class="col col-12 table-row no-top-margin">
                        <div class="fixed-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Aantal</th>
                                    <th>Wat</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody v-if="!entitiesForBranches || !entitiesForBranches.length">
                                    <tr>
                                        <td colspan="4">Geen entiteiten gevonden. Neem a.u.b. contact op met ons.</td>
                                    </tr>
                                </tbody>
                                <tbody v-else>
                                    <tr>
                                        <td>Alle onderstaande</td>
                                        <td>{{ totalAmountOfItemsForCreatingBranch }}</td>
                                        <td>
                                            <select v-model="createBranchSettings.entities.all.mode" @@change="onCreateBranchAllSettingsChange">
                                                <option value="0">Alles</option>
                                                <option value="1">Niets</option>
                                                <option value="2">Willekeurig X items</option>
                                                <option value="3">Laatste X items</option>
                                                <option value="4">Alles wat toegevoegd is voor X</option>
                                                <option value="5">Alles wat toegevoegd is na X</option>
                                                <option value="6">Alles wat toegevoegd is tussen X en Y</option>
                                                <option value="7">Dataselector</option>
                                            </select>
                                        </td>
                                        <td class="extra">
                                            <label class="number-of-items" v-if="createBranchSettings.entities.all.mode == 2 || createBranchSettings.entities.all.mode == 3">
                                                <span>Aantal items:</span>
                                                <input type="number" v-model="createBranchSettings.entities.all.amountOfItems" @@change="onCreateBranchAllSettingsChange" />
                                            </label>
                                            <label class="single-date" v-if="createBranchSettings.entities.all.mode == 4 || createBranchSettings.entities.all.mode == 5">
                                                <span>Datum:</span>
                                                <input type="date" v-model="createBranchSettings.entities.all.start" @@change="onCreateBranchAllSettingsChange" />
                                            </label>
                                            <div class="date-range" v-if="createBranchSettings.entities.all.mode == 6">
                                                <input type="date" v-model="createBranchSettings.entities.all.start" @@change="onCreateBranchAllSettingsChange" />
                                                <input type="date" v-model="createBranchSettings.entities.all.end" @@change="onCreateBranchAllSettingsChange" />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr v-for="entity in entitiesForBranches" :key="entity.id">
                                        <td v-if="!entity.moduleName">Module #{{ entity.moduleId }} --> {{ entity.displayName }}</td>
                                        <td v-else>{{ entity.moduleName }} --> {{ entity.displayName }}</td>
                                        <td>{{ entity.totalItems }}</td>
                                        <td>
                                            <select v-model="createBranchSettings.entities[entity.id].mode" v-if="createBranchSettings.entities[entity.id]">
                                                <option value="0">Alles</option>
                                                <option value="1">Niets</option>
                                                <option value="2">Willekeurig X items</option>
                                                <option value="3">Laatste X items</option>
                                                <option value="4">Alles wat toegevoegd is voor X</option>
                                                <option value="5">Alles wat toegevoegd is na X</option>
                                                <option value="6">Alles wat toegevoegd is tussen X en Y</option>
                                                <option value="7">Dataselector</option>
                                            </select>
                                        </td>
                                        <td class="extra">
                                            <label class="number-of-items" v-if="createBranchSettings.entities[entity.id] && (createBranchSettings.entities[entity.id].mode == 2 || createBranchSettings.entities[entity.id].mode == 3)">
                                                <span>Aantal items:</span>
                                                <input type="number" v-model="createBranchSettings.entities[entity.id].amountOfItems"/>
                                            </label>
                                            <label class="single-date" v-if="createBranchSettings.entities[entity.id] && (createBranchSettings.entities[entity.id].mode == 4 || createBranchSettings.entities[entity.id].mode == 5)">
                                                <span>Datum:</span>
                                                <input type="date" v-model="createBranchSettings.entities[entity.id].start"/>
                                            </label>
                                            <div class="date-range" v-if="createBranchSettings.entities[entity.id] && createBranchSettings.entities[entity.id].mode == 6">
                                                <input type="date" v-model="createBranchSettings.entities[entity.id].start"/>
                                                <input type="date" v-model="createBranchSettings.entities[entity.id].end"/>
                                            </div>
                                            <div class="branch-data-selector" v-if="createBranchSettings.entities[entity.id] && createBranchSettings.entities[entity.id].mode == 7">
                                                <select v-model="createBranchSettings.entities[entity.id].dataSelector">
                                                    <option disabled :value="0">Kies een dataselector</option>
                                                    <option v-for="dataSelector in dataSelectorsForBranches" :value="dataSelector.id">
                                                        {{ dataSelector.name }}
                                                    </option>
                                                </select>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <footer class="row fixed no-bottom-padding">
                    <div class="col col-8 inline">
                        <label class="radio">
                            <input type="radio" name="start-time" value="direct" v-model="createBranchSettings.startMode" />
                            <span>Direct starten</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="start-time" value="delayed" v-model="createBranchSettings.startMode" />
                            <span>Starten op:</span>
                        </label>
                        <label>
                            <input type="datetime-local" name="start-time-picker"  v-model="createBranchSettings.startOn" />
                        </label>
                    </div>
                    <div class="col col-4 align-right">
                        <button class="btn btn-primary" @@click="createBranch">Start aanmaken nieuwe branch</button>
                    </div>
                </footer>
            </div>
        </wiser-dialog>
        <wiser-dialog class="branches-dialog full-height" :modal="true" :width="'1200px'" :title="'Branch terugzetten'" ref="wiserMergeBranchPrompt" :visible="false" :actions="[]" @@open="onWiserMergeBranchPromptOpen">
            <div class="container">
                <div class="row" v-if="!branches || !branches.length">
                    <section class="full-error">
                        <ins class="icon-line-alert"></ins>
                        <span>U heeft nog geen andere branches. Maak a.u.b. eerst een nieuwe branch aan via de optie "Nieuwe branch aanmaken".</span>
                    </section>
                </div>
                <div class="row scroll" v-else>
                    <div class="col col-12 form-row" v-if="isMainBranch">
                        <label for="available-branches">Selecteer eerst de branch die u wilt synchroniseren</label>
                        <dropdownlist id="available-branches" class="full-width" :data-items="branches" :text-field="'name'" :data-item-key="'id'" v-model="branchMergeSettings.selectedBranch" @@change="onSelectedBranchChange"></dropdownlist>
                    </div>

                    <section class="full-error" v-if="mergeBranchError">
                        <ins class="icon-line-alert"></ins>
                        <span v-html="mergeBranchError"></span>
                    </section>

                    <div v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                        <div v-if="!branchChangesLoaded">
						    <div class="col col-12 form-row no-bottom-margin">
							    <label>Alle mogelijke entiteiten</label>
						    </div>
						    <div class="col col-12 table-row no-top-margin">
							    <div v-if="!entitiesForBranches || !entitiesForBranches.length">
								    <p>Geen entiteiten gevonden. Neem a.u.b. contact op met ons.</p>
							    </div>
							    <div class="row" v-else>
								    <div class="col col-4" v-for="entity in entitiesForBranches" :key="entity.id">
									    <label class="checkbox">
										    <input type="checkbox" :name="entity.id" v-model="branchMergeSettings.entities[entity.id].everything" @@change="onBranchMergeSettingChange($event, 'entities', entity.id, 'everything')"/>
										    <span v-if="!entity.moduleName">{{ entity.displayName }} (Module #{{ entity.moduleId }})</span>
										    <span v-else>{{ entity.displayName }} ({{ entity.moduleName }})</span>
									    </label>
								    </div>
							    </div>
						    </div>

						    <div class="col col-12 form-row no-bottom-margin">
							    <label>Alle mogelijke Wiser inrichting</label>
						    </div>
						    <div class="col col-12 table-row no-top-margin">
							    <div v-if="!settingsForBranches || !settingsForBranches.length">
								    <p>Geen wiser inrichting gevonden. Neem a.u.b. contact op met ons.</p>
							    </div>
							    <div class="row" v-else>
								    <div class="col col-4" v-for="setting in settingsForBranches" :key="setting.type">
									    <label class="checkbox">
										    <input type="checkbox" :name="setting.type" v-model="branchMergeSettings.settings[setting.type].everything" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'everything')"/>
										    <span>{{ setting.displayName }}</span>
									    </label>
								    </div>
							    </div>
							</div>

                            <div class="col col-12 form-row no-bottom-margin">
							    <button class="btn btn-primary" @@click="countBranchChanges">Aantallen tellen en verder specificeren</button>
							    <p>Let op, dit kan lang (een kwartier of meer) duren bij branches met veel wijzigingen.</p>
						    </div>
						</div>
						<div v-else>
							<div class="col col-12 form-row no-bottom-margin">
								<label>Selecteer te synchroniseren Wiser data</label>
							</div>
							<div class="col col-12 table-row no-top-margin">
								<div class="fixed-table">
									<table>
										<thead>
											<tr>
												<th>Item</th>
												<th>Alles</th>
												<th>Nieuw</th>
												<th>Verwijderd</th>
												<th>Gewijzigd</th>
											</tr>
										</thead>
										<tbody v-if="!branchChanges || !branchChanges.entities || !branchChanges.entities.length">
											<tr>
												<td colspan="5">Er zijn geen wijzigingen aan Wiser data om te synchroniseren.</td>
											</tr>
										</tbody>
										<tbody v-else>
											<tr>
												<td>Alle onderstaande</td>
												<td>
													<label class="checkbox">
														<input type="checkbox" v-model="branchMergeSettings.entities.all.everything" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'everything')" />
														<span>({{ totalAmountOfItemsCreated + totalAmountOfItemsUpdated + totalAmountOfItemsDeleted }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="totalAmountOfItemsCreated > 0">
														<input type="checkbox" v-model="branchMergeSettings.entities.all.create" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'create')" />
														<span>({{ totalAmountOfItemsCreated }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="totalAmountOfItemsDeleted > 0">
														<input type="checkbox" v-model="branchMergeSettings.entities.all.delete" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'delete')" />
														<span>({{ totalAmountOfItemsDeleted }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="totalAmountOfItemsUpdated > 0">
														<input type="checkbox" v-model="branchMergeSettings.entities.all.update" @@change="onBranchMergeSettingChange($event, 'entities', 'all', 'update')" />
														<span>({{ totalAmountOfItemsUpdated }})</span>
													</label>
												</td>
											</tr>
											<tr v-for="entity in branchChanges.entities" :key="entity.entityType">
												<td>{{ entity.displayName }}</td>
												<td>
													<label class="checkbox" v-if="branchMergeSettings.entities[entity.entityType]">
														<input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].everything" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'everything')" />
														<span>({{ entity.created + entity.deleted + entity.updated }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="entity.created > 0 && branchMergeSettings.entities[entity.entityType]">
														<input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].create" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'create')" />
														<span>({{ entity.created }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="entity.deleted > 0 && branchMergeSettings.entities[entity.entityType]">
														<input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].delete" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'delete')" />
														<span>({{ entity.deleted }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="entity.updated > 0 && branchMergeSettings.entities[entity.entityType]">
														<input type="checkbox" v-model="branchMergeSettings.entities[entity.entityType].update" @@change="onBranchMergeSettingChange($event, 'entities', entity.entityType, 'update')" />
														<span>({{ entity.updated }})</span>
													</label>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

                            <div class="col col-12 form-row no-bottom-margin">
                                <label>Selecteer te synchroniseren Wiser inrichting</label>
                            </div>
							<div class="col col-12 table-row no-top-margin">
								<div class="fixed-table">
									<table>
										<thead>
											<tr>
												<th>Item</th>
												<th>Alles</th>
												<th>Nieuw</th>
												<th>Verwijderd</th>
												<th>Gewijzigd</th>
											</tr>
										</thead>
										<tbody v-if="!branchChanges || !branchChanges.settings || !branchChanges.settings.length">
											<tr>
												<td colspan="5">Er zijn geen wijzigingen aan Wiser inrichting om te synchroniseren.</td>
											</tr>
										</tbody>
										<tbody v-else>
											<tr>
												<td>Alle onderstaande</td>
												<td>
													<label class="checkbox">
														<input type="checkbox" v-model="branchMergeSettings.settings.all.everything" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'everything')" />
														<span>({{ totalAmountOfSettingsCreated + totalAmountOfSettingsUpdated + totalAmountOfSettingsDeleted }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="totalAmountOfSettingsCreated > 0">
														<input type="checkbox" v-model="branchMergeSettings.settings.all.create" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'create')" />
														<span>({{ totalAmountOfSettingsCreated }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="totalAmountOfSettingsDeleted > 0">
														<input type="checkbox" v-model="branchMergeSettings.settings.all.delete" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'delete')" />
														<span>({{ totalAmountOfSettingsDeleted }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="totalAmountOfSettingsUpdated > 0">
														<input type="checkbox" v-model="branchMergeSettings.settings.all.update" @@change="onBranchMergeSettingChange($event, 'settings', 'all', 'update')" />
														<span>({{ totalAmountOfSettingsUpdated }})</span>
													</label>
												</td>
											</tr>
											<tr v-for="setting in branchChanges.settings" :key="setting.type">
												<td>{{ setting.displayName }}</td>
												<td>
													<label class="checkbox" v-if="branchMergeSettings.settings[setting.type]">
														<input type="checkbox" v-model="branchMergeSettings.settings[setting.type].everything" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'everything')" />
														<span>({{ setting.created + setting.deleted + setting.updated }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="setting.created > 0 && branchMergeSettings.settings[setting.type]">
														<input type="checkbox" v-model="branchMergeSettings.settings[setting.type].create" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'create')" />
														<span>({{ setting.created }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="setting.deleted > 0 && branchMergeSettings.settings[setting.type]">
														<input type="checkbox" v-model="branchMergeSettings.settings[setting.type].delete" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'delete')" />
														<span>({{ setting.deleted }})</span>
													</label>
												</td>
												<td>
													<label class="checkbox" v-if="setting.updated > 0 && branchMergeSettings.settings[setting.type]">
														<input type="checkbox" v-model="branchMergeSettings.settings[setting.type].update" @@change="onBranchMergeSettingChange($event, 'settings', setting.type, 'update')" />
														<span>({{ setting.updated }})</span>
													</label>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
						<div class="col col-12 form-row">
							<label class="checkbox">
								<input type="checkbox" v-model="branchMergeSettings.deleteAfterSuccessfulMerge" />
								<span>Verwijder deze branche na succesvol mergen</span>
							</label>
							<p><strong>Let op!</strong> Deze actie kan niet meer ongedaan gemaakt worden. Als u hierboven niet alle opties aanvinkt, kunnen er wijzigingen verloren gaan.</p>
						</div>
					</div>
				</div>
            </div>
            <footer class="container fixed no-bottom-padding" v-if="!isMainBranch || (branchMergeSettings.selectedBranch && branchMergeSettings.selectedBranch.id)">
                <div class="row">
                    <div class="col col-6 inline">
                        <label class="radio">
                            <input type="radio" name="start-time" value="direct" v-model="branchMergeSettings.startMode" />
                            <span>Direct starten</span>
                        </label>
                        <label class="radio">
                            <input type="radio" name="start-time" value="delayed" v-model="branchMergeSettings.startMode" />
                            <span>Starten op:</span>
                        </label>
                        <label>
                            <input type="datetime-local" name="start-time-picker" v-model="branchMergeSettings.startOn" />
                        </label>
                    </div>
                    <div class="col col-6 align-right">
                        <label class="checkbox">
                            <input type="checkbox" name="checkForConflicts" value="all" v-model="branchMergeSettings.checkForConflicts" />
                            <span>Controleer of er conflicten zijn</span>
                        </label>
                        <button class="btn btn-primary" @@click="mergeBranch">Start terugzet procedure</button>
                    </div>
                </div>
            </footer>
        </wiser-dialog>

        <wiser-dialog class="branches-dialog" :modal="true" :width="'1500px'" :title="'Conflicten'" ref="wiserMergeConflictsPrompt" :visible="false" :actions="[]">
            <div class="container stretch">
                <div class="row no-scroll">
                    <div class="col col-12 flex-inline">
                        <select v-model="batchHandleConflictSettings.property">
                            <option value="type">Type</option>
                            <option value="field">Veldnaam</option>
                            <option value="changeDateOriginal">Wijzigingsdatum origineel</option>
                            <option value="changeDateBranch">Wijzigingsdatum branch</option>
                            <option value="originalValue">Waarde origineel</option>
                            <option value="branchValue">Waarde branch</option>
                        </select>

                        <select v-model="batchHandleConflictSettings.operator">
                            <option value="contains" v-if="batchHandleConflictSettings.property !== 'changeDateOriginal' && batchHandleConflictSettings.property !== 'changeDateBranch'">bevat</option>
                            <option value="equals">is gelijk aan</option>
                            <option value="greaterThan" v-if="batchHandleConflictSettings.property !== 'field' && batchHandleConflictSettings.property !== 'type'">is groter dan</option>
                            <option value="lessThan" v-if="batchHandleConflictSettings.property !== 'field' && batchHandleConflictSettings.property !== 'type'">is kleiner dan</option>
                            <option value="between" v-if="batchHandleConflictSettings.property !== 'field' && batchHandleConflictSettings.property !== 'type'">is tussen</option>
                        </select>

                        <input :type="batchHandleConflictSettings.property === 'changeDateOriginal' || batchHandleConflictSettings.property === 'changeDateBranch' ? 'date' : 'text'" v-model="batchHandleConflictSettings.start" />
                        <span v-if="batchHandleConflictSettings.operator === 'between'">en</span>
                        <input v-if="batchHandleConflictSettings.operator === 'between'" :type="batchHandleConflictSettings.property === 'changeDateOriginal' || batchHandleConflictSettings.property === 'changeDateBranch' ? 'date' : 'text'" v-model="batchHandleConflictSettings.end" />

                        <button class="btn btn-primary" @@click="onAcceptMultipleConflictsClick">Keur goed</button>
                        <button class="btn btn-alert" @@click="onDenyMultipleConflictsClick">Keur af</button>
                    </div>
                    <div class="col col-12 flex-inline">
                        <p>Het goedkeuren van een conflict betekent dat de aanpassing van de geselecteerde branch wordt gebruikt en de waarde in de originele/productie branch wordt overschreven en dus verloren gaat. Het afkeuren van een wijziging is andersom, dan wordt de wijziging van de originele/productie branch behouden en gaat de wijziging van de geselecteerde branch verloren.</p>
                    </div>

                    <div class="col col-12 table-row no-top-margin">
                        <div class="fixed-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Naam</th>
                                        <th>Veld</th>
                                        <th>Waarde origineel</th>
                                        <th>Waarde branche</th>
                                        <th>Origineel gewijzigd op</th>
                                        <th>Branche gewijzigd op</th>
                                        <th>Actie</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="conflict in mergeBranchResult.conflicts" :key="conflict.id" :class="{ 'accepted': conflict.acceptChange === true, 'denied': conflict.acceptChange === false }">
                                        <td>{{ conflict.typeDisplayName }}</td>
                                        <td>{{ conflict.title }}</td>
                                        <td>{{ conflict.fieldDisplayName }}</td>
                                        <td>{{ conflict.valueInMain }}</td>
                                        <td>{{ conflict.valueInBranch }}</td>
                                        <td>{{ conflict.prettyChangeDateInMain }}<br>
                                            door {{ conflict.changedByInMain }}</td>
                                        <td>{{ conflict.prettyChangeDateInBranch }}<br>
                                            door {{ conflict.changedByInBranch }}</td>
                                        <td>
                                            <button class="btn btn-primary" @@click="onApproveConflictClick(conflict)">Keur goed</button>
                                            <button class="btn btn-alert" @@click="onDenyConflictClick(conflict)">Keur af</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <footer class="row fixed no-bottom-padding">
                    <div class="col col-6 inline">
                        <span class="error" v-if="!areAllConflictsHandled">
                            LET OP: nog niet alle conflicten hebben een akkoord of deny toegekend gekregen!
                        </span>
                    </div>
                    <div class="col col-6 align-right">
                        <span>{{ totalAmountOfApprovedMergeConflicts }} van {{ totalAmountOfMergeConflicts }} conflicten akkoord</span>
                        <button class="btn btn-primary" @@click="mergeBranch">Start terugzet procedure</button>
                    </div>
                </footer>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'Vul een ID in'" ref="wiserIdPrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Openen', primary: true, action: openWiserItem }]" @@open="onWiserIdPromptOpen">
            <div class="form-row">
                <input type="number" id="wiserId" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="wiserIdPromptValue" min="1" step="1" @@keypress="onWiserIdFieldKeyPress" required>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'Entiteit'" ref="wiserEntityTypePrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'Openen', primary: true, action: openWiserItem }]">
            <p>Het opgegeven ID komt meerdere keren voor. Kies welk type u wilt openen:</p>
            <div class="form-row">
                <dropdownlist :data-items="listOfEntityTypes" :text-field="'displayName'" :data-item-key="'id'" v-model="wiserEntityTypePromptValue"></dropdownlist>
            </div>
        </wiser-dialog>
        <wiser-dialog :modal="true" :width="'400px'" :title="'Cache legen'" ref="clearCachePrompt" :visible="false" :actions="[{ text: 'Annuleren' }, { text: 'OK', primary: true, action: clearWebsiteCache }]">
            <div class="form-row">
                <label class="checkbox" for="cache_all">
                    <input type="checkbox" id="cache_all" name="cache_all" value="all" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, 'all')" />
                    <span>Alles</span>
                </label>
                <label class="checkbox" for="cache_content">
                    <input type="checkbox" id="cache_content" name="cache_content" value="content" class="cache-type" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, 'content')" />
                    <span>Complete HTML pagina's</span>
                </label>
                <label class="checkbox" for="cache_files">
                    <input type="checkbox" id="cache_files" name="cache_files" value="files" class="cache-type" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, 'files')" />
                    <span>Bestanden / afbeeldingen</span>
                </label>
                @foreach (CacheAreas cacheSetting in Enum.GetValues(typeof(CacheAreas)))
                {
                    <label class="checkbox" for="cache_@cacheSetting">
                        <input type="checkbox" id="cache_@cacheSetting" name="cache_@cacheSetting" value="@cacheSetting" class="cache-type" v-model="clearCacheSettings.areas" @@change="onCacheTypeChecked($event, '@cacheSetting')" />
                        @switch (cacheSetting)
                        {
                            case CacheAreas.Configurators:
                                <span>Configuratoren</span>
                                break;
                            case CacheAreas.Unknown:
                                continue;
                            case CacheAreas.Languages:
                                <span>Vertalingen</span>
                                break;
                            case CacheAreas.Objects:
                                <span>Instellingen</span>
                                break;
                            case CacheAreas.Redirects:
                                <span>Redirects</span>
                                break;
                            case CacheAreas.Seo:
                                <span>SEO</span>
                                break;
                            case CacheAreas.Database:
                                <span>Overige</span>
                                break;
                            case CacheAreas.Templates:
                                <span>Templates</span>
                                break;
                            case CacheAreas.WiserItems:
                                <span>Wiser items</span>
                                break;
                            case CacheAreas.ShoppingBaskets:
                                <span>Winkelmandjes</span>
                                break;
                            case CacheAreas.DataSelectors:
                                <span>Dataselectors</span>
                                break;
                            default:
                                <span>@cacheSetting</span>
                                break;
                        }
                    </label>
                }
            </div>
            <div class="form-row">
                <input type="url" id="url" name="url" placeholder="URL naar website" class="full-width" v-model="clearCacheSettings.url" />
            </div>

            <section class="full-error" v-if="clearCacheError">
                <ins class="icon-line-alert"></ins>
                <span v-html="clearCacheError"></span>
            </section>
        </wiser-dialog>

        <wiser-dialog :modal="true" :width="'400px'" :title="'2FA-backup-codes'" ref="generateTotpBackupCodesPrompt" :visible="false" :actions="totpBackupCodes.length > 0 ? [{ text: 'OK', primary: true }] : [{ text: 'Nee' }, { text: 'Ja', primary: true, action: generateNewTotpBackupCodes }]" @@close="onGenerateTotpBackupCodesPromptClose">
            <p v-if="totpBackupCodes.length === 0">Weet u zeker dat u nieuwe backup-codes wilt genereren? Uw oude backup-codes zullen dan verloren gaan.</p>
            <p v-else>
                Hieronder vindt u uw backup-codes. Zorg dat u deze op ergens op een veilige plaats bewaart. Dit is de enige keer dat u deze codes kunt zien!<br/>
                Let op: Elke backup-code kan maar 1 keer gebruikt worden.
            </p>
            <ul v-if="totpBackupCodes.length > 0" class="totp-backup-codes">
                <li v-for="code in totpBackupCodes" :key="code">
                    {{ code }}
                </li>
            </ul>

            <div class="error" v-if="generateTotpBackupCodesError">{{ generateTotpBackupCodesError }}</div>
        </wiser-dialog>

        <wiser-dialog :modal="true" :width="'400px'" :title="'Branch verwijderen'" ref="deleteBranchConfirmationPrompt" :visible="false" :actions="[{ text: 'Nee' }, { text: 'Ja', primary: true, action: deleteBranch }]">
            <p>Weet u zeker dat u de branch "{{ branchActionSettings.selectedBranch.name }}" wilt verwijderen? Deze actie kan niet ongedaan gemaakt worden! Wijzigingen die in de branch zijn gedaan en niet samengevoegd zijn met live, zullen verloren gaan!</p>

            <div class="error" v-if="deleteBranchError">{{ deleteBranchError }}</div>
        </wiser-dialog>
    </div>
</div>

<script type="text/html" id="login-template">
    <section>
        <form id="loginForm" class="login-screen" method="post" @@submit="login">
            <div class="logo"><img src="/img/logo-wiser-login.png" alt=""></div>
            <section class="full-error" v-if="message">
                <ins class="icon-line-alert"></ins>
                <span>{{ message }}</span>
            </section>
            <section class="full-error" v-if="!validSubDomain">
                <ins class="icon-line-alert"></ins>
                <span>U heeft een ongeldig subdomein gebruikt. Controleer a.u.b. het subdomein of neem contact op met ons.</span>
            </section>

            <div v-if="validSubDomain && loginStatus !== 'list' && loginStatus !== 'list_loading' && loginStatus !== 'totp' && loginStatus !== 'totp_loading' && loginStatus !== 'totp_error' && !showForgotPasswordScreen && !requirePasswordChange">
                <div class="form-row">
                    <input type="text" id="username" placeholder="Gebruikersnaam" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="loginForm.username" required>
                </div>

                <div class="form-row">
                    <input type="password" id="password" placeholder="Wachtwoord" autocomplete="off" v-model="loginForm.password" @@keydown="checkCapslock($event)" required>
                    <ins id="password-toggle" class="icon-eye-visible" v-on:click="togglePassword()"></ins>

                    <div class="pwd-message" v-if="loginForm.capslock">Caps lock staat aan</div>
                </div>

                <div class="form-row">
                    <label id="remember" class="check-box">
                        <input type="checkbox" name="remember" class="no-form" v-model="loginForm.rememberMe"><span>Ingelogd blijven</span>
                    </label>
                </div>

                <div class="btn-row">
                    <button type="submit" :class="{ btn: true, 'btn-primary': true, loading: loginStatus === 'loading' }">Inloggen</button>

                    <a href="#" @@click="togglePasswordForgottenScreen(true)" id="forgotten-password">Wachtwoord vergeten?</a>
                </div>
            </div>
            <div v-if="(loginStatus === 'totp' || loginStatus === 'totp_loading' || loginStatus === 'totp_error') && !showForgotPasswordScreen" class="totp">
                <p v-if="totpQrImageUrl">Scan de QR-code in uw authenticator-app en vul daarna de code in.</p>
                <p v-else-if="showTotpBackupCodeScreen">Vul hier een van uw backup-codes in.</p>
                <p v-else>Vul de code in van uw authenticator app.</p>

                <div class="form-row" v-if="totpQrImageUrl">
                    <img :src="totpQrImageUrl" alt="2FA Setup QR" />
                </div>
                <div v-if="showTotpBackupCodeScreen" class="form-row">
                    <input type="text" name="totpBackupCode" v-model="loginForm.totpBackupCode" />
                </div>
                <div v-else class="form-row">
                    <input type="text" name="totpPin" v-model="loginForm.totpPin" />
                </div>

                <a v-if="!totpQrImageUrl && !showTotpBackupCodeScreen && !user.adminLogin" href="#" @@click="toggleTotpBackupCodeScreen(true)" id="totpBackupCode">Inloggen via backup-code?</a>

                <div class="btn-row">
                    <a href="#" class="btn btn-secundary" @@click="logout()">Annuleren</a>
                    <button type="submit" :class="{ btn: true, 'btn-primary': true, loading: loginStatus === 'totp_loading' }">Verder</button>
                </div>
            </div>
            <div v-if="(loginStatus === 'list' || loginStatus === 'list_loading') && !showForgotPasswordScreen">
                <p>Kies de gebruiker waarmee u wilt inloggen</p>

                <div class="form-row">
                    <combobox :data-items="listOfUsers" :text-field="'Title'" :data-item-key="'username'" v-model="loginForm.selectedUser" :filterable="true" @@filterchange="userFilterChange"></combobox>
                </div>

                <div class="btn-row">
                    <a href="#" class="btn btn-secundary" @@click="logout()">Annuleren</a>
                    <button type="submit" :class="{ btn: true, 'btn-primary': true, loading: loginStatus === 'list_loading' }">Verder</button>
                </div>
            </div>
            <div v-if="showForgotPasswordScreen" class="forgotPasswordScreen">
                <section class="success" v-if="resetPassword">
                    <span>Een email is verstuurd met uw nieuwe wachtwoord.</span>
                </section>
                <div class="form-row">
                    <input type="text" class="loginField usernameField" placeholder="Gebruikersnaam" v-model="forgotPasswordForm.username" />
                </div>
                <div class="form-row">
                    <input type="text" class="loginField passwordField" placeholder="E-mailadres" v-model="forgotPasswordForm.email" />
                </div>

                <div class="btn-row">
                    <button type="submit" :class="{ btn: true, 'btn-primary': true }">Verzenden</button>
                    <div :class="{ btn: true }" v-on:click="togglePasswordForgottenScreen(false)">Annuleren</div>
                </div>
            </div>
            <div class="changePasswordAfterLogin" v-if="requirePasswordChange">
                <h3>U moet een nieuw wachtwoord kiezen, vul dit a.u.b. hier in</h3>
                <div class="form-row">
                    <input type="password" id="newPassword" name="newPassword" class="loginField passwordField" placeholder="Uw nieuwe wachtwoord" v-model="changePasswordForm.newPassword" />
                </div>
                <div class="form-row">
                    <input type="password" id="newPasswordRepeat" name="newPasswordRepeat" class="loginField passwordField" placeholder="Nogmaals uw nieuwe wachtwoord" v-model="changePasswordForm.newPasswordRepeat" />
                </div>

                <div class="btn-row">
                    <button id="submitPasswordChange" type="submit" :class="{ btn: true, 'btn-primary': true }">Wijzigen</button>
                    <button id="cancelPasswordChange" :class="{ btn: true }">Annuleren</button>
                </div>
            </div>
        </form>
    </section>
</script>

<script type="text/html" id="tenant-management-template">
    <div :class="{ loading: loading, 'form-inline': true, 'new-tenant-form': true }">
        <h1>Nieuwe Wiser account toevoegen...</h1>
        <p class="success" v-if="currentStep === 'end'">
            De klant is successvol aangemaakt en heeft als ID '<em>{{ createTenantResult.data.id }}</em>' gekregen.<br />
            De URL voor Wiser Live is geworden: <a :href="'https://' + newTenantData.subDomain + '.wiser3.nl/'" target="_blank">{{newTenantData.subDomain}}.wiser3.nl</a>.<br />
            De URL voor Wiser dev is geworden: <a :href="'http://' + newTenantData.subDomain + '.wiser3.juicedev.nl/'" target="_blank">{{newTenantData.subDomain}}.wiser3.juicedev.nl</a>.
        </p>
        <p v-if="newTenantData.createNewDatabase">Verder zijn nog de volgende databasegebruikers aangemaakt:</p>
        <p v-else>Je hebt de volgende databasegebruiker ingevuld:</p>
        <ul class="success" v-if="currentStep === 'end'">
            <li v-for="user in createTenantResult.databaseUsers" :key="user.name">
                <strong>{{ user.name }}:</strong> {{ user.password }}
            </li>
        </ul>
        <p class="success" v-if="currentStep === 'end'"><a href="#" class="btn btn-secundary" @@click="reset">Nog een klant aanmaken</a></p>
        <form method="post" v-if="currentStep !== 'end'">
            <section class="step" v-if="currentStep === 1">
                <div class="form-row">
                    <label for="newTenantName">Wat is de gewenste bedrijfsnaam en/of accountnaam?</label>
                    <input type="text" id="newTenantName" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.name" required :class="{ error: errors.indexOf('NameNotAvailable') > -1, small: true }" placeholder="Happy Geeks B.V.">
                    <p class="hint">De volledige bedrijfsnaam van de klant. Bijvoorbeeld 'Happy Geeks B.V.'. Alleen wij zien deze naam terug, de klant ziet deze naam nergens.</p>
                </div>
                <div class="form-row error-row" v-if="errors.indexOf('NameNotAvailable') > -1">
                    <ins class="icon-line-alert"></ins>
                    <span>Er bestaat al een klant met deze naam. Kies a.u.b. een andere naam.</span>
                </div>

                <div class="form-row">
                    <label for="subDomain">Wat is het subdomein dat gebruikt moet worden voor Wiser?</label>
                    <input type="text" id="subDomain" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.subDomain" required :class="{ error: errors.indexOf('SubDomainNotAvailable') > -1, small: true }" placeholder="happygeeks"><span class="hint">.wiser.nl</span>
                    <p class="hint">Het subdomein van Wiser wat gebruikt moet gaan worden om in te loggen voor deze klant. Voer hier alleen het subdomein in, met kleine letters, bijvoorbeeld "happygeeks". Deze klant kan dan beheerd worden via happygeeks.wiser3.nl.</p>
                </div>
                <div class="form-row error-row" v-if="errors.indexOf('SubDomainNotAvailable') > -1">
                    <ins class="icon-line-alert"></ins>
                    <span>Er bestaat al een klant met dit subdomein. Kies a.u.b. een ander subdomein.</span>
                </div>
                <div class="form-row">
                    <label>
                        <input type="checkbox" name="isConfigurator" v-model="newTenantData.isMultiLanguage" />
                        Is meertalig
                    </label>
                    <p class="hint">Zet dit vinkje aan indien de website van de klant meertalig wordt. Dan wordt de vertalingenmodule en bijbehorende entiteit toegevoegd.</p>
                </div>
                <div class="form-row">
                    <label>
                        <input type="checkbox" name="isWebShop" v-model="newTenantData.isWebShop" />
                        Is webshop
                    </label>
                    <p class="hint">Zet dit vinkje aan indien de klant ook een webshop krijgt. Dan worden extra entiteiten toegevoegd voor bijvoorbeeld verzendmethodes, btw-regels etc.</p>
                </div>
                <div class="form-row">
                    <label>
                        <input type="checkbox" name="isConfigurator" v-model="newTenantData.isConfigurator" />
                        Is configurator
                    </label>
                    <p class="hint">Zet dit vinkje aan indien de klant ook een configurator krijgt. Dan worden extra entiteiten toegevoegd voor bijvoorbeeld configuration en configurationlines.</p>
                </div>
            </section>

            <section class="step" v-if="currentStep === 2">
                <fieldset>
                    <legend>Domein</legend>

                    <div class="form-row">
                        <label for="siteName">Naam van website</label>
                        <input type="text" id="siteName" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.siteName" placeholder="Happy Geeks">
                        <p class="hint">De naam van de website, deze wordt op elke pagina achteraan de titel toegevoegd. Voorbeeld: Contact - Happy Geeks</p>
                    </div>

                    <div class="form-row">
                        <label for="hostDev">Domein dev</label>
                        <input type="text" id="hostDev" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.hostDev" placeholder="happygeeks.nl.juicedev.nl">
                        <p class="hint">
                            Het domein wat straks voor de dev gebruikt zal worden. Indien je die nu niet invult, moet je die later in de instellingenmodule bij de klant invullen.<br />
                            <strong>In dit geval moet er géén http(s) toegevoegd worden en ook geen slash o.i.d. aan het einde. Alleen het hoofddomein van de klant.</strong>
                        </p>
                    </div>

                    <div class="form-row">
                        <label for="hostTest">Domein test</label>
                        <input type="text" id="hostTest" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.hostTest" placeholder="klant.happygeeks.dev">
                        <p class="hint">
                            Het domein wat straks voor de test gebruikt zal worden. Indien je die nu niet invult, moet je die later in de instellingenmodule bij de klant invullen.<br />
                            <strong>In dit geval moet er géén http(s) toegevoegd worden en ook geen slash o.i.d. aan het einde. Alleen het hoofddomein van de klant.</strong>
                        </p>
                    </div>

                    <div class="form-row">
                        <label for="hostLive">Domein live</label>
                        <input type="text" id="hostLive" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.hostLive" placeholder="happygeeks.nl">
                        <p class="hint">
                            Het domein wat straks voor de live gebruikt zal worden. Indien je die nu niet invult, moet je die later in de instellingenmodule bij de klant invullen.<br />
                            <strong>In dit geval moet er géén http(s) toegevoegd worden en ook geen slash o.i.d. aan het einde. Alleen het hoofddomein van de klant.</strong>
                        </p>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Database</legend>

                    <div class="form-row">
                        <label>
                            <input type="checkbox" name="newDatabase" v-model="newTenantData.createNewDatabase" />
                            Nieuw databaseschema maken
                        </label>
                    </div>

                    <div class="form-row" v-if="newTenantData.createNewDatabase">
                        <label for="digitalOceanApiAccessToken">Digital Ocean access token</label>
                        <input type="text" id="digitalOceanApiAccessToken" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.digitalOceanApiAccessToken" required>
                        <p class="hint">
                            <a href="@(Model.Settings.ApiBaseUrl)api/v3/digital-ocean/authorize" target="_blank">Open eerst deze pagina</a> en geef toestemming op die pagina.
                            Vervolgens krijg je wat JSON te zien. Kopieer hieruit de waarde van "access_token" en plak die in dit veld.<br />
                            Klik daarna op de knop "Haal clusters op" hieronder en selecteer daarna het cluster waar de klant aan toegevoegd moet worden.
                        </p>
                    </div>

                    <ul v-if="newTenantData.createNewDatabase && availableDbClusters.length > 0">
                        <li v-for="item in availableDbClusters" :key="item.id">
                            <label :for="'db-'+ item.id">
                                <input type="radio" :id="'db-'+ item.id" name="dbClusterChoice" v-model="newTenantData.dbClusterChoice" :value="item.id" />
                                {{item.name}}
                            </label>
                        </li>
                    </ul>
                    <div class="btn-row" v-else-if="newTenantData.createNewDatabase">
                        <button type="button" class="btn btn-primary" @@click="getDbClusters">Haal clusters op</button>
                    </div>

                    <div class="form-row" v-if="!newTenantData.createNewDatabase">
                        <label for="databaseHost">Host <strong>*</strong></label>
                        <input type="text" id="databaseHost" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.databaseHost" required>
                    </div>

                    <div class="form-row">
                        <label for="databaseUsername">Loginnaam <strong>*</strong></label>
                        <input type="text" id="databaseUsername" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.databaseUsername" required>
                        <p class="hint" v-if="newTenantData.createNewDatabase">Vul een naam in voor een databagebruiker die nog niet bestaat.</p>
                        <p class="hint" v-else>Vul een naam in van een bestaande databasegebruiker.</p>
                    </div>

                    <div class="form-row" v-if="!newTenantData.createNewDatabase">
                        <label for="databasePassword">Wachtwoord <strong>*</strong></label>
                        <input type="text" id="databasePassword" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.databasePassword" required>
                    </div>

                    <div class="form-row">
                        <label for="databaseSchema">Schemanaam <strong>*</strong></label>
                        <input type="text" id="databaseSchema" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.databaseSchema" required>
                        <p class="hint" v-if="newTenantData.createNewDatabase">Vul een naam in voor een databaseschema die nog niet bestaat.</p>
                        <p class="hint" v-else>Vul een naam in van een bestaand databaseschema.</p>
                    </div>
                    <div class="form-row" v-if="!newTenantData.createNewDatabase">
                        <label for="databasePort">Poortnummer <strong>*</strong></label>
                        <input type="number" id="databasePort" autocomplete="off" autofocus="autofocus" autocapitalize="none" v-model="newTenantData.databasePort" required min="1" step="1">
                    </div>
                </fieldset>
            </section>

            <div class="form-row error-row" v-if="message">
                <ins class="icon-line-alert"></ins>
                <span>{{ message }}</span>
            </div>

            <div class="btn-row">
                <a href="#" class="btn btn-secundary" v-if="currentStep > 1" @@click="previousStep">Terug</a>
                <button type="submit" class="btn btn-primary" @@click="nextStep">{{ nextButtonText }}</button>
            </div>
        </form>
    </div>
</script>

<script id="vue-config" type="application/json">
{
    "apiBase": "@Model.Settings.ApiBaseUrl",
    "subDomain": "@Model.SubDomain",
    "currentDomain": "@Model.CurrentDomain",
    "isTestEnvironment": @Model.IsTestEnvironment.ToString().ToLowerInvariant(),
    "wiser1BaseUrl": "@Model.Wiser1BaseUrl",
    "loadPartnerStyle": @Model.LoadPartnerStyle.ToString().ToLowerInvariant(),
    "apiClientId": "@Model.Settings.ApiClientId",
    "apiClientSecret": "@Model.Settings.ApiClientSecret",
    "trackJsToken": "@Model.Settings.TrackJsToken",
    "isWiserFrontEndLogin": "@Model.IsWiserFrontEndLogin"
}
</script>

<webpack-script file-name="runtime.js"></webpack-script>
<webpack-script file-name="vendors.js"></webpack-script>
<webpack-script file-name="kendo-intl.js"></webpack-script>
<webpack-script file-name="kendo-vue-common.js"></webpack-script>
<webpack-script file-name="kendo-popup-common.js"></webpack-script>
<webpack-script file-name="kendo-vue-buttons.js"></webpack-script>
<webpack-script file-name="kendo-vue-dropdowns.js"></webpack-script>
<webpack-script file-name="kendo-vue-intl.js"></webpack-script>
<webpack-script file-name="kendo-vue-animation.js"></webpack-script>
<webpack-script file-name="kendo-vue-popup.js"></webpack-script>
<webpack-script file-name="kendo-svg-icons.js"></webpack-script>
<webpack-script file-name="main.js"></webpack-script>