@model FrontEnd.Modules.FileManager.Models.FileManagerViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd

<!DOCTYPE html>
<html>

<head runat="server">
    <title>Wiser 3 - File manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>

    <style>
        #imagesUploaderWindow,
        #filesUploaderWindow,
        #templatesUploaderWindow,
        #ModeSelector {
            display: none;
        }
    </style>
</head>

<body class="@Model.BodyCssClass"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-mode="@Model.Mode"
      data-selected-text="@Model.SelectedText">

    <div id="ModeSelector">
        <ul>
            <li>Afbeeldingen</li>
            <li>HTML templates</li>
            <li>Overige bestanden</li>
        </ul>
        <div id="ImagesTab"><iframe data-src="?mode=Images"></iframe></div>
        <div id="TemplatesTab"><iframe data-src="?mode=Templates"></iframe></div>
        <div id="FilesTab"><iframe data-src="?mode=Files"></iframe></div>
    </div>

    <div id="imagesUploaderWindow" class="popup-container">
        <input type="file" id="newImageUpload" class="hidden" multiple />
        <div class="horizontal">
            <div class="left-pane">
                <div class="pane-content">
                    <div id="imagesUploaderTreeView"></div>
                    <ul id="imagesUploaderTreeViewContextMenu">
                        <li data-action="delete"><span class="k-sprite icon-delete"></span> Afbeelding verwijderen</li>
                        <li data-action="rename"><span class="k-sprite icon-album-rename"></span> Afbeelding hernoemen</li>
                        <li data-action="add-directory"><span class="k-icon k-i-folder-add"></span> Map toevoegen</li>
                        <li data-action="add-image"><span class="k-icon k-i-image-insert"></span> Afbeelding toevoegen</li>
                    </ul>
                </div>

                <div class="imagesUploaderActions">
                    <button id="addNewImageButton" class="k-primary">Nieuwe afbeelding toevoegen</button>
                    <button id="addNewImageDirectoryButton" class="k-primary">Nieuw map toevoegen</button>
                </div>
            </div>

            <div class="right-pane hidden">
                <div class="pane-content image-preview">
                    <div class="formview full static-fields group-columns">
                        <div class="item-group">
                            <h3>Opties</h3>

                            <div class="item preferredWidth">
                                <h4><label for="preferredWidth">Gewenste breedte (in pixels)</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="number" id="preferredWidth" class="textField k-input" name="preferredWidth" value="0" />
                                </span>
                                <div class="form-hint">
                                    <p>Vul 0 in om de originele breedte van de afbeelding te gebruiken.</p>
                                </div>
                            </div>

                            <div class="item preferredHeight">
                                <h4><label for="preferredHeight">Gewenste hoogte (in pixels)</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="number" id="preferredHeight" class="textField k-input" name="preferredHeight" value="0" />
                                </span>
                                <div class="form-hint">
                                    <p>Vul 0 in om de originele hoogte van de afbeelding te gebruiken.</p>
                                </div>
                            </div>

                            <div class="item altText">
                                <h4><label for="altText">Alt tekst</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="text" id="altText" class="textField k-input" name="altText" value="" />
                                </span>
                                <div class="form-hint">
                                    <p>Een beschrijving van de afbeelding.</p>
                                </div>
                            </div>

                            <div class="item resizeMode">
                                <h4><label for="resizeMode">Methode</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <select id="resizeMode" name="resizeMode" class="select">
                                        <option value="normal">Normaal</option>
                                        <option value="stretch">Uitrekken</option>
                                        <option value="crop">Knippen</option>
                                        <option value="fill">Opvullen</option>
                                    </select>
                                </span>
                                <div class="form-hint">
                                    <p>De manier waarop de afmetingen van de afbeelding aangepast moet worden:</p>
                                    <dl>
                                        <dt>Normaal</dt>
                                        <dd>De afbeelding wordt verkleind of vergroot naar de afmeting die het dichtst bij het gewenste formaat komt. Verhoudingen van de originele afbeelding worden hierbij behouden. Voorbeeld: De afbeelding is 150x200 pixels en het gewenste formaat is 150x150. De uiteindelijke afbeelding wordt dan 113x150 pixels.</dd>
                                        <dt>Uitrekken</dt>
                                        <dd>De afbeelding wordt uitgerekt of ingekrompen totdat de resulutie exact is zoals opgegeven. Waarschuwing: Dit zorgt in veel gevallen voor misvormde afbeeldingen.</dd>
                                        <dt>Knippen</dt>
                                        <dd>De afbeelding wordt eerst verkleind totdat de breedte of de hoogte (degene die het grootste is) overeenkomt met de opgegeven maat, daarna worden overblijfsels afgeknipt. Voorbeeld: De afbeelding is 150x200 pixels en het gewenste formaat is 100x100 pixels. De uiteindelijke afbeelding wordt dan exact 100x100 pizels, maar omdat de verhoudingen nu anders zijn, wordt er boven en/of onder een stuk van de afbeelding afgeknipt. Hierdoor kunnen dus delen van een afbeelding verdwijnen.</dd>
                                        <dt>Opvullen</dt>
                                        <dd>De afbeelding wordt eerst verkleind totdat de breedte of de hoogte (degene die het kleinste is) overeenkomt met de opgegeven maat, daarna wordt de afbeelding opgevuld met witruimte totdat de resulatie exact overeenkomt. Voorbeeld: De afbeelding is 150x200 pixels en het gewenste formaat is 100x100 pixels. De uiteindelijke afbeelding wordt dan exact 100x100 pizels, maar omdat de verhoudingen nu anders zijn, wordt er links en/of rechts witruimte toegevoegd aan de afbeelding.</dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="item anchorPosition hidden">
                                <h4><label for="anchorPosition">Ankerpositie</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <select id="anchorPosition" name="anchorPosition" class="select">
                                        <option value="center">Midden</option>
                                        <option value="top">Boven</option>
                                        <option value="bottom">Onder</option>
                                        <option value="left">Links</option>
                                        <option value="right">Rechts</option>
                                        <option value="topleft">Linksboven</option>
                                        <option value="topright">Rechtsboven</option>
                                        <option value="bottomleft">Linksonder</option>
                                        <option value="bottomright">Rechtsboven</option>
                                    </select>
                                </span>
                                <div class="form-hint">
                                    <p>De positie op de afbeelding vanuit waar geknipt of opgevuld moet worden.</p>
                                    <dl>
                                        <dt>Midden</dt>
                                        <dd>De afbeelding kan boven, onder links en rechts afgeknipt/opgevuld worden.</dd>
                                        <dt>Boven</dt>
                                        <dd>De afbeelding kan onder, links en rechts afgeknipt/opgevuld worden.</dd>
                                        <dt>Onder</dt>
                                        <dd>De afbeelding kan boven, links en rechts afgeknipt/opgevuld worden.</dd>
                                        <dt>Links</dt>
                                        <dd>De afbeelding kan boven, onder en rechts afgeknipt/opgevuld worden.</dd>
                                        <dt>Rechts</dt>
                                        <dd>De afbeelding kan boven, onder en links afgeknipt/opgevuld worden.</dd>
                                        <dt>Linksboven</dt>
                                        <dd>De afbeelding kan onder en rechts afgeknipt/opgevuld worden.</dd>
                                        <dt>Rechtsboven</dt>
                                        <dd>De afbeelding kan onder en links afgeknipt/opgevuld worden.</dd>
                                        <dt>Linksonder</dt>
                                        <dd>De afbeelding kan boven en rechts afgeknipt/opgevuld worden.</dd>
                                        <dt>Rechtsonder</dt>
                                        <dd>De afbeelding kan boven en links afgeknipt/opgevuld worden.</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="item-group">
                            <h3>Voorbeeld</h3>
                            <div class="item">
                                <a class="image-preview-link" target="_blank"><img /></a><br/>
                                <a class="copy-image-url" href="#">URL kopiëren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Files uploader window -->
    <div id="filesUploaderWindow" class="popup-container">
        <input type="file" id="newFileUpload" class="hidden" multiple />
        <div class="horizontal">
            <div class="left-pane">
                <div class="pane-content">
                    <div id="filesUploaderTreeView"></div>
                    <ul id="filesUploaderTreeViewContextMenu">
                        <li data-action="delete"><span class="k-sprite icon-delete"></span> Bestand verwijderen</li>
                        <li data-action="rename"><span class="k-sprite icon-album-rename"></span> Bestand hernoemen</li>
                        <li data-action="add-directory"><span class="k-icon k-i-folder-add"></span> Map toevoegen</li>
                        <li data-action="add-file"><span class="k-icon k-i-image-insert"></span> Bestand toevoegen</li>
                    </ul>
                </div>

                <div class="filesUploaderActions">
                    <button id="addNewFileButton" class="k-primary">Nieuw bestand toevoegen</button>
                    <button id="addNewFileDirectoryButton" class="k-primary">Nieuw map toevoegen</button>
                </div>
            </div>

            <div class="right-pane hidden">
                <div class="pane-content file-preview">
                    <div class="formview full static-fields group-columns">
                        <div class="item-group">
                            <h3>Opties</h3>

                            <div class="item">
                                <h4><label for="fileLinkText">Tekst</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="text" id="fileLinkText" class="textField k-input" name="fileLinkText" />
                                </span>
                            </div>
                        </div>

                        <div class="item-group">
                            <h3>Voorbeeld</h3>
                            <div class="item">
                                <a class="file-preview-link" target="_blank">Download bestand</a><br/>
                                <a class="copy-file-url" href="#">URL kopiëren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Images uploader window -->
    <div id="templatesUploaderWindow" class="popup-container">
        <input type="file" id="newTemplateUpload" class="hidden" multiple />
        <div class="horizontal">
            <div class="left-pane">
                <div class="pane-content">
                    <div id="templatesUploaderTreeView"></div>
                    <ul id="templatesUploaderTreeViewContextMenu">
                        <li data-action="delete"><span class="k-sprite icon-delete"></span> Template verwijderen</li>
                        <li data-action="rename"><span class="k-sprite icon-album-rename"></span> Template hernoemen</li>
                        <li data-action="add-directory"><span class="k-icon k-i-folder-add"></span> Map toevoegen</li>
                        <li data-action="add-template"><span class="k-icon k-i-image-insert"></span> Template toevoegen</li>
                    </ul>
                </div>

                <div class="templatesUploaderActions">
                    <button id="addNewTemplateButton" class="k-primary">Nieuwe template toevoegen</button>
                    <button id="addNewTemplateDirectoryButton" class="k-primary">Nieuw map toevoegen</button>
                </div>
            </div>

            <div class="right-pane hidden">
                <div class="pane-content template-preview">
                    <div class="formview full static-fields group-columns">
                        <div class="item-group">
                            <h3>Voorbeeld</h3>
                            <div class="item">
                                <iframe class="template-preview-iframe" src="about:blank"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- ALERT MESSAGES -->
    <div id="alert"></div>
    <div id="alert-pane"></div>

    <!-- Kendo Templates -->
    <div id="imageDialog"></div>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="../../img/error-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="success">
            <img src="../../img/success-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>

    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="Processing.js"></webpack-script>
    <webpack-script file-name="kendo-ui.js"></webpack-script>
    <webpack-script file-name="FileManager.js"></webpack-script>
</body>
</html>