@model FrontEnd.Core.Models.BaseViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>Wiser 3 - Configuratie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    <style>
        #fullForm {
            display:  none;
        }
    </style>
</head>
<body data-module-id="706"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-track-js-token="@Model.Settings.TrackJsToken">

<form id="fullForm">
    @* NOTE: The commented HTML in this file is for functionality that will be added in the future, for now they need to stay commented. *@
    <div id="wiser" class="configuration">
        <div class="group-container">
            <div class="group-wrapper">
                <div class="group-wrapper-title">
                    @Localizer["Menu_ApplicationDevelopment"]
                </div>
                <a class="group-item hidden" data-module-type="Templates">
                    <ins class="icon-document-fold"></ins>
                    <span>@Localizer["Menu_Templates"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                    @* <div class="tooltip">Nullam quam lacus, cursus non ligula et, euismod posuere felis. Nullam vitae accumsan quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div> *@
                </a>
                <a class="group-item hidden" data-module-type="VersionControl">
                    <ins class="icon-git"></ins>
                    <span>@Localizer["Menu_VersionControl"]</span>
                    @* @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                    @* <div class="tooltip">Nullam quam lacus, cursus non ligula et, euismod posuere felis. Nullam vitae accumsan quam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</div> *@
                </a>
                <a class="group-item" data-action="OpenClearCachePrompt">
                    <ins class="icon-line-refresh"></ins>
                    <span>@Localizer["Menu_EmptyApplicationCache"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="Translations">
                    <ins class="icon-flag"></ins>
                    <span>@Localizer["Menu_Translations"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="Seo">
                    <ins class="icon-seo"></ins>
                    <span>@Localizer["Menu_SEO"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="Redirect">
                    <ins class="icon-reset"></ins>
                    <span>@Localizer["Menu_Redirect"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
            </div>
            <div class="group-wrapper">
                <div class="group-wrapper-title">
                    @Localizer["Menu_WiserDesign"]
                </div>
                <a class="group-item hidden" data-module-type="Admin">
                    <ins class="icon-config"></ins>
                    <span>@Localizer["Menu_WiserManagement"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="Users">
                    <ins class="icon-users"></ins>
                    <span>@Localizer["Menu_Users"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item" data-action="OpenMarkerIoScreen">
                    <ins class="icon-line-bug"></ins>
                    <span>@Localizer["Menu_ReportBug"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-action="OpenTenantManagement" data-requires-admin="true">
                    <ins class="icon-line-user-plus"></ins>
                    <span>@Localizer["Menu_NewClient"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <div class="group-item has-sub hidden" data-module-type="MasterData">
                    <ins class="icon-line-sliders"></ins>
                    <span>@Localizer["Menu_MasterData"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@

                    <div class="group-sub">
                        <a href="#" class="group-sub-item">
                            <ins class="icon-line-mail"></ins>
                            <span>@Localizer["Menu_MailTemplates"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-line-return"></ins>
                            <span>@Localizer["Menu_OrderProcesses"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-line-credit-card"></ins>
                            <span>@Localizer["Menu_PSPs"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-theater"></ins>
                            <span>@Localizer["Menu_HeaderContent"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-liveboard"></ins>
                            <span>@Localizer["Menu_ContentBuilderSnippets"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-line-server"></ins>
                            <span>@Localizer["Menu_ContentBoxTemplates"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-line-sliders"></ins>
                            <span>@Localizer["Menu_GCLSettings"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-line-document-add"></ins>
                            <span>@Localizer["Menu_DataSelectorTemplates"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-project"></ins>
                            <span>@Localizer["Menu_DashboardSetup"]</span>
                        </a>
                        <a href="#" class="group-sub-item">
                            <ins class="icon-folder-duplicate"></ins>
                            <span>@Localizer["Menu_FTPConfig"]</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="group-wrapper">
                <div class="group-wrapper-title">
                    @Localizer["Menu_DataManagement"]
                </div>
                <a class="group-item hidden" data-module-type="ImportExport">
                    <ins class="icon-im-ex"></ins>
                    <span>@Localizer["Menu_ImportExport"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="ImportHistory">
                    <ins class="icon-database"></ins>
                    <span>@Localizer["Menu_ImportHistory"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="DataSelector">
                    <ins class="icon-settings"></ins>
                    <span>@Localizer["Menu_DataSelector"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="Communication">
                    <ins class="icon-mail-forward"></ins>
                    <span>@Localizer["Menu_Communication"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="Search">
                    <ins class="icon-search"></ins>
                    <span>@Localizer["Menu_Search"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item" data-action="OpenWiserIdPrompt">
                    <ins class="icon-clipboard"></ins>
                    <span>@Localizer["Menu_OpenItem"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item" data-action="OpenWiserBranchesPrompt">
                    <ins class="icon-table-backup"></ins>
                    <span>@Localizer["Menu_Branches"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
            </div>
            <div class="group-wrapper">
                <div class="group-wrapper-title">
                    @Localizer["Menu_PersonalSettings"]
                </div>
                <a class="group-item" data-action="OpenChangePasswordPrompt">
                    <ins class="icon-line-settings"></ins>
                    <span>@Localizer["Menu_ChangePassword"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item" data-action="OpenUserData">
                    <ins class="icon-line-lock"></ins>
                    <span>@Localizer["Menu_MyProfile"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
                <a class="group-item hidden" data-module-type="Dashboard">
                    <ins class="icon-project"></ins>
                    <span>@Localizer["Menu_Dashboard"]</span>
                    @* <button class="pin-item"><ins class="icon-line-pin-empty"></ins></button> *@
                </a>
            </div>
        </div>
    </div>
</form>

<div id="mainLoader" class="fullscreen-loader loading">
    <div class="loader-icon">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<webpack-script file-name="runtime.js"></webpack-script>
<webpack-script file-name="vendors.js"></webpack-script>
<webpack-script file-name="Processing.js"></webpack-script>
<webpack-script file-name="kendo-ui.js"></webpack-script>
<webpack-script file-name="Configuration.js"></webpack-script>
</body>
</html>