@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model FrontEnd.Modules.DynamicItems.Models.DynamicItemsViewModel
@inject FrontEnd.Core.Interfaces.IWebPackService WebPackService

<!DOCTYPE html>
<html>

<head runat="server">
    <title>@Localizer["Wiser 3 - Dynamic items"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    
    <style>
        #mainScreenForm,
        body.iframe #left-pane,
        body.iframe .pane-content > header,
        body.iframe .k-splitbar,
        body.iframe #alert-first,
        #itemWindow_template,
        #previewFrame,
        #sendMailDialog,
        #htmlSourceWindow,
        #maximizeEditorWindow,
        #contentBuilderWindow,
        #maximizeEditorWindow,
        #imagesUploaderWindow,
        #filesUploaderWindow,
        #templatesUploaderWindow,
        #infoPanel_template,
        #maximizeSubEntitiesGridWindow,
        #changeImageDataDialog,
        #dataSelectorTemplateDialog,
        #searchItemsWindow,
        #youTubeDialog,
        #translateItemDialog,
        #translationsDialog {
            display: none;
        }
    </style>
</head>

<body class="@Model.BodyCssClass"
      data-module-id="@Model.ModuleId"
      data-module-name="@Model.ModuleName"
      data-initial-item-id="@Model.InitialItemId"
      data-iframe-mode="@Model.IframeMode.ToString().ToLowerInvariant()"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-read-only="@Model.ReadOnly.ToString().ToLowerInvariant()"
      data-hide-footer="@Model.HideFooter.ToString().ToLowerInvariant()"
      data-hide-header="@Model.HideHeader.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-create-new-item="@Model.CreateNewItem.ToString().ToLowerInvariant()"
      data-parent-id="@Model.ParentItemId"
      data-new-item-data="@Model.NewItemData"
      data-entity-type="@Model.EntityType"
      data-track-js-token="@Model.Settings.TrackJsToken"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret">

    <form id="mainScreenForm" autocomplete="off" novalidate>
        <div id="wiser">

            <div id="gridView"></div>
            <div id="informationBlock" class="hidden"></div>
            <div id="window" style="margin: 0 auto; padding: 0;">

                <!-- START --- EDIT LAYOUT -->
                <input type="checkbox" id="editToggle" class="noForm edit" />
                <input type="checkbox" id="widthToggle" class="noForm edit" />
                <!-- END ----- EDIT LAYOUT -->

                <div id="panelwithsplitter" style="height: 100%; margin: 0; padding: 0; border: 0;">

                    <div id="horizontal" style="border: 0; height: 100%; width: 100%;">

                        <div id="left-pane" style="background-color: #ccc;">
                            <div class="pane-content">
                                <div id="treeview"></div>

                                <button id="addButton" class="k-primary k-button-round" title="@Localizer["Create new item (SHIFT+N)"]"></button>
                            </div>
                        </div>


                        <div id="right-pane" style="background-color: #eee;">
                            <div id="alert-first" class="alert-overlay">
                                <div class="alert">
                                    <ins class="icon-arrow-left"></ins>@Localizer["First make a choice in the left menu."]
                                </div>
                            </div>

                            <div class="pane-content entity-container" style="border: 0; margin: 0; padding: 0;">
                                <!-- FIXED HEADER -->
                                <header class="fixed clear">
                                    <ul id="crumbTrail" class="path">
                                        <li>@Localizer["No item selected yet"]</li>
                                    </ul>

                                    <div class="actions">
                                        <button id="saveButton" class="k-primary saveButton">@Model.SaveButtonText</button>
                                    </div>
                                </header>

                                <!-- ALERT MESSAGES -->
                                <div id="alert"></div>
                                <div id="alert-pane"></div>

                                <!-- Edit menu -->
                                <ul id="mainEditMenu" class="editMenu">
                                    <li>
                                        <ins class="icon-quickmenu"></ins>
                                        <ul id="editSub" class="editSub">
                                            <li>
                                                <label class="reloadItem"><span>@Localizer["Reload item"]</span></label>
                                            </li>
                                            <li>
                                                <label class="deleteItem"><span>@Localizer["Delete item"]</span></label>
                                            </li>
                                            <li>
                                                <label class="translateItem"><span>@Localizer["Translate item"]</span></label>
                                            </li>
                                            <li>
                                                <label class="undeleteItem"><span>@Localizer["Undelete item"]</span></label>
                                            </li>
                                            @if (Model.IsAllowedToChangePropertyWidth)
                                            {
                                                <li>
                                                    <label for="widthToggle" class="widthToggle"><span>@Localizer["Adjust widths"]</span> <ins class="icon-check"></ins></label>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>

                                <!-- TABS -->
                                <div id="tabstrip" class="k-tabstrip-wrapper">
                                    <ul>
                                        <li class="k-state-active">@Localizer["Data."]</li>
                                        <li class="overview-tab hidden">@Localizer["Overview"]</li>
                                    </ul>
                                    <div>
                                        <div class="formview full static-fields itemNameFieldContainer">
                                            <div class="item _existingItemName" data-item-id="0" data-depends-on-field="" data-depends-on-operator="" data-depends-on-value="" data-property-name="title">
                                                <h4><label>@Localizer["Name for item"]</label></h4>
                                                <span class="k-widget k-input k-state-default">
                                                    <input type="text" class="textField k-input _nameForExistingItem itemNameField" name="_nameForExistingItem" autocomplete="off" value="">
                                                </span>
                                                <div class="form-hint"></div>
                                            </div>
                                        </div>
                                        <div class="formview half dynamicTabContent" id="right-pane-content"></div>
                                    </div>
                                    <div>
                                        <div class="formview full" id="overViewGridContainer">
                                            <div id="overViewGrid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- FIXED FOOTER -->
                            <footer class="fixed">
                                <div id="metaData" class="metaData">
                                    <input type="checkbox" id="meta-toggle_main" class="hidden">
                                    <p class="no-selection">@Localizer["No item selected yet"]</p>
                                    <ul class="meta-data hidden">
                                        <li class="visible">@Localizer["ID"]: <span class="id"></span></li>
                                        <li>@Localizer["UUID"]: <span class="uuid"></span></li>
                                        <li>@Localizer["Name"]: <span class="title"></span></li>
                                        <li class="visible">@Localizer["Type"]: <span class="entity-type"></span></li>
                                        <li>@Localizer["Environment"]: <span class="published-environment"></span></li>
                                        <li>@Localizer["Read only"]: <span class="read-only"></span></li>
                                        <li>@Localizer["Added on"]: <span class="added-on"></span></li>
                                        <li>@Localizer["Added by"]: <span class="added-by"></span></li>
                                        <li><a class="changedon-footer" href="javascript: void(0)">@Localizer["Changed on"]: <span class="changed-on"></span></a></li>
                                        <li>@Localizer["Changed by"]: <span class="changed-by"></span></li>
                                        <li class="meta-toggle"><label for="meta-toggle_main"><span>@Localizer["Show everything"]</span><span>@Localizer["Show less"]</span></label></li>
                                    </ul>
                                </div>
                                <div class="actions">
                                    @if (!Model.ReadOnly)
                                    {
                                        <button id="saveBottom" class="k-primary saveButton">@Model.SaveButtonText</button>
                                        <button id="saveAndCreateNewItemButton" class="k-primary saveButton hidden">@Localizer["Save and create new item"]</button>
                                    }
                                </div>
                            </footer>

                            <!-- Template info slide-panel -->
                            <div id="infoPanel_main" class="info-container">
                                <div class="info-panel">
                                    <h2 class="info-title"></h2>
                                    <div class="close-panel k-button" role="button" aria-label="Close">
                                        <span class="k-icon k-i-close"></span>
                                    </div>
                                    <div class="info-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Item popup / window -->
    <div id="itemWindow_template" class="popup-container entity-container">
        <div class="pane-content">
            <div class="tabStripPopup">
                <ul>
                    <li class="k-state-active">@Localizer["Data."]</li>
                </ul>
                <div>
                    <div class="formview full static-fields itemNameFieldContainer">
                        <div class="item _existingItemName" data-item-id="0" data-depends-on-field="" data-depends-on-operator="" data-depends-on-value="" data-property-name="title">
                            <h4><label>@Localizer["Name for item"]</label></h4>
                            <span class="k-widget k-input k-state-default">
                                <input type="text" class="textField k-input _nameForExistingItem itemNameField" name="_nameForExistingItem" autocomplete="off" value="">
                            </span>
                            <div class="form-hint"></div>
                        </div>
                    </div>
                    <div class="formview full right-pane-content-popup dynamicTabContent">
                    </div>
                </div>
                <div>
                    <div class="formview full" class="historyGridContainer">
                        <div class="historyGrid"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FIXED FOOTER -->
        <footer class="fixed ">
            <div class="metaData">
                <input type="checkbox" id="meta-toggle_template" class="hidden">
                <p class="no-selection">@Localizer["No item selected yet"]</p>
                <ul class="meta-data hidden">
                    <li class="visible">@Localizer["ID"]: <span class="id"></span></li>
                    <li>@Localizer["UUID"]: <span class="uuid"></span></li>
                    <li>@Localizer["Name"]: <span class="title"></span></li>
                    <li class="visible">@Localizer["Type"]: <span class="entity-type"></span></li>
                    <li>@Localizer["Environment"]: <span class="published-environment"></span></li>
                    <li>@Localizer["Read only"]: <span class="read-only"></span></li>
                    <li>@Localizer["Added on"]:: <span class="added-on"></span></li>
                    <li>@Localizer["Added by"]: <span class="added-by"></span></li>
                    <li><a class="changedon-footer" href="javascript: void(0)">@Localizer["Changed on"]: <span class="changed-on"></span></a></li>
                    <li>@Localizer["Changed by"]: <span class="changed-by"></span></li>
                    <li class="meta-toggle"><label for="meta-toggle_template"><span>@Localizer["Show everything"]</span><span>@Localizer["Show less"]</span></label></li>
                </ul>
            </div>
            <div class="actions">
                <button class="saveAndCloseBottomPopup k-primary saveButton" name="saveAndClose">@Localizer["Save and close"]</button>
                <button class="saveBottomPopup k-secondary saveButton" name="save">@Localizer["Save"]</button>
                <button class="cancelItemPopup k-secondary" name="cancel">@Localizer["Cancel"]</button>
            </div>
        </footer>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Template info slide-panel -->
    <div id="infoPanel_template" class="info-container">
        <div class="info-panel">
            <h2 class="info-title"></h2>
            <div class="close-panel k-button" role="button" aria-label="Close">
                <span class="k-icon k-i-close"></span>
            </div>
            <div class="info-content"></div>
        </div>
    </div>

    <!-- Item search popup / window -->
    <div id="searchItemsWindow">
        <div class="pane-content">
            <p><strong>@Localizer["Attention!"]</strong> @Localizer["(De)selecting an item in this list will be immediately processed in the system."]</p>
            <div class="grid-parent">
                <div id="searchItemsWindowGrid"></div>
            </div>
        </div>
    </div>

    <!-- Item search popup / window -->
    <div id="historyWindow">
        <div class="pane-content">
            <div class="grid-parent">
                <div id="historyWindowGrid"></div>
            </div>
        </div>
    </div>

    <!-- Window for previewing the generation of PDF files (via an action button). -->
    <div id="previewFrame">
        <div class="k-content-frame">
            <div id="previewTabStrip">
            </div>
        </div>
        <footer class="fixed clear">
            <div class="actions">
                <button id="normalPreview" class="k-secondary k-blue button-left">@Localizer["Example"]</button>
                <button id="htmlPreview" class="k-secondary k-blue button-left">@Localizer["Change HTML"]</button>
                <button id="savePreview" class="k-primary">@Localizer["Save as PDF"]</button>
                <button id="printPreview" class="k-secondary k-blue">@Localizer["Print"]</button>
                <button id="mailPreview" class="k-secondary k-blue">@Localizer["E-mail"]</button>
            </div>
        </footer>
    </div>

    <!-- Window for previewing and editing the HTML source of a kendo HTML editor. -->
    <div id="htmlSourceWindow" class="html-source-window">
        <div class="k-content-frame pane-content">
            <textarea class="editor-html"></textarea>
        </div>
        <footer class="fixed clear">
            <div class="actions">
                <button class="k-primary" name="save">@Localizer["Update"]</button>
                <button class="k-secondary" name="cancel">@Localizer["Cancel"]</button>
                <button class="addTemplate" title="@Localizer["Add template"]"></button>
                <button class="addImage" title="@Localizer["Add image"]"></button>
            </div>
        </footer>
    </div>

    <!-- Window for previewing and editing the HTML source of a kendo HTML editor. -->
    <div id="contentBuilderWindow" class="content-builder-window">
        <div class="k-content-frame pane-content">
            <iframe frameborder="0" class="k-content-frame"></iframe>
        </div>
        <footer class="fixed clear">
            <div class="actions">
                <button class="k-primary" name="save">@Localizer["Update"]</button>
                <button class="k-secondary" name="cancel">@Localizer["Cancel"]</button>
            </div>
        </footer>
    </div>

    <!-- Window for maximizing a kendo HTML editor. -->
    <div id="maximizeEditorWindow" class="maximize-editor-window">
        <div class="k-content-frame pane-content">
            <textarea class="editor-html"></textarea>
        </div>
    </div>

    <!-- Window for maximizing a sub-entities-grid. -->
    <div id="maximizeSubEntitiesGridWindow" class="maximize-sub-entities-grid-window">
        <div class="k-content-frame pane-content">
        </div>
    </div>

    <!-- Dialog for open URL links. -->
    <div id="openLinkWindow"></div>

    <!-- Images uploader window -->
    <div id="imagesUploaderWindow" class="popup-container">
        <input type="file" id="newImageUpload" class="hidden" multiple />
        <div class="horizontal">
            <div class="left-pane">
                <div class="pane-content">
                    <div id="imagesUploaderTreeView"></div>
                    <ul id="imagesUploaderTreeViewContextMenu">
                        <li data-action="delete"><span class="k-sprite icon-delete"></span> @Localizer["Delete image"]</li>
                        <li data-action="rename"><span class="k-sprite icon-album-rename"></span> @Localizer["Rename image"]</li>
                        <li data-action="add-directory"><span class="k-icon k-i-folder-add"></span> @Localizer["Add folder"]</li>
                        <li data-action="add-image"><span class="k-icon k-i-image-insert"></span> @Localizer["Add image"]</li>
                    </ul>
                </div>

                <div class="imagesUploaderActions">
                    <button id="addNewImageButton" class="k-primary">@Localizer["Add new image"]</button>
                    <button id="addNewImageDirectoryButton" class="k-primary">@Localizer["Add new folder"]</button>
                </div>
            </div>

            <div class="right-pane hidden">
                <div class="pane-content image-preview">

                    <div class="formview full static-fields group-columns">
                        <div class="item-group">
                            <h3>@Localizer["Options"]</h3>

                            <div class="item preferredWidth">
                                <h4><label>@Localizer["Desired width (in pixels)"]</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="number" id="preferredWidth" class="textField k-input" name="preferredWidth" value="0" />
                                </span>
                                <div class="form-hint">
                                    <p>@Localizer["Enter 0 to use the original width of the image."]</p>
                                </div>
                            </div>

                            <div class="item preferredHeight">
                                <h4><label>@Localizer["Desired height (in pixels)"]</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="number" id="preferredHeight" class="textField k-input" name="preferredHeight" value="0" />
                                </span>
                                <div class="form-hint">
                                    <p>@Localizer["Enter 0 to use the original height of the image."]</p>
                                </div>
                            </div>

                            <div class="item altText">
                                <h4><label>@Localizer["Alt text"]</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="text" id="altText" class="textField k-input" name="altText" value="" />
                                </span>
                                <div class="form-hint">
                                    <p>@Localizer["A description of the image."]</p>
                                </div>
                            </div>

                            <div class="item resizeMode">
                                <h4><label>@Localizer["Method"]</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <select id="resizeMode" name="resizeMode" class="select">
                                        <option value="normal">@Localizer["Normal"]</option>
                                        <option value="stretch">@Localizer["Stretch"]</option>
                                        <option value="crop">@Localizer["Crop"]</option>
                                        <option value="fill">@Localizer["Fill"]</option>
                                    </select>
                                </span>
                                <div class="form-hint">
                                    <p>@Localizer["The way to resize the image:"]</p>
                                    <dl>
                                        <dt>@Localizer["Normal"]</dt>
                                        <dd>@Localizer["The image size will be made smaller or larger to the size closest to the desired size. Proportions of the original image can be preserved. Example: The image is 150x200 pixels and the desired size is 150x150. The final image size will then be 113x150 pixels."]</dd>
                                        <dt>@Localizer["Stretch"]</dt>
                                        <dd>@Localizer["The image is stretched or contracted until the resolution is exactly as specified. Warning: In many cases this causes distorted images."]</dd>
                                        <dt>@Localizer["Crop"]</dt>
                                        <dd>@Localizer["First, the image size will be made smaller until its width or height (whichever is greater) matches the specified size, then any remnants will be cutted off. Example: The image is 150x200 pixels and the desired size is 100x100 pixels. The final image will then be exactly 100x100 pizels, but because the proportions are now different, a piece of the image will be cutted off above and/or below. This can cause parts of an image to disappear."]</dd>
                                        <dt>@Localizer["Fill"]</dt>
                                        <dd>@Localizer["First, the image will be scaled down until the width or height (whichever is smaller) matches the specified size, then the image is filled with white space until the result exactly matches. Example: The image is 150x200 pixels and the desired size is 100x100 pixels. The final image will then be exactly 100x100 pixels, but because the proportions are now different, left and/or right white space will be added to the image."]</dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="item anchorPosition hidden">
                                <h4><label>@Localizer["Anchor position"]</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <select id="anchorPosition" name="anchorPosition" class="select">
                                        <option value="center">@Localizer["Center"]</option>
                                        <option value="top">@Localizer["Top"]</option>
                                        <option value="bottom">@Localizer["Bottom"]</option>
                                        <option value="left">@Localizer["Left"]</option>
                                        <option value="right">@Localizer["Right"]</option>
                                        <option value="topleft">@Localizer["Top-left"]</option>
                                        <option value="topright">@Localizer["Top-right"]</option>
                                        <option value="bottomleft">@Localizer["Bottom-left"]</option>
                                        <option value="bottomright">@Localizer["Bottom-right"]</option>
                                    </select>
                                </span>
                                <div class="form-hint">
                                    <p>@Localizer["The position on the image from which to cut or fill."]</p>
                                    <dl>
                                        <dt>@Localizer["Center"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the top, bottom left and right."]</dd>
                                        <dt>@Localizer["Top"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the bottom, left and right."]</dd>
                                        <dt>@Localizer["Bottom"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the top, left and right."]</dd>
                                        <dt>@Localizer["Left"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the top, bottom and right."]</dd>
                                        <dt>@Localizer["Right"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the top, bottom and left."]</dd>
                                        <dt>@Localizer["Top-left"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the bottom and right."]</dd>
                                        <dt>@Localizer["Top-right"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the bottom and left."]</dd>
                                        <dt>@Localizer["Bottom-left"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the top and right."]</dd>
                                        <dt>@Localizer["Bottom-right"]</dt>
                                        <dd>@Localizer["The image can be cutted off/filled at the top and left."]</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                        <div class="item-group">
                            <h3>@Localizer["Example"]</h3>
                            <div class="item">
                                <a class="image-preview-link" target="_blank"><img /></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FIXED FOOTER -->
                <footer class="fixed hidden">
                    <div class="actions">
                        <button class="test k-primary saveButton" name="addImageToEditor">@Localizer["Insert"]</button>
                    </div>
                </footer>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Files uploader window -->
    <div id="filesUploaderWindow" class="popup-container">
        <input type="file" id="newFileUpload" class="hidden" multiple />
        <div class="horizontal">
            <div class="left-pane">
                <div class="pane-content">
                    <div id="filesUploaderTreeView"></div>
                    <ul id="filesUploaderTreeViewContextMenu">
                        <li data-action="delete"><span class="k-sprite icon-delete"></span> @Localizer["Delete file"]</li>
                        <li data-action="rename"><span class="k-sprite icon-album-rename"></span> @Localizer["Rename file"]</li>
                        <li data-action="add-directory"><span class="k-icon k-i-folder-add"></span> @Localizer["Add folder"]</li>
                        <li data-action="add-file"><span class="k-icon k-i-image-insert"></span> @Localizer["Add file"]</li>
                    </ul>
                </div>

                <div class="filesUploaderActions">
                    <button id="addNewFileButton" class="k-primary">@Localizer["Add new file"]</button>
                    <button id="addNewFileDirectoryButton" class="k-primary">@Localizer["Add new folder"]</button>
                </div>
            </div>

            <div class="right-pane hidden">
                <div class="pane-content file-preview">

                    <div class="formview full static-fields group-columns">
                        <div class="item-group">
                            <h3>@Localizer["Options"]</h3>

                            <div class="item">
                                <h4><label>@Localizer["Text"]</label></h4>
                                <span class="k-widget k-input k-state-default">
                                    <input type="text" id="fileLinkText" class="textField k-input" name="fileLinkText" />
                                </span>
                            </div>
                        </div>

                        <div class="item-group">
                            <h3>@Localizer["Example"]</h3>
                            <div class="item">
                                <a class="file-preview-link" target="_blank">@Localizer["Download file"]</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FIXED FOOTER -->
                <footer class="fixed hidden">
                    <div class="actions">
                        <button class="test k-primary saveButton" name="addFileToEditor">@Localizer["Insert"]</button>
                    </div>
                </footer>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Images uploader window -->
    <div id="templatesUploaderWindow" class="popup-container">
        <input type="file" id="newTemplateUpload" class="hidden" multiple />
        <div class="horizontal">
            <div class="left-pane">
                <div class="pane-content">
                    <div id="templatesUploaderTreeView"></div>
                    <ul id="templatesUploaderTreeViewContextMenu">
                        <li data-action="delete"><span class="k-sprite icon-delete"></span> @Localizer["Delete template"]</li>
                        <li data-action="rename"><span class="k-sprite icon-album-rename"></span> @Localizer["Rename template"]</li>
                        <li data-action="add-directory"><span class="k-icon k-i-folder-add"></span> @Localizer["Add folder"]</li>
                        <li data-action="add-template"><span class="k-icon k-i-image-insert"></span> @Localizer["Add template"]</li>
                    </ul>
                </div>

                <div class="templatesUploaderActions">
                    <button id="addNewTemplateButton" class="k-primary">@Localizer["Add new template"]</button>
                    <button id="addNewTemplateDirectoryButton" class="k-primary">@Localizer["Add new folder"]</button>
                </div>
            </div>

            <div class="right-pane hidden">
                <div class="pane-content template-preview">

                    <div class="formview full static-fields group-columns">
                        <div class="item-group">
                            <h3>@Localizer["Example"]</h3>
                            <div class="item">
                                <iframe class="template-preview-iframe" src="about:blank"></iframe>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FIXED FOOTER -->
                <footer class="fixed hidden">
                    <div class="actions">
                        <button class="test k-primary saveButton" name="addTemplateToEditor">@Localizer["Insert"]</button>
                    </div>
                </footer>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="sendMailDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label>@Localizer["Sender name"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" name="senderName" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["Sender email address"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" name="senderEmail" autocomplete="off" value="" required>
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["Name reciever"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" name="receiverName" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["reciever email address"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" name="receiverEmail" autocomplete="off" value="" required>
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["CC"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" name="cc" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["BCC"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" name="bcc" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["Subject"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" name="subject" autocomplete="off" value="" required>
                </span>
            </div>
        </div>

        <div class="formview full static-fields">
            <div class="item">
                <h4><label>@Localizer["Attachments"]</label></h4>
                <span class="k-widget k-input k-state-default" id="attachmentFilesContainer">
                    <input name="files" type="file" aria-label="files" />
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["Content/"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <textarea class="editor" name="subject"></textarea>
                </span>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="changeImageDataDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label>@Localizer["Filename"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" name="fileName" autocomplete="off">
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["Description"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" name="title" autocomplete="off" required>
                </span>
            </div>
        </div>
    </div>

    <div id="dataSelectorTemplateDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label>@Localizer["Data selector"]</label></h4>
                <select id="dataSelectorDropDown" class="select"></select>
            </div>
            <div class="item">
                <h4><label>@Localizer["Template"]</label></h4>
                <select id="dataSelectorTemplateDropDown" class="select"></select>
            </div>
        </div>
    </div>

    <div id="youTubeDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label>@Localizer["Video-ID"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" name="youTubeVideoId" id="youTubeVideoId" autocomplete="off" required>
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["Width"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="number" class="textField k-input" name="youTubeVideoWidth" id="youTubeVideoWidth" autocomplete="off" required value="640">
                </span>
            </div>
            <div class="item">
                <h4><label>@Localizer["Height"]</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="number" class="textField k-input" name="youTubeVideoHeight" id="youTubeVideoHeight" autocomplete="off" required value="390">
                </span>
            </div>
            <div class="item">
                <span class="inline">
                    <label class="checkbox"><input type="checkbox" id="youTubeAllowFullScreen" class="textField k-input" name="youTubeAllowFullScreen" checked /><span>@Localizer["Allow full screen"]</span></label>
                </span>
            </div>
            <div class="item">
                <span class="inline">
                    <label class="checkbox"><input type="checkbox" id="youTubeAutoPlay" class="textField k-input" name="youTubeAutoPlay" /><span>@Localizer["Auto play"]</span></label>
                </span>
            </div>
            <div class="item">
                <span class="inline">
                    <label class="checkbox"><input type="checkbox" id="youTubeShowRelatedVideos" class="textField k-input" name="youTubeShowRelatedVideos" /><span>@Localizer["Show related videos"]</span></label>
                </span>
            </div>
        </div>
    </div>

    <div id="translationsDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label>@Localizer["Allows you to insert a translation word. This word is then automatically translated on the website into the language the user has chosen. These translation words can be entered in the 'Translations' module."]</label></h4>
                <select id="translationsDropDown" class="select"></select>
            </div>
        </div>
    </div>

    <div id="gridDeleteDialog"></div>

    <div id="translateItemDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label>@Localizer["Source language"]</label></h4>
                <select id="sourceLanguageDropDown" class="select"></select>
                <div class="form-hint">
                    <p>@Localizer["Choose the language that serves as the source here. All fields on this item with this language will then be translated into other languages."]</p>
                </div>
            </div>
            <div class="item">
                <h4><label>@Localizer["Target languages"]</label></h4>
                <select id="targetLanguagesMultiSelect" class="multi-select"></select>
                <div class="form-hint">
                    <p>@Localizer["Select the languages which all fields should be translated to. You can leave this field empty if you want to use all languages (that are set in the Master data module)."]</p>
                    <p>@Localizer["Only fields that do not yet contain a value in the target languages will be translated. This functionality will never overwrite entered values."]</p>
                </div>
            </div>
        </div>
    </div>

    <div id="data-builder" class="x-window"></div>

    <div id="mainLoader" class="fullscreen-loader loading">
        <div class="loader-icon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Kendo Templates -->
    <div id="imageDialog"></div>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="../../img/error-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="success">
            <img src="../../img/success-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>

    <script id="uploaderTemplate" type="text/x-kendo-template">
        <div class="product" data-item-id="#= itemId #" data-image-id="#= fileId #" data-item-link-id="#= itemLinkId #" data-file-name="#= name #" data-title="#= title #" data-entity-type="#= entityType || '' #" data-link-type="#= linkType || 0 #">
            <img src="#= window.dynamicItems.settings.wiserApiRoot #items/#= encodeURIComponent(itemId) #/files/#= fileId #/#= encodeURIComponent(name) #?encryptedCustomerId=#= encodeURIComponent(window.dynamicItems.settings.customerId) #&encryptedUserId=#= encodeURIComponent(window.dynamicItems.settings.userId) #&isTest=#= window.dynamicItems.settings.isTestEnvironment #&subDomain=#= encodeURIComponent(window.dynamicItems.settings.subDomain) #&itemLinkId=#= encodeURIComponent(itemLinkId) #&entityType=#= encodeURIComponent(entityType || '') #&linkType=#= linkType || 0 #" alt="#: name # image" />
            <div class="imgTools">
                <button type="button" class="imgZoom" title="Preview"></button>
                # if(!readonly) { #
                <button type="button" class="imgEdit" title="Edit"></button>
                <button type="button" class="imgDelete" title="Delete"></button>
                # } #
            </div>
        </div>
    </script>

    <div id="createNewItemDialog"></div>
    <script id="createNewItemDialogTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="newItemEntityTypeContainer">
            <h4><label for="newItemEntityTypeField">@Localizer["Choose an entity type"]</label></h4>
            <select id="newItemEntityTypeField" class="select"></select>
        </div>
        <div class="new-item-dialog-row">
            <h4><label for="newItemNameField">@Localizer["Enter a name"]</label></h4>
            <span class="k-widget k-input k-state-default">
                <input type="text" id="newItemNameField" class="textField k-input" />
            </span>
        </div>
    </script>

    <script id="userNormalInputParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="normalInputUserParameterContainer">
            <input type="text" id="normalInputUserParameter" name="normalInputUserParameter" class="k-input" />
        </div>
    </script>

    <script id="userMultiLineInputParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="multiLineInputUserParameterContainer">
            <textarea id="multiLineInputUserParameter" name="multiLineInputUserParameter" class="k-input"></textarea>
        </div>
    </script>
    <script id="userComboBoxParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="comboBoxUserParameterContainer">
            <select class="select" id="comboBoxUserParameter" name="comboBoxUserParameter" placeholder="@Localizer["Make your choice..."]" data-placeholder="@Localizer["Make your choice..."]"></select>
        </div>
    </script>
    <script id="userGridParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="comboBoxUserParameterContainer">
            <div class="grid" id="gridUserParameter"></div>
        </div>
    </script>
    <script id="userFileUploadParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="fileUploadUserParameterContainer">
            <input type="file" id="fileUploadUserParameter" name="fileUploadUserParameter" />
        </div>
    </script>
    <script id="advancedCheckBoxGroupItemTemplate" type="text/x-kendo-template">
        <div class="checkbox-adv small">
            <input type="checkbox" id="field_{propertyIdWithSuffix}_option_#= id #" class="hidden" data-id="#= id #" data-name="#= name #" />
            <label for="field_{propertyIdWithSuffix}_option_#= id #">
                <span class="checkbox-img">
                    <img src="" alt="" />
                </span>
                <span class="checkbox-txt">
                    #= name #
                </span>
                <ins class="checkbox-switch"></ins>
            </label>
        </div>
    </script>

    @* <script src="@await WebPackService.GetManifestFileAsync("Utils.js")"></script> *@
    @* <script src="@await WebPackService.GetManifestFileAsync("Base.js")"></script> *@
    <script src="@await WebPackService.GetManifestFileAsync("DynamicItems.js")"></script>

    <!-- CONTEXT MENU FOR TREEVIEW -->
    <ul id="menu"></ul>
</body>

</html>