@model FrontEnd.Modules.DynamicItems.Models.DynamicItemsViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd

<!DOCTYPE html>
<html>

<head runat="server">
    <title>Wiser 3 - Dynamic items</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    
    <style>
        #mainScreenForm,
        body.iframe #left-pane,
        body.iframe .pane-content > header,
        body.iframe .k-splitbar,
        body.iframe #alert-first,
        #itemWindow_template,
        #previewFrame,
        #sendMailDialog,
        #htmlSourceWindow,
        #maximizeEditorWindow,
        #contentBuilderWindow,
        #maximizeEditorWindow,
        #fileManagerWindow,
        #infoPanel_template,
        #maximizeSubEntitiesGridWindow,
        #changeImageDataDialog,
        #dataSelectorTemplateDialog,
        #searchItemsWindow,
        #youTubeDialog,
        #translateItemDialog,
        #translationsDialog {
            display: none;
        }
    </style>
</head>

<body class="@Model.BodyCssClass"
      data-module-id="@Model.ModuleId"
      data-module-name="@Model.ModuleName"
      data-initial-item-id="@Model.InitialItemId"
      data-iframe-mode="@Model.IframeMode.ToString().ToLowerInvariant()"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-read-only="@Model.ReadOnly.ToString().ToLowerInvariant()"
      data-hide-footer="@Model.HideFooter.ToString().ToLowerInvariant()"
      data-hide-header="@Model.HideHeader.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-create-new-item="@Model.CreateNewItem.ToString().ToLowerInvariant()"
      data-parent-id="@Model.ParentItemId"
      data-new-item-data="@Model.NewItemData"
      data-entity-type="@Model.EntityType"
      data-track-js-token="@Model.Settings.TrackJsToken"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret">

    <form id="mainScreenForm" autocomplete="off" novalidate>
        <div id="wiser">

            <div id="gridView"></div>
            <div id="informationBlock" class="hidden"></div>
            <div id="window" style="margin: 0 auto; padding: 0;">

                <!-- START --- EDIT LAYOUT -->
                <input type="checkbox" id="editToggle" class="noForm edit" />
                <input type="checkbox" id="widthToggle" class="noForm edit" />
                <!-- END ----- EDIT LAYOUT -->

                <div id="panelwithsplitter" style="height: 100%; margin: 0; padding: 0; border: 0;">

                    <div id="horizontal" style="border: 0; height: 100%; width: 100%;">

                        <div id="left-pane" style="background-color: #ccc;">
                            <div class="pane-content">
                                <div id="treeview"></div>

                                <button id="addButton" class="k-primary k-button-round" title="Nieuw item aanmaken (SHIFT+N)"></button>
                            </div>
                        </div>


                        <div id="right-pane" style="background-color: #eee;">
                            <div id="alert-first" class="alert-overlay">
                                <div class="alert">
                                    <ins class="icon-arrow-left"></ins>Maak eerst een keuze in het linkermenu.
                                </div>
                            </div>

                            <div class="pane-content entity-container" style="border: 0; margin: 0; padding: 0;">
                                <!-- FIXED HEADER -->
                                <header class="fixed clear">
                                    <ul id="crumbTrail" class="path">
                                        <li>Nog geen item geselecteerd</li>
                                    </ul>

                                    <div class="actions">
                                        <button id="saveButton" class="k-primary saveButton">@Model.SaveButtonText</button>
                                    </div>
                                </header>

                                <!-- ALERT MESSAGES -->
                                <div id="alert"></div>
                                <div id="alert-pane"></div>

                                <!-- Edit menu -->
                                <ul id="mainEditMenu" class="editMenu">
                                    <li>
                                        <ins class="icon-quickmenu"></ins>
                                        <ul id="editSub" class="editSub">
                                            <li>
                                                <label class="reloadItem"><span>Item verversen</span></label>
                                            </li>
                                            <li>
                                                <label class="deleteItem"><span>Item verwijderen</span></label>
                                            </li>
                                            <li>
                                                <label class="translateItem"><span>Item vertalen</span></label>
                                            </li>
                                            <li>
                                                <label class="undeleteItem"><span>Verwijderen ongedaan maken</span></label>
                                            </li>
                                            @if (Model.IsAllowedToChangePropertyWidth)
                                            {
                                                <li>
                                                    <label for="widthToggle" class="widthToggle"><span>Breedtes aanpassen</span> <ins class="icon-check"></ins></label>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                </ul>

                                <!-- TABS -->
                                <div id="tabstrip" class="k-tabstrip-wrapper">
                                    <ul>
                                        <li class="k-state-active">Gegevens</li>
                                        <li class="overview-tab hidden">Overzicht</li>
                                    </ul>
                                    <div>
                                        <div class="formview full static-fields itemNameFieldContainer">
                                            <div class="item _existingItemName" data-item-id="0" data-depends-on-field="" data-depends-on-operator="" data-depends-on-value="" data-property-name="title">
                                                <h4><label for="mainNameForExistingItem">Naam voor item</label></h4>
                                                <span class="k-widget k-input k-state-default">
                                                    <input type="text" class="textField k-input _nameForExistingItem itemNameField" id="mainNameForExistingItem" name="_nameForExistingItem" autocomplete="off">
                                                </span>
                                                <div class="form-hint"></div>
                                            </div>
                                        </div>
                                        <div class="formview half dynamicTabContent" id="right-pane-content"></div>
                                    </div>
                                    <div>
                                        <div class="formview full" id="overViewGridContainer">
                                            <div id="overViewGrid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- FIXED FOOTER -->
                            <footer class="fixed">
                                <div id="metaData" class="metaData">
                                    <input type="checkbox" id="meta-toggle_main" class="hidden">
                                    <p class="no-selection">Nog geen item geselecteerd</p>
                                    <ul class="meta-data hidden">
                                        <li class="visible">ID: <span class="id"></span></li>
                                        <li>UUID: <span class="uuid"></span></li>
                                        <li>Naam: <span class="title"></span></li>
                                        <li class="visible">Type: <span class="entity-type"></span></li>
                                        <li>Omgeving: <span class="published-environment"></span></li>
                                        <li>Alleen lezen: <span class="read-only"></span></li>
                                        <li>Toegevoegd op: <span class="added-on"></span></li>
                                        <li>Toegevoegd door: <span class="added-by"></span></li>
                                        <li><a class="changedon-footer" href="javascript: void(0)">Gewijzigd op: <span class="changed-on"></span></a></li>
                                        <li>Gewijzigd door: <span class="changed-by"></span></li>
                                        <li class="meta-toggle"><label for="meta-toggle_main"><span>Alles tonen</span><span>Minder tonen</span></label></li>
                                    </ul>
                                </div>
                                <div class="actions">
                                    @if (!Model.ReadOnly)
                                    {
                                        <button id="saveBottom" class="k-primary saveButton">@Model.SaveButtonText</button>
                                        <button id="saveAndCreateNewItemButton" class="k-primary saveButton hidden">Opslaan en nieuw item maken</button>
                                    }
                                </div>
                            </footer>

                            <!-- Template info slide-panel -->
                            <div id="infoPanel_main" class="info-container">
                                <div class="info-panel">
                                    <h2 class="info-title"></h2>
                                    <div class="close-panel k-button" role="button" aria-label="Close">
                                        <span class="k-icon k-i-close"></span>
                                    </div>
                                    <div class="info-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Item popup / window -->
    <div id="itemWindow_template" class="popup-container entity-container">
        <div class="pane-content">
            <div class="tabStripPopup">
                <ul>
                    <li class="k-state-active">Gegevens</li>
                </ul>
                <div>
                    <div class="formview full static-fields itemNameFieldContainer">
                        <div class="item _existingItemName" data-item-id="0" data-depends-on-field="" data-depends-on-operator="" data-depends-on-value="" data-property-name="title">
                            <h4><label>Naam voor item</label></h4>
                            <span class="k-widget k-input k-state-default">
                                <input type="text" class="textField k-input _nameForExistingItem itemNameField" name="_nameForExistingItem" autocomplete="off" value="">
                            </span>
                            <div class="form-hint"></div>
                        </div>
                    </div>
                    <div class="formview full right-pane-content-popup dynamicTabContent">
                    </div>
                </div>
                <div>
                    <div class="formview full" class="historyGridContainer">
                        <div class="historyGrid"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FIXED FOOTER -->
        <footer class="fixed ">
            <div class="metaData">
                <input type="checkbox" id="meta-toggle_template" class="hidden">
                <p class="no-selection">Nog geen item geselecteerd</p>
                <ul class="meta-data hidden">
                    <li class="visible">ID: <span class="id"></span></li>
                    <li>UUID: <span class="uuid"></span></li>
                    <li>Naam: <span class="title"></span></li>
                    <li class="visible">Type: <span class="entity-type"></span></li>
                    <li>Omgeving: <span class="published-environment"></span></li>
                    <li>Alleen lezen: <span class="read-only"></span></li>
                    <li>Toegevoegd op: <span class="added-on"></span></li>
                    <li>Toegevoegd door: <span class="added-by"></span></li>
                    <li><a class="changedon-footer" href="javascript: void(0)">Gewijzigd op: <span class="changed-on"></span></a></li>
                    <li>Gewijzigd door: <span class="changed-by"></span></li>
                    <li class="meta-toggle"><label for="meta-toggle_template"><span>Alles tonen</span><span>Minder tonen</span></label></li>
                </ul>
            </div>
            <div class="actions">
                <button class="saveAndCloseBottomPopup k-primary saveButton" name="saveAndClose">Opslaan en sluiten</button>
                <button class="saveBottomPopup k-secondary saveButton" name="save">Opslaan</button>
                <button class="cancelItemPopup k-secondary" name="cancel">Annuleren</button>
            </div>
        </footer>

        <div class="popup-loader fullscreen-loader loading">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- Template info slide-panel -->
    <div id="infoPanel_template" class="info-container">
        <div class="info-panel">
            <h2 class="info-title"></h2>
            <div class="close-panel k-button" role="button" aria-label="Close">
                <span class="k-icon k-i-close"></span>
            </div>
            <div class="info-content"></div>
        </div>
    </div>

    <!-- Item search popup / window -->
    <div id="searchItemsWindow">
        <div class="pane-content">
            <p><strong>Let op!</strong> Het (de)selecteren van een item in deze lijst wordt direct verwerkt in het systeem.</p>
            <div class="grid-parent">
                <div id="searchItemsWindowGrid"></div>
            </div>
        </div>
    </div>

    <!-- Item search popup / window -->
    <div id="historyWindow">
        <div class="pane-content">
            <div class="grid-parent">
                <div id="historyWindowGrid"></div>
            </div>
        </div>
    </div>

    <!-- Window for previewing the generation of PDF files (via an action button). -->
    <div id="previewFrame">
        <div class="k-content-frame">
            <div id="previewTabStrip">
            </div>
        </div>
        <footer class="fixed clear">
            <div class="actions">
                <button id="normalPreview" class="k-secondary k-blue button-left">Voorbeeld</button>
                <button id="htmlPreview" class="k-secondary k-blue button-left">HTML wijzigen</button>
                <button id="savePreview" class="k-primary">Opslaan als PDF</button>
                <button id="printPreview" class="k-secondary k-blue">Printen</button>
                <button id="mailPreview" class="k-secondary k-blue">E-Mail</button>
            </div>
        </footer>
    </div>

    <!-- Window for previewing and editing the HTML source of a kendo HTML editor. -->
    <div id="htmlSourceWindow" class="html-source-window">
        <div class="k-content-frame pane-content">
            <textarea class="editor-html"></textarea>
        </div>
        <footer class="fixed clear">
            <div class="actions">
                <button class="k-primary" name="save">Update</button>
                <button class="k-secondary" name="cancel">Annuleren</button>
                <button class="addTemplate" title="Template toevoegen"></button>
                <button class="addImage" title="Afbeelding toevoegen"></button>
            </div>
        </footer>
    </div>

    <!-- Window for previewing and editing the HTML source of a kendo HTML editor. -->
    <div id="contentBuilderWindow" class="content-builder-window">
        <div class="k-content-frame pane-content">
            <iframe frameborder="0" class="k-content-frame"></iframe>
        </div>
        <footer class="fixed clear">
            <div class="actions">
                <button class="k-primary" name="save">Update</button>
                <button class="k-secondary" name="cancel">Annuleren</button>
            </div>
        </footer>
    </div>

    <!-- Window for maximizing a kendo HTML editor. -->
    <div id="maximizeEditorWindow" class="maximize-editor-window">
        <div class="k-content-frame pane-content">
            <textarea class="editor-html"></textarea>
        </div>
    </div>

    <!-- Window for maximizing a sub-entities-grid. -->
    <div id="maximizeSubEntitiesGridWindow" class="maximize-sub-entities-grid-window">
        <div class="k-content-frame pane-content">
        </div>
    </div>

    <!-- Dialog for open URL links. -->
    <div id="openLinkWindow"></div>

    <!-- File manager window -->
    <div id="fileManagerWindow" class="popup-container">
        <div class="horizontal">
            <iframe frameborder="0" id="fileManagerFrame"></iframe>
            
            <!-- FIXED FOOTER -->
            <footer class="fixed">
                <div class="actions">
                    <button class="k-primary saveButton" name="addFileToEditor">Invoegen</button>
                </div>
            </footer>
        </div>
    </div>

    <div id="sendMailDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="sendMailDialogSenderName">Naam verzender</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" id="sendMailDialogSenderName" name="senderName" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label for="sendMailDialogSenderEmail">E-mailadres verzender</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" id="sendMailDialogSenderEmail" name="senderEmail" autocomplete="off" value="" required>
                </span>
            </div>
            <div class="item">
                <h4><label for="sendMailDialogReceiverName">Naam ontvanger</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" id="sendMailDialogReceiverName" name="receiverName" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label for="sendMailDialogReceiverEmail">E-mailadres ontvanger</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" id="sendMailDialogReceiverEmail" name="receiverEmail" autocomplete="off" value="" required>
                </span>
            </div>
            <div class="item">
                <h4><label for="sendMailDialogCc">CC</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" id="sendMailDialogCc" name="cc" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label for="sendMailDialogBcc">BCC</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="email" class="textField k-input" id="sendMailDialogBcc" name="bcc" autocomplete="off" value="">
                </span>
            </div>
            <div class="item">
                <h4><label for="sendMailDialogSubject">Onderwerp</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" id="sendMailDialogSubject" name="subject" autocomplete="off" value="" required>
                </span>
            </div>
        </div>

        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="sendMailDialogFiles">Extra bijlagen</label></h4>
                <span class="k-widget k-input k-state-default" id="attachmentFilesContainer">
                    <input id="sendMailDialogFiles" name="files" type="file" aria-label="files" />
                </span>
            </div>
            <div class="item">
                <h4><label for="sendMailDialogContent">Inhoud</label></h4>
                <span class="k-widget k-input k-state-default">
                    <textarea id="sendMailDialogContent" class="editor" name="subject"></textarea>
                </span>
            </div>
        </div>

        <div class="popup-loader fullscreen-loader">
            <div class="loader-icon">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div id="changeImageDataDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="changeImageDialogFileNameField">Bestandsnaam</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" id="changeImageDialogFileNameField" name="fileName" autocomplete="off">
                </span>
            </div>
            <div class="item">
                <h4><label for="changeImageDialogTitleField">Algemene titel voor Wiser</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" id="changeImageDialogTitleField" name="title" autocomplete="off">
                </span>
            </div>
            <div class="item hidden alt-text-template">
                <h4><label for="changeImageDialogAltText">Omschrijving <span class="language"></span></label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" id="changeImageDialogAltText" name="title" autocomplete="off">
                </span>
            </div>
        </div>
    </div>

    <div id="dataSelectorTemplateDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="dataSelectorDropDown">Data selector</label></h4>
                <select id="dataSelectorDropDown" class="select"></select>
            </div>
            <div class="item">
                <h4><label for="dataSelectorTemplateDropDown">Template</label></h4>
                <select id="dataSelectorTemplateDropDown" class="select"></select>
            </div>
        </div>
    </div>

    <div id="youTubeDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="youTubeVideoId">Video-ID</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" class="textField k-input" name="youTubeVideoId" id="youTubeVideoId" autocomplete="off" required>
                </span>
            </div>
            <div class="item">
                <h4><label for="youTubeVideoWidth">Breedte</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="number" class="textField k-input" name="youTubeVideoWidth" id="youTubeVideoWidth" autocomplete="off" required value="640">
                </span>
            </div>
            <div class="item">
                <h4><label for="youTubeVideoHeight">Hoogte</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="number" class="textField k-input" name="youTubeVideoHeight" id="youTubeVideoHeight" autocomplete="off" required value="390">
                </span>
            </div>
            <div class="item">
                <span class="inline">
                    <label class="checkbox"><input type="checkbox" id="youTubeAllowFullScreen" class="textField k-input" name="youTubeAllowFullScreen" checked /><span>Volledig scherm toestaan</span></label>
                </span>
            </div>
            <div class="item">
                <span class="inline">
                    <label class="checkbox"><input type="checkbox" id="youTubeAutoPlay" class="textField k-input" name="youTubeAutoPlay" /><span>Automatisch afspelen</span></label>
                </span>
            </div>
            <div class="item">
                <span class="inline">
                    <label class="checkbox"><input type="checkbox" id="youTubeShowRelatedVideos" class="textField k-input" name="youTubeShowRelatedVideos" /><span>Gerelateerde video's weergeven</span></label>
                </span>
            </div>
        </div>
    </div>

    <div id="translationsDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="translationsDropDown">Hiermee kan een vertaalwoord ingevoegd worden. Dit woord wordt dan automatisch op de website vertaald naar de taal die de gebruiker heeft gekozen. Deze vertaalwoorden kunnen in de module "Vertalingen" ingevuld worden.</label></h4>
                <select id="translationsDropDown" class="select"></select>
            </div>
        </div>
    </div>

    <div id="gridDeleteDialog"></div>

    <div id="translateItemDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="sourceLanguageDropDown">Brontaal</label></h4>
                <select id="sourceLanguageDropDown" class="select"></select>
                <div class="form-hint">
                    <p>Kies hier de taal die als bron dient. Alle velden op dit item met deze taal zullen dan vertaald worden in andere talen.</p>
                </div>
            </div>
            <div class="item">
                <h4><label for="targetLanguagesMultiSelect">Doeltalen</label></h4>
                <select id="targetLanguagesMultiSelect" class="multi-select"></select>
                <div class="form-hint">
                    <p>Kies hier de talen waarin alle velden vertaald moeten worden. U kunt dit veld leeglaten indien u alle talen (die ingesteld staan in de Stamgegevensmodule) wilt gebruiken.</p>
                    <p>Alleen velden die nog geen waarde bevatten in de doeltalen, zullen vertaald worden. Deze functionaliteit zal nooit ingevulde waardes overschrijven.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="data-builder" class="x-window"></div>

    <div id="mainLoader" class="fullscreen-loader loading">
        <div class="loader-icon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Kendo Templates -->
    <div id="imageDialog"></div>
    <script id="errorTemplate" type="text/x-kendo-template">
        <div class="wrong-pass">
            <img src="../../img/error-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>

    <script id="successTemplate" type="text/x-kendo-template">
        <div class="success">
            <img src="../../img/success-icon.png" />
            <h3>#= message #</h3>
        </div>
    </script>

    <script id="uploaderTemplate" type="text/x-kendo-template">
        <div class="product" data-item-id="#: itemId #" data-image-id="#: fileId #" data-item-link-id="#: itemLinkId #" data-file-name="#: name #" data-title="#: title #" data-entity-type="#: entityType || '' #" data-link-type="#: linkType || 0 #" data-extra-data="#: extraData || '' #">
            <img src="#: window.dynamicItems.settings.wiserApiRoot #items/#: encodeURIComponent(itemId) #/files/#: fileId #/#: encodeURIComponent(name) #?encryptedCustomerId=#: encodeURIComponent(window.dynamicItems.settings.customerId) #&encryptedUserId=#: encodeURIComponent(window.dynamicItems.settings.userId) #&isTest=#: window.dynamicItems.settings.isTestEnvironment #&subDomain=#: encodeURIComponent(window.dynamicItems.settings.subDomain) #&itemLinkId=#: encodeURIComponent(itemLinkId) #&entityType=#: encodeURIComponent(entityType || '') #&linkType=#: linkType || 0 #" alt="#: name # image" />
            <div class="imgTools">
                <button type="button" class="imgZoom" title="Preview"></button>
                # if(!readonly) { #
                <button type="button" class="imgEdit" title="Edit"></button>
                <button type="button" class="imgDelete" title="Delete"></button>
                # } #
            </div>
        </div>
    </script>

    <div id="createNewItemDialog"></div>
    <script id="createNewItemDialogTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="newItemEntityTypeContainer">
            <h4><label for="newItemEntityTypeField">Kies een entiteit-type</label></h4>
            <select id="newItemEntityTypeField" class="select"></select>
        </div>
        <div class="new-item-dialog-row">
            <h4><label for="newItemNameField">Vul een naam in</label></h4>
            <span class="k-widget k-input k-state-default">
                <input type="text" id="newItemNameField" class="textField k-input" />
            </span>
        </div>
        <div class="new-item-dialog-row">
            <span class="inline">
                <label class="checkbox"><input type="checkbox" id="alsoCreateInMainBranch" class="textField k-input" /><span>Maak ook aan in hoofd branch</span></label>
            </span>
        </div>
    </script>

    <script id="userNormalInputParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="normalInputUserParameterContainer">
            <input type="text" id="normalInputUserParameter" name="normalInputUserParameter" class="k-input" />
        </div>
    </script>

    <script id="userMultiLineInputParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="multiLineInputUserParameterContainer">
            <textarea id="multiLineInputUserParameter" name="multiLineInputUserParameter" class="k-input"></textarea>
        </div>
    </script>
    <script id="userComboBoxParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="comboBoxUserParameterContainer">
            <select class="select" id="comboBoxUserParameter" name="comboBoxUserParameter" placeholder="Maak uw keuze..." data-placeholder="Maak uw keuze..."></select>
        </div>
    </script>
    <script id="userGridParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="comboBoxUserParameterContainer">
            <div class="grid" id="gridUserParameter"></div>
        </div>
    </script>
    <script id="userFileUploadParameterTemplate" type="text/x-kendo-template">
        <div class="new-item-dialog-row" id="fileUploadUserParameterContainer">
            <input type="file" id="fileUploadUserParameter" name="fileUploadUserParameter" />
        </div>
    </script>
    <script id="advancedCheckBoxGroupItemTemplate" type="text/x-kendo-template">
        <div class="checkbox-adv small">
            <input type="checkbox" id="field_{propertyIdWithSuffix}_option_#= id #" class="hidden" data-id="#= id #" data-name="#= name #" />
            <label for="field_{propertyIdWithSuffix}_option_#= id #">
                <span class="checkbox-img">
                    <img src="" alt="" />
                </span>
                <span class="checkbox-txt">
                    #= name #
                </span>
                <ins class="checkbox-switch"></ins>
            </label>
        </div>
    </script>

    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="Processing.js"></webpack-script>
    <webpack-script file-name="kendo-ui.js"></webpack-script>
    <webpack-script file-name="DynamicItems.js"></webpack-script>
    <webpack-script file-name="Fields.js"></webpack-script>
    <webpack-script file-name="Dialogs.js"></webpack-script>
    <webpack-script file-name="Windows.js"></webpack-script>
    <webpack-script file-name="Grids.js"></webpack-script>
    <webpack-script file-name="DragAndDrop.js"></webpack-script>

    <!-- CONTEXT MENU FOR TREEVIEW -->
    <ul id="menu"></ul>
</body>

</html>