@model FrontEnd.Modules.Templates.Models.TemplateViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd
@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Wiser 3 - Templates module</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2022.2.621/styles/kendo.material.min.css" rel="stylesheet" />
    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
    <style>
        #wiser,
        #createNewItemDialog,
        #addDynamicContentToHtmlDialog,
        #linkExistingDynamicContentDialog,
        #htmlSourceWindow,
        #NotMainBranchNotification,
        #translationsDialog,
        #fileManagerWindow {
            display: none;
        }
    </style>
</head>
<body class="@Model.BodyCssClass"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-wiser-api-root="@Model.ApiRoot"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-pusher-app-key="@Model.Settings.PusherAppKey"
      data-template-id="@Model.TemplateId"
      data-initial-tab="@Model.InitialTab">
    <span id="popupNotification"></span>
    <div id="NotMainBranchNotification" class="hidden">
        <p>
            Je bent op dit moment ingelogd bij een branch van deze klant. Het is niet mogelijk/toegestaan om de templatemodule te gebruiken in een branch.<br/>
            Log a.u.b. in op de live-omgeving van de klant en werk daar in de templatemodule.
        </p>
    </div>
    <div id="wiser">
        <div id="window" style="margin: 0 auto; padding: 0;">
            @if (Model.TemplateId == 0)
            {
                <div class="window-header">
                    <button id="importLegacyButton" class="k-secondary saveButton">Importeren van Wiser 1</button>
                    <form id="searchForm" class="search-container">
                        <input type="text" placeholder="Zoeken" id="search-field" class="k-input" autocomplete="off">
                        <button class="icon-line-search"></button>
                        <div class="loader-icon">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </form>
                </div>
            }

            <div class="window-content">
                <div id="panelwithsplitter" style="height: 100%; margin: 0; padding: 0; border: 0;">
                    <div id="horizontal" style="border: 0; height: 100%; width: 100%;">
                        @if (Model.TemplateId == 0)
                        {
                            <div id="left-pane" style="background-color: #cccccc;">
                                <div class="pane-content">
                                    <div class="tabstrip-treeview k-tabstrip-wrapper">
                                    </div>
                                    <button id="addButton" class="k-primary k-button-round"></button>
                                </div>
                                <ul id="treeViewContextMenu"></ul>
                            </div>
                        }

                        <div id="right-pane" style="background-color: #eeeeee;">
                            <div id="tabStrip" class="tabstrip k-tabstrip-wrapper">
                                <ul>
                                    <li class="development-tab k-state-active" data-name="development">Development</li>
                                    @* <li class="config-tab" data-name="configuration" disabled>Configuration</li> *@
                                    <li class="dynamic-tab" data-name="dynamic-content">Dynamische content</li>
                                    <li class="history-tab" data-name="history">Historie</li>
                                    <li class="measurements-tab" data-name="measurements">Metingen</li>
                                </ul>
                                <div id="developmentTab"></div>
                                @* <div id="wtsConfigurationTab"></div> *@
                                <div id="dynamicContentTab">
                                    <partial name="Tabs/DynamicContentTab"/>
                                </div>
                                <div id="historyTab"></div>
                                <div id="measurementsTab"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dynamicContentWindow"></div>
    <div id="deployDynamicContentWindow"></div>

    <!-- Window for previewing and editing the HTML source of a kendo HTML editor. -->
    <div id="htmlSourceWindow" class="html-source-window">
        <div class="k-content-frame pane-content">
            <textarea class="editor-html"></textarea>
        </div>
        <footer class="fixed clear">
            <div class="actions">
                <button class="k-primary" name="save">Update</button>
                <button class="k-secondary" name="cancel">Annuleren</button>
                <button class="addDynamicContent"></button>
            </div>
        </footer>
    </div>

    <!-- File manager window -->
    <div id="fileManagerWindow" class="popup-container">
        <div class="horizontal">
            <iframe frameborder="0" id="fileManagerFrame"></iframe>

            <!-- FIXED FOOTER -->
            <footer class="fixed">
                <div class="actions">
                    <button class="k-primary saveButton" name="addFileToEditor">Invoegen</button>
                </div>
            </footer>
        </div>
    </div>

    <div id="createNewItemDialog">
        <div class="formview full static-fields">
            <div class="item">
                <span class="inline">
                    <label class="checkbox"><input type="checkbox" id="newItemIsDirectoryCheckBox" class="textField k-input" /><span>Is map</span></label>
                </span>
            </div>
            <div class="item">
                <h4><label for="newItemTitleField">Naam</label></h4>
                <span class="k-widget k-input k-state-default">
                    <input type="text" id="newItemTitleField" class="textField k-input" autocomplete="off" />
                </span>
            </div>
        </div>
    </div>

    <div id="addDynamicContentToHtmlDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="dynamicContentDropDown">Kies een component</label></h4>
                <div class="flex-container">
                    <select id="dynamicContentDropDown" class="select" placeholder="Maak uw keuze..." data-placeholder="Maak uw keuze..."></select>
                </div>
            </div>
        </div>
    </div>

    <div id="linkExistingDynamicContentDialog">
        <div class="formview full static-fields">
            <div class="item">
                <h4><label for="allDynamicContentDropDown">Kies een component</label></h4>
                <div class="flex-container">
                    <select id="allDynamicContentDropDown" class="select" placeholder="Maak uw keuze..." data-placeholder="Maak uw keuze..."></select>
                </div>
            </div>
        </div>
    </div>

    <div id="mainLoader" class="fullscreen-loader loading">
        <div class="loader-icon">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="Processing.js"></webpack-script>
    <webpack-script file-name="kendo-ui.js"></webpack-script>
    <webpack-script file-name="Templates.js"></webpack-script>
</body>
</html>