@model FrontEnd.Modules.Base.Models.BaseModuleViewModel

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>Wiser 2.1 - Task Alerts history</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//kendo.cdn.telerik.com/2021.2.511/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="//kendo.cdn.telerik.com/2021.2.511/styles/kendo.material.min.css" rel="stylesheet" />

    <script>
        window.wiserVersion = "@Model.WiserVersion?.ToString()";
    </script>
</head>
<body class="taskAlert"
      data-module-id="708"
      data-wiser-api-root="@Model.ApiRoot"
      data-wiser-api-v21-root="@Model.ApiRoot"
      data-wiser-api-authentication-url="@Model.ApiAuthenticationUrl"
      data-is-test-environment="@Model.IsTestEnvironment.ToString().ToLowerInvariant()"
      data-api-client-id="@Model.Settings.ApiClientId"
      data-api-client-secret="@Model.Settings.ApiClientSecret"
      data-sub-domain="@Model.SubDomain"
      data-track-js-token="@Model.Settings.TrackJsToken">
    
<div id="wiser">
    <div class="gridview">
        <div id="task-grid" class="grid"></div>
    </div>
</div>
    
<script src="/scripts/Jjl.min.js"></script>
<script src="/scripts/Utils.min.js"></script>
<script src="/scripts/TaskHistory.min.js"></script>
</body>
</html>