@using DocumentFormat.OpenXml.EMMA
@using FrontEnd.Modules.Templates.Models.WtsModels
@using GeeksCoreLibrary.Modules.Templates.Enums
@model FrontEnd.Modules.Templates.Models.WtsConfigurationTabViewModel
<div id="tabStripConfiguration" class="k-tabstrip-items-wrapper">
    <ul class="k-tabstrip-items k-reset" role="none">
        <li class="service-tab k-state-active" data-name="wts-service">Service</li>
        <li class="timers-tab" data-name="wts-timers">Timers</li>
        <li class="actions-tab" data-name="wts-actions">Actions</li>
        <li class="statistic-tab" data-name="wts-statistic">Statistiek</li>
        <li class="logging-tab" data-name="wts-logging">Logging</li>
    </ul>
    <div id="serviceTab">
        <div class="formview compact">
            <div class="item">
                <h4><label>Naam</label></h4>
                <span>
                    <input id="wts-name" type="text" value="@Model.ServiceName" />
                    <div class="form-hint"><span>Dit is de naam van de service</span></div>
                </span>
            </div>
            <div class="item">
                <h4><label>Connectiestring</label></h4>
                <span>
                    <input id="wts-connection-string" type="text" value="@Model.ConnectionString" />
                    <div class="form-hint"><span>MySQL Connectiestring voor de verbinding aan een database</span></div>
                </span>
            </div>
            <div class="item">
                <h4><label>Minimaal log level</label></h4>
                <select id="wts-log-level">
                    @foreach (var logLevel in Model.LogMinimumLevels)
                    {
                        if (logLevel == Model.LogSettings?.LogMinimumLevel)
                        {
                            <option value="@logLevel" selected>@logLevel</option>
                        }
                        else
                        {
                            <option value="@logLevel">@logLevel</option>
                        }
                    }
                </select>
                <div>
                    <label class="checkbox">
                        @if (Model.LogSettings?.LogRunStartAndStop == true)
                        {
                            <input type="checkbox" id="wts-log-start-stop" checked/>
                        }
                        else
                        {
                            <input type="checkbox" id="wts-log-start-stop"/>
                        }
                        <span>Log bij opstarten en afsluiten</span>
                    </label>
                </div>
                <div class="item">
                    <label class="checkbox">
                        @if (Model.LogSettings?.LogRunStartAndStop == true)
                        {
                            <input type="checkbox" id="wts-log-run-startandstop" checked/>
                        }
                        else
                        {
                            <input type="checkbox" id="wts-log-run-startandstop"/>
                        }
                        <span>Log bij het begin en einde van de run-cyclus</span>
                    </label>
                </div>
                <div>
                    <label class="checkbox">
                        @if (Model.LogSettings?.LogRunBody == true)
                        {
                            <input type="checkbox" id="wts-log-body" checked/>
                        }
                        else
                        {
                            <input type="checkbox" id="wts-log-body"/>
                        }
                        <span>Log de body (bijvoorbeeld de query of de API call die wordt uitgevoerd)</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div id="timersTab">
        <div class="formview compact">
            <div class="item full">
                <h4><label>Timers</label></h4>
                <div id="wtsTimers" class="grid"></div>
                <button id="wtsTimingCreateButton" type="button" class="kendoButton scope-button add-scope-button k-button k-blue"><span>Nieuwe timer aanmaken</span></button>
            </div>

            <div id="wts-timing-form">
                <div class="item">
                    <h4><label>ID</label></h4>
                    <span>
                        <input id="wts-timing-id"/>
                        <div class="form-hint"><span>Unieke nummer van de timer</span></div>
                    </span>
                </div>

                <div class="item">
                    <h4><label>Type</label></h4>
                    <select id="wts-timing-type">
                        @foreach (var type in Model.RunSchemeTypes)
                        {
                            <option value="@type">@type</option>
                        }
                    </select>

                    <div>
                        <label>
                            <span>Tussen</span>
                            <input id="wts-timing-start"/>
                        </label>
                        <label>
                            <span>en</span>
                            <input id="wts-timing-stop"/>
                        </label>
                        <label>
                            <span>met tussenpozen van</span>
                            <input id="wts-timing-delay"/>
                        </label>
                    </div>
                    <div>
                        <!-- This could be rewritten to have an hour input for week and month to have a more seamless ux since now they're spaced far apart -->
                        <select id="wts-timing-dayofweek"></select>
                        <label>
                            <span>Op de</span>
                            <input id="wts-timing-dayofmonth"/>
                            <span>van de maand</span>
                        </label>
                        <label>
                            <span>Om</span>
                            <input id="wts-timing-hour"/>
                            <span>uur</span>
                        </label>
                    </div>

                    <div>
                        <label class="checkbox">
                            <input type="checkbox" id="wts-timing-runimmediately"/>
                            <span>Direct uitvoeren van runschema wanneer de WTS opstart</span>
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="wts-timing-skipweekend"/>
                            <span>Dit schema loopt niet in het weekend (vanaf vrijdag 16.00 uur t/m zondag 23.59 uur)</span>
                        </label>
                    </div>
                </div>

                <div class="item">
                    <h4><label>Niet draaien op</label></h4>
                    <span>
                        <select id="wts-timing-skipdays"></select>
                    </span>
                </div>

                <div class="item">
                    <h4><label>Minimaal log level</label></h4>
                    <select id="wts-timing-logminimumlevel">
                        @foreach (var logLevel in Model.LogMinimumLevels)
                        {
                            <option value="@logLevel">@logLevel</option>
                        }
                    </select>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" id="wts-timing-logstartstop"/>
                            <span>Log bij opstarten en afsluiten</span>
                        </label>
                    </div>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" id="wts-timing-logrunstartandstop"/>
                            <span>Log bij het begin en einde van de run-cyclus</span>
                        </label>
                    </div>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" id="wts-timing-logrunbody"/>
                            <span>Log de body (bijvoorbeeld de query of de API call die wordt uitgevoerd)</span>
                        </label>
                    </div>
                    <div class="form-hint"><span>Het invullen van deze velden overschrijft de globale log instellingen als deze eerder ingesteld zijn</span></div>
                </div>

                <div class="item">
                    <button id="wtsTimingSaveChanges" type="button" class="k-primary saveButton">Wijzigingen opslaan</button>
                </div>

                <div class="item">
                    <h4><label>Gekoppelde acties</label></h4>
                    <div class="form-hint"><span>Deze acties staan gekoppeld aan de geselecteerde timer</span></div>
                    <div id="wtsLinkedActions" class="grid"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="actionsTab">
        <div class="formview compact">
            <div class="item">
                <h4><label>Acties</label></h4>
                <div id="wtsServiceActions" class="grid"></div>
                <button id="wtsActionCreateButton" type="button" class="kendoButton scope-button add-scope-button k-button k-blue" data-icon="plus"><span>Nieuwe actie aanmaken</span></button>
            </div>
            <div id="wts-action-form">
                <div class="item">
                    <h4><label>Timer</label></h4>
                    <input id="wts-action-timerid" type="text" class="k-input" value="Timer ID" disabled/>
                    <input id="wts-action-order" type="text" class="k-input" value="Volgorde" disabled/>
                    <div class="form-hint"><span>Dit bepaalt op welke volgorde acties moeten draaien die dezelfde timer gebruiken.</span></div>
                </div>
                
                <div class="item">
                    <h4><label>Actie</label></h4>
                </div>
            </div>
        </div>
    </div>
    
    <div id="statisticTab">
        <em>Informatie over hoe lang de service erover deed
            om te draaien komt hier te staan. Liefst in een
            grafiek met de laatste x-keer dat deze gedraaid
            heeft. En of er fouten waren en zo ja welke</em>
    </div>
    <div id="loggingTab">
        <em>Hier worden de logs geopend van deze service.
            Per actie moet je de logs kunnen filteren. Tevens
            op periode filteren...</em>
    </div>
</div>

<footer>
    <div class="version-actions">
        <button id="saveAndDeployToTestButtonWtsConfiguration" class="k-primary saveButton" title="Opslaan &amp; deploy naar test-omgeving"><ins class="icon-cloud-up"></ins></button>
        <button id="saveButtonWtsConfiguration" class="k-primary saveButton">Configuratie opslaan</button>
    </div>
</footer>