@using System.Web
@model FrontEnd.Modules.ContentBuilder.Models.ContentBuilderViewModel
@addTagHelper FrontEnd.Core.TagHelpers.WebpackScriptTagHelper, FrontEnd

<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Content Builder</title>

    <link href="/ContentBuilder/assets/minimalist-blocks/content.css" rel="stylesheet" type="text/css" />
    <link href="/ContentBuilder/assets/ionicons/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="@(Model.ApiRoot)templates/css-for-html-editors?encryptedUserId=@HttpUtility.UrlEncode(Model.UserId)&subDomain=@HttpUtility.UrlEncode(Model.SubDomain)" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app" v-cloak>
        <div class="is-tool main-tools-container">
            <button @@click="viewSnippets()" class="classic view-snippets-button">+ Toevoegen</button>
            <button @@click="viewHtml()" class="classic view-html-button">HTML</button>
        </div>

        <div id="contentarea" class="container is-container">
        </div>
    </div>

    <script id="vue-config" type="application/json">
    {
        "apiBase": "@Model.Settings.ApiBaseUrl",
        "subDomain": "@Model.SubDomain" ,
        "isTestEnvironment": @Model.IsTestEnvironment.ToString().ToLowerInvariant(),
        "wiser1BaseUrl": "@Model.Wiser1BaseUrl",
        "loadPartnerStyle": @Model.LoadPartnerStyle.ToString().ToLowerInvariant(),
        "apiClientId": "@Model.Settings.ApiClientId",
        "apiClientSecret": "@Model.Settings.ApiClientSecret",
        "trackJsToken": "@Model.Settings.TrackJsToken",
        "markerIoToken": "@Model.Settings.MarkerIoToken"
    }
    </script>
    <webpack-script file-name="runtime.js"></webpack-script>
    <webpack-script file-name="vendors.js"></webpack-script>
    <webpack-script file-name="contentbuilder.js"></webpack-script>
    <webpack-script file-name="ContentBuilder.js"></webpack-script>
</body>
</html>
